[2020-07-05 19:49] rougier commented on #90
Ok. I'll try to find some time (and/or student) this summer to do the transition if everyone agrees.
@khinsen @benoit-girard @pdebuyl Any opinion ?

[2020-07-06 06:38] khinsen commented on #90
I am all for attempting this transition, but I can't contribute much to it unfortunately, having none of the required technical competences and too many prior obligations for the coming months. What I can contribute to, however, is testing prototypes.

How about setting up a "dummy ReScience" as a prototype? A completely separate structure, attached to another GitHub organization. And do the trans

[2020-07-06 06:41] khinsen commented on #91
How do other online-only journals handle this? Errata are a technique from the print era.

[2020-07-06 08:19] rdicosmo commented on #91
Thanks everybody for looking into this: I'm sorry for taking your time on this issue, but it's an opportunity to look at the policy for fixing errors in published articles.

In my experience, traditional "errata" are published when a substantial mistake has been found in a published article: this may be a wrong theorem, a wrong proof of a theorem, etc.

When we are confronted with material errors

[2020-07-06 08:43] rougier commented on #91
For the record (and from the printing era), we have the choice between:

* (1) addendum
* (2) clarification
* (3) correction
* (4) corrigendum
* (5) erratum
* (6) expression of concern
* (7) new edition
* (8) new version
* (9) partial retraction
* (10) removal
* (11) retraction
* (12) withdrawal.
* (13) full retraction

[2020-07-06 10:22] pdebuyl commented on #91
Zenodo offers "versioned DOI" that point to the most recent version of a record while listing the earlier versions. This can be helpful here, remembering of course that the process must be transparent to our readers.

[2020-07-06 14:08] khinsen commented on #91
That's what I had in mind on the Zenodo side. The question is how the present the update within ReScience. In @rougier's 13-point list, I think we are at 3) correction, though as @rdicosmo explained, this is really a type of correction that didn't exist in the print era. I'd assimilate this to a wrong page number in a literature reference.

[2020-07-06 21:02] oliviaguest commented on #90
I am happy to help if/when I can!

[2020-07-07 10:14] rdicosmo commented on #91
On Zenodo they published a policy that seems relevant to this particular case, see https://help.zenodo.org/

**Can I change the file in the already published record?**
<snip>
The recommended way is to create a new version of a record (more details available here). <snip>
Exceptionally, we allow small modifications to the record's files, if and only if the record was published recently (less than o

[2020-07-08 20:01] rougier commented on #91
We can try this solution for Roberto's article (contacting Zenodo) but we should also think about an official guideline for errata/addendum/etc. @konrad can you try to contact zenodo since you edited the article ?

[2020-07-08 20:17] broukema opened #92 "Is there a risk with hash rather than page in the official bibliometric data?"
In officially published _ReScience C_ articles, I see a _Number:_ field with a value such as <code>#1</code> or <code>#2</code> instead of a page number, e.g.

https://rescience.github.io/bibliography/Upshall_2020.html

https://rescience.github.io/bibliography/BoMahmoudianck_2020.html

Presumably the motivation is that readers are not going to physically flip through N earlier pages to get to the

[2020-07-08 20:38] konrad commented on #91
Hey @rougier - you mentioned the wrong Konrad - you meant @khinsen, I guess. :)

[2020-07-09 05:37] rougier commented on #92
Thanks for this comment and I think we did not really investigate if this would pose problem or not. The reason to not have real pages is that it doesn't make really sense when you don't print the journal and we decided to use is for article number instead. Using the `#` make the number sufficiently different from volume and issue and I think this was the only reason. Concerning bibliometry collec

[2020-07-09 06:59] khinsen commented on #91
Since the article has been published more than a week ago, I have uploaded the corrected article as a new version on Zenodo. The versioned DOI is https://doi.org/10.5281/zenodo.3763415, it resolves to a landing page that shows the new version along a list of all versions. This looks good to me.

On the ReScience side, the open question is what should appear on the article's main page at https://re

[2020-07-09 09:31] rougier commented on #91
The landing page is generated from the bibtex entry in [_bibliography/published.bib](https://github.com/ReScience/rescience.github.io/blob/sources/_bibliography/published.bib). If you modify Roberto's entry, that should be fine (but I would nee to rebuild the website though).

[2020-07-09 09:42] pdebuyl commented on #48
I claim Volume 6, issue 1, Number 11 for https://github.com/ReScience/submissions/issues/41

[2020-07-09 13:32] khinsen commented on #91
@rougier OK, so that means I can change the DOI but I cannot add information about the update having happened, right? It would be accessible on Zenodo (for those who click on the DOI rather than on the PDF link), plus of course in the git log of the Web site, but not in any obvious hard-to-miss place.

For this particular correction I don't see a problem with that, but if we ever get a case of a m

[2020-07-09 14:58] rougier commented on #91
We can add a `note` or field  in the bib item and I can update the paper template to show it.

[2020-07-09 17:22] broukema commented on #92
My guess is that only a few organisations have easy-to-find methods of adding journals, and most would probably require email or other online individual contact:
* make a list of the main website of bibliometry collectors:
    * Onex/Baring Private Equity Asia/Clarivate Analytics = https://webofknowledge.com (needs authentication, e.g. through your university) - https://clarivate.com/ - aka Web of

[2020-07-09 21:40] teto1992 commented on #27
[Stefano Forti](https://github.com/teto1992)
Fog and Cloud computing, IoT, application management - Java, Python, Prolog,  F#, C/C++
ORCID: [0000-0002-4159-8761](https://orcid.org/0000-0002-4159-8761)

[2020-07-10 16:43] khinsen commented on #91
@rdicosmo There is a problem with the PDF file you sent me: it contains the DOI of the original version. This actually looks like a tricky issue because I don't see a way to pre-reserve a new DOI when updating a file, only when uploading a new one. I'll check with Zenodo if they have a solution, but that may take a while, sorry.

[2020-07-11 13:30] rougier commented on #92
Thanks for the list. I think the priority for us now is to get indexed by Google Scholar since a lot of authors is asking it and the plan is to switch to the open journals platform (JOSS, JOSE). I think they use a different naming scheme that we can use.

[2020-07-15 11:29] pdebuyl commented on #90
I support the idea to transition but haven't much time to assist in the coming weeks.

[2020-07-15 11:32] pdebuyl commented on #63
Given the age of the issue *and*, of course, the opposition between ReScience's ideals and the business model of Clarivate we can close this?

[2020-07-15 16:09] pdebuyl opened #93 "Mention type of open access"
ReScience provides the "best" (in my opinion) type of open access: neither authors nor readers pay.

According to Wikipedia (and following the issue here https://github.com/openjournals/joss/issues/775 ) this is diamond or platinum open access. We could add this to the presentation of the journal.

[2020-07-15 16:18] #63 closed

[2020-07-16 07:55] khinsen commented on #91
Update done!  DOI reservation actually works fine on Zenodo, but you need to be careful at each step. I find it a bit counter-intuitive to have a button "reserve DOI" that leads to the reserved DOI being shown above the button, as if it had been there before.

In summary, here is what I did:
 - Find the upload on Zenodo, click "new version".
 - Click on the "reserve DOI" button and note the new DO

[2020-07-16 07:57] khinsen commented on #91
@rdicosmo I have opened an issue with the new DOI on your article repository at gitlab.iniria.fr (profiting from having an account there).

[2020-07-19 21:47] da5nsy commented on #27
[Daniel Garside](https://github.com/da5nsy)
Colour/Color Science, Visual Neuroscience, Lighting Engineering - MATLAB, Python
ORCID: [0000-0002-4579-003X](https://orcid.org/0000-0002-4579-003X)

[2020-07-21 09:23] oliviaguest commented on #93
That seems like a good idea. In what way add it?

[2020-07-21 09:26] oliviaguest commented on #91
@khinsen do we want to write this up for others to make use of in the future as a way of correcting articleS?

[2020-07-21 09:28] pdebuyl commented on #93
What comes to mind: the README of the ReScience repo https://github.com/ReScience/ReScience, the homepage and FAQ of the website.

[2020-07-21 09:34] oliviaguest commented on #93
Yes, I agree. Do you want to do a PR?

[2020-07-21 09:52] pdebuyl commented on #93
done

[2020-07-24 20:16] karthik commented on #48
I claim Volume 6, issue 1, Number 12 for ReScience/submissions#18

[2020-07-27 15:14] oliviaguest commented on #48
I claim Volume 6, issue 1, Number 13 for ReScience/submissions#25

[2020-07-28 08:07] rougier commented on #91
Might be a good idea to keep some notes abut this yes. Problem is I don't know where exacty.

[2020-08-02 09:51] khinsen commented on #91
I'd say it makes sense to add this to https://github.com/ReScience/articles/blob/master/README.md, which is where we have technical instructions for editors. If you agree I'll add a section this week.

[2020-08-04 15:29] otizonaizit commented on #48
I claim Volume 6, issue 1, Number 14 for https://github.com/ReScience/submissions/issues/37

[2020-08-10 12:53] khinsen commented on #91
See https://github.com/ReScience/articles/pull/15. reviews welcome!

[2020-08-11 14:44] bengioe commented on #27
[Emmanuel Bengio](https://github.com/bengioe)
[Machine|Reinforcement|Deep] Learning - Python
ORCID: [0000-0002-3257-4661](https://orcid.org/0000-0002-3257-4661)

[2020-08-18 15:51] khinsen opened #95 "Depositing ReScience articles in preprint archives"
@ReScience/editors Following @broukema's experience (see https://github.com/ReScience/ten-years/issues/2), should we add some recommendation about submission of articles to preprint archives to our instructions for authors? Depositing ReScience C papers elsewhere sounds like a good and cheap way to get more attention, both for the paper and for ReScience C.

[2020-08-20 19:58] HaoZeke commented on #27
[Rohit Goswami](https://github.com/HaoZeke)
Molecular Dynamics, DFT and Quantum Chemistry, Computational Photonics, ML/AI (related to the previous topics), Graph Networks - C/C++, Fortran, Python, Julia
ORCID: [0000-0002-2393-8056](https://orcid.org/0000-0002-2393-8056)

[2020-08-21 07:08] rougier commented on #95
I agree we could do that. Note that we're also in the process of moving to JOSS infrastructure with proper referencing from Google Scholar.

[2020-08-21 07:18] labarba commented on #95
hey, @rougier -- what do you mean by "int he process of moving to JOSS infrastructure"? Are you cloning the whole tooling, and re-hosting under your own domain? Or is ReScience coming under The Open Journals umbrella? I believe only the latter will give you immediate Google Scholar indexing. We worked over a couple of years to get TheOJ recognized as a legit publisher by the Scholar team, with a b

[2020-08-21 07:39] rougier commented on #95
It is not yet clear actually. @karthik told us (https://github.com/ReScience/articles/issues/11) he was in the process of generalizing JOSS and ReScience C might be part of the process. I guess we would go for the simplest option as long as we can keep the rescience.github.io domain.

[2020-08-21 08:04] khinsen commented on #95
@rougier I wasn't that much thinking of Google Scholar, which is an issue we should tackle at the ReScience level. But preprint servers are gaining in popularity, and I see more and more scientists keeping an eye on their domain's dominant preprint server, so this is a good way for ReScience articles to get noticed.

BTW, I am not proposing that we do the submissions (on some servers that would ev

[2020-08-26 04:42] ebo opened #96 "Will you continue to have this contest next year?"
I have a landscape fragmentation simulator I wrote back in the mid 90's.  In 2000 a grad student asked for the data to compare a new fragmentation metric against.  I was able to rebuild not only my code, but also the entire C.A.S.E. tool from source as well.  The last time I rebuilt that code was maybe 2008.  For various reasons I may have a need to go back and rebuilt that code for a new project,

[2020-08-28 12:42] khinsen commented on #96
First of all, it's not a contest but a challenge. No competition, no losers, only winners!

What follows is my personal view. Other @ReScience/editors may well have different ones, so I hope they will comment as well.

I see the ten-year challenge as a one-time event, so my direct answer to your question is no. However, I am all for establishing reproduction attempts as a new permanent category of

[2020-08-28 17:24] ebo commented on #96
On Aug 28 2020 6:42 AM, Konrad Hinsen wrote:

You are right.  I should have called it a challenge and not a contest.
Sorry about that.  I much prefer the science challenge.

Regardless of ReScience happening again, rewriting that software in
deep on my todo list.  I will make a point to keep in it in mind as I
replicate the early work, as part of rewriting the algorithms in a new
language.

I wish

[2020-08-29 14:11] pdebuyl commented on #96
@khinsen would there be a time delay for the regular submission as well? In the sense that authors could only submit 10+ years old code?

[2020-08-31 08:55] rougier commented on #96
We now have a new submission category "reproduction report" where the goal is to try to re-run the code of a paper. This would used extensively for future repro-hacks. In case of self reproduction, we might condition it with a time period (like 5 or 10 years) just ot avoid the case of people submitting a reproduction report on a code published a month ago.

[2020-08-31 08:58] oliviaguest commented on #96
Sorry if I missed this, but do we have a list of article types on the website? Would be nice to list them, maybe here: http://rescience.github.io/write/ ?

[2020-08-31 09:16] rougier commented on #96
😱 Oh my, I totally forgot this part... It's written when you submit: https://github.com/rescience/submissions/issues/new/choose but we should definitely have it on the write section.

[2020-08-31 14:17] ebo commented on #96
@rougier, I will keep it in mind when I see if I can reproduce the work.  Out of curiosity, my understanding of the challenge/purpose is to run the original code.  Since the code originally depended on an engineering CASE tool, is it required that I rebuild all of that as well, or just hack the algorithms so that it uses different libraries and the like?  I will try to get Khoros (the CASE tool) t

[2020-08-31 16:25] khinsen commented on #96
@rougier I had some vague memories of this, but I couldn't find it in the author instructions...

I'd say the only open question is minimal age. Judging from my personal experience, I'd say 5 years for your own code and 2 years for someone else's code. But it's well possible that others find different "critical" ages.

[2020-08-31 19:49] pdebuyl commented on #96
@ebo my take is that you should try to run the original code and comment on the changes along the way. I don't know if a full rewrite would qualify. @ReScience/editors ?

@khinsen 5 years seem fine for one's own code. That's comparable to a PhD in duration, the length of an ERC grant (which is the time unit in today's academia), etc.

[2020-08-31 20:19] amyzhang commented on #27
[Amy Zhang](https://github.com/amyzhang)
Reinforcement Learning - Python
ORCID: [0000-0002-4061-5582](https://orcid.org/0000-0002-4061-5582)

[2020-09-01 06:20] khinsen commented on #96
@pdebuyl That's one of the questions we'd need to address, drawing on the experience of the ten-year challenge.

The conclusion I have drawn so far from the challenge is that there is no clear borderline between reproduction and replication. If you consider that everything required to compute a set of results is code, including the procedure to install the software, then pure reproduction, i.e. wr

[2020-09-01 07:40] rougier commented on #96
I think the difference between replication and reproduction is the starting point. For a replication, you start from the original article and try to write a new implementation out of it, possibly with the help of the original code (if available) when necessary (values not documented, data not available etc.). For a reproduction, you start with the original code (that needs to be available) and you

[2020-09-09 08:15] oliviaguest commented on #48
I claim Volume 6, Issue 3, Number 3 for ReScience/submissions#30

[2020-09-09 19:42] oliviaguest commented on #48
I claim Volume 6, Issue 3, Number 4 for ReScience/submissions#10

[2020-09-10 05:20] rougier commented on #48
I claim Volume 6, Issue 3, Number 5 for https://github.com/ReScience/submissions/issues/15

[2020-09-15 07:27] rougier commented on #48
I claim Volume 6, Issue 1, Number 15 for https://github.com/ReScience/submissions/issues/16

[2020-09-23 07:35] JasonGUTU commented on #27
[Jinjin Gu](https://github.com/JasonGUTU)
Computer Vision and Image Processing - Python
ORCID: [0000-0002-4389-6236](https://orcid.org/0000-0002-4389-6236)

[2020-10-15 20:42] gdetor commented on #48
I calim Volume 6, Issue 1, Number 16 for [ReScience/submissions#35](https://github.com/ReScience/submissions/issues/35)

[2020-10-22 17:16] sara-02 commented on #27
[Sarah Masud](github.com/sara-02)
ML, NLP, Computational Social Science - Python
ORCID: [0000-0003-2668-5581](https://orcid.org/0000-0003-2668-5581)

[2020-10-27 12:14] otizonaizit commented on #48
I claim Volume 6, Issue 3, Number 6 for https://github.com/ReScience/submissions/issues/45

[2020-11-01 11:29] #31 closed

[2020-11-03 15:31] koustuvsinha commented on #48
I claim Volume 6, Issue 3, Number 7 for https://github.com/ReScience/submissions/issues/44

[2020-11-03 20:02] ThomasA commented on #48
I claim Volume 6, Issue 1, Number 17 for https://github.com/ReScience/submissions/issues/27

[2020-11-25 14:20] khinsen commented on #48
I claim Volume 6, Issue 1, Number 18 for https://github.com/ReScience/submissions/issues/21

[2020-11-27 10:03] andreas-enge opened #97 "Italic fonts"
Hello,

I would like to propose the attached patch to rescience.cls. It enables italic fonts in more places (the abstract, for instance).

Andreas
[rescience-cls.txt](https://github.com/ReScience/ReScience/files/5607177/rescience-cls.txt)

[2020-11-27 15:03] andreas-enge commented on #97
Actually I realise that only the first hunk of the patch still applies, but this is also the only one that I have tested (using some italic text in an abstract).

[2020-11-28 10:20] rougier commented on #97
@andreas-enge Best would be to make a pull request at https://github.com/ReScience/template/blob/master/rescience.cls. But from your patch, you're only modifying Source Code Pro (for listing) and Roboto Condensed (for section titles). If you mean the abstract, maybe this won't work.

[2020-12-11 10:41] andreas-enge commented on #97
Am Sat, Nov 28, 2020 at 02:20:32AM -0800 schrieb Nicolas P. Rougier:

I made a pull request with only the change for Roboto Condensed, which is
apparently used in the abstract - I checked that it avoids this warning
   LaTeX Font Warning: Font shape `TU/RobotoCondensed(0)/m/it' undefined
   (Font)              using `TU/RobotoCondensed(0)/m/n' instead on input line 85.
for my 10-years-challenge ar

[2020-12-12 09:17] rougier commented on #97
Merged !

[2020-12-12 09:17] #97 closed

[2021-01-13 14:51] RPanczak commented on #27
[Radoslaw Panczak](https://github.com/RPanczak)
Epidemiology, Geography - R, Stata
ORCID: [0000-0001-5141-683X](https://orcid.org/0000-0001-5141-683X)

[2021-01-22 00:16] FlukeAndFeather commented on #27
[Max Czapanskiy](http://www.github.com/FlukeAndFeather)
Ecology, geogrpahy - R, Python
ORCID: [0000-0002-6302-905X](https://orcid.org/0000-0002-6302-905X)

[2021-01-25 09:58] rougier commented on #48
I claim Volume 6, Issue 3, Number 8 for https://github.com/ReScience/submissions/issues/10

[2021-01-25 18:35] ovipaul commented on #27
[Ovi Paul](https://github.com/ovipaul)
Machine Learning, GIS, Remote Sensing - Python, C++
ORCID: [0000-0002-7333-9203](https://orcid.org/0000-0002-7333-9203)

[2021-01-29 15:05] epogrebnyak commented on #93
Maybe ther shoudl have been a link to wikipedia attached to [platinum](https://en.wikipedia.org/wiki/Open_access#Diamond/platinum_OA) as well? The OA field is new and terminology is not as common.

[2021-02-04 11:32] Kahsius opened #98 "Use of Gitlab"
Hello all,

I would like to know if you accept the use of Gitlab as a repository for the presented code.
Regarding what is written in the metadata.yaml file, the code requires a DOI, which we can get through Zenodo for Github repositories. However I haven't figured out how to get one for Gitlab repositories.

To sum up:
- is the DOI for the code mandatory ?
- if yes, how can I get one for my Gitla

[2021-02-05 09:14] khinsen commented on #98
When you say "GitLab", do you mean http://gitlab.com/, or some GitLab site hosted elsewhere?

There is no problem with using GitLab either way, we have had such submissions already (see e.g. https://github.com/ReScience/submissions/issues/22 or https://github.com/ReScience/submissions/issues/32, which both refer to code stored an on an instutional GitLab instance). What matters is that the reposit

[2021-02-05 16:00] Kahsius commented on #98
It totally answers my question, thank you very much !

[2021-02-05 16:00] #98 closed

[2021-02-08 10:02] rougier commented on #93
@epogrebnyak Good point, can you make a PR?

[2021-02-08 19:50] epogrebnyak commented on #93
@rougier , here is #99

[2021-02-08 19:52] epogrebnyak commented on #93
No anchor to subheader seems available, just article link

[2021-02-09 18:22] #93 closed

[2021-02-16 13:24] benoit-girard commented on #48
I claim Volume 6, Issue 1, Number 19 for ReScience/submissions#28

[2021-02-18 16:08] adamltyson commented on #27
[Adam Tyson](https://github.com/adamltyson)
Neuroscience & Image analysis - Python, MATLAB
ORCID: [0000-0003-3225-1130](https://orcid.org/0000-0003-3225-1130)

[2021-02-23 06:44] alex-louvet commented on #11
I am especially interested in the answer to the situation

I have been working on reproducing some work and got a fully functional code for the reporoduction. However I highly underestimated the computing power requirements needed to fully replicate the original work and I don't have access to such power.

What is the publication policy regarding that matter?

[2021-03-01 07:39] rougier commented on #11
Can you open a new issue with possibly some details about your work?

[2021-03-01 07:48] alex-louvet commented on #11
I am working on maybe finding a way to at least partially replicate the experiment. I'll open the issue when I'll have fully determined whether or not I'll be able to do that. Anyways, thank you for the answer

[2021-03-01 08:22] rougier commented on #11
Ok, but feel free to open a new isuer. We actually do not have a lcear answer and your issue might be the opportunity to decide on how to handle such case (this initial issue is 6 years old and might need some refresh on recommendation)

[2021-03-09 13:46] benoit-girard commented on #48
I claim Volume 7, Issue 1, Number 1 for https://github.com/ReScience/submissions/issues/8

[2021-03-09 15:03] benoit-girard commented on #48
I claim Volume 6, Issue 1, number 20 for https://github.com/ReScience/submissions/issues/39

[2021-03-18 10:04] rougier commented on #48
I claim I claim Volume 6, issue 1, Number 21 for https://github.com/ReScience/submissions/issues/40

[2021-03-24 07:35] rougier commented on #48
I claim Volume 7, Issue 1, Number 2 for https://github.com/ReScience/submissions/issues/47

[2021-03-31 16:06] koustuvsinha opened #100 "Requesting repository for processing ML Reproducibility Challenge 2020 Accepted papers"
As in [our last iteration](https://github.com/ReScience/NeurIPS-2019), this year we would also be glad to have a repository under ReScience org where we can conduct editorial duties on the accepted papers. Requesting a repository for the same! Thanks!

[2021-03-31 16:27] rougier commented on #100
Done: https://github.com/ReScience/NeurIPS-2020 (you're admin)

[2021-03-31 16:27] #100 closed, assigned to rougier

[2021-03-31 17:17] koustuvsinha commented on #100
Thanks so much! :)

[2021-04-01 09:48] CoraliePicoche opened #101 "Original author as a co-author of the replication"
Dear Editors,

We are currently replicating an article containing both an analytical study of a partial differential equation and computer simulations of an agent-based model. We were able to replicate agent-based simulations on our own. However, for the partial differential equation in the original paper (1 line), neither the derivation nor the solutions were given, while they actually rely on ~

[2021-04-01 10:37] rougier commented on #101
Since he significantly contributed to the replication, I do not see any reason to exclude him (provided you give some explanation in the paper). @khinsen @oliviaguest @benoit-girard Thought?

[2021-04-01 10:51] rougier opened #102 "Board diversity"
The current editorial board is not very diverse in its composition and I think we should work on that. Also, some editors have been with the journal from its very beginning and we could also have an option to propose to "retire" (if they want), maybe with an alumni section to recognize their role. It's a bit different for reviewers because this is on a voluntary basis (reviewers register themselve

[2021-04-01 16:22] khinsen commented on #101
The issue is the condition "you cannot submit the replication of your own research, nor the research of your close collaborators" in our [author guidelines](https://rescience.github.io/write/), so the question is basically if we still consider them important as initially written (before ReScience C started operation).

The goal of that clause was to ensure independent replication, but perhaps we w

[2021-04-01 16:31] khinsen commented on #102
More generally, we should consider adopting some guidelines for the governance of ReScience C (avoiding bureaucracy of course, which is why I say "guidelines" rather than "rules"). We have been operating in pioneer mode until now, which is what it takes to get an experiment off the ground, but it's probably not a good mode of operation in the long run.

Given that I have no idea of which governanc

[2021-04-10 14:23] oliviaguest commented on #102
A CoC might be good. And the related discussion around how we detect and remove potential bad actors.

[2021-04-10 14:29] oliviaguest commented on #101
Do we currently ask for CRediT author statements? E.g., see: https://onlinelibrary.wiley.com/doi/abs/10.1002/leap.1210

[2021-04-10 15:07] oliviaguest commented on #101
Oh, and: https://github.com/all-contributors/all-contributors

[2021-04-10 15:08] labarba commented on #101
What was the rationale for excluding replication studies that involve the original authors or their collaborators? I can think of no academic integrity concern arising from that situation. It seems to be equating a replication to a peer review, or something like that. Why?

I have one article with a PhD student that replicates previous results of another PhD student in my group (so I'm co-author i

[2021-04-10 17:48] rougier commented on #101
The main reason was to avoid genuine errors to be replicated. If, for example,  you commit an error in the original code, chances are that during the replication, you might commit the same error even if the language is different (for example, wrong integration method because of some conditions). In such case, having a new pair of eyes might help. New pair means this can be the original author prov

[2021-04-10 17:51] rougier commented on #101
@oliviaguest Not at all, but I wonder how we could use it for a replication or repdroduction.

[2021-04-10 18:53] oliviaguest commented on #101
It's useful in the case of people having divergent contributions/roles for these things to be noted explicitly. Like so-and-so did the coding, and such-and-such did the writing of the documentation, and we all wrote the paper, etc. Get me? Because then you can easily spot if so-and-so did the coding in both projects/versions of the model/codebase, etc?

[2021-04-11 06:27] rougier commented on #101
Yes, we can introduce that. In fact, for some JOSS review, when I see an author without commits, I generally ask first author what did he.she do in the work.

[2021-04-12 06:35] rougier commented on #102
I'm not too fond of CoC.

[2021-04-12 07:54] labarba commented on #102
JOSS asks authors and reviewers to [adhere to a CoC](https://joss.theoj.org/about#code_of_conduct). [NumFOCUS projects](https://numfocus.org/projects-overview) are required to have a Code of Conduct (CoC), and the Open Journals is a NumFOCUS project. If ReScience joins TheOJ, my guess is that at least adherence to the same CoC as JOSS will be required.

[2021-04-12 11:12] oliviaguest commented on #102
What's wrong with guidelines for conduct?

[2021-04-12 18:37] khinsen commented on #102
@oliviaguest Speaking strictly for myself: CoCs are such a divisive topic that the very proposition to introduce them can provoke the kind of harm they aim to prevent. Which for me means that that we don't really understand yet how to manage online communities. One obvious difficulty is where to place a CoC on the scale from "guideline" to "enforcable rule". And the more it moves towards enforcabl

[2021-04-12 19:04] ctb commented on #102
I would be dismayed if the official position of ReScience is that we don't need a CoC. Some kind of guidelines and enforcement of those guidelines are core aspects of any formal community.

It's a pretty well trodden space and I'd point you at the Carpentries and the Python Software Foundation as two communities that have put a lot of time and effort into thinking through both the CoC terminology

[2021-04-12 20:30] oliviaguest commented on #102
We surely need guidelines for behaviour that are openly accessible and transparent, like a CoC. Otherwise, the rules are left implicit and enforceable only as a function of the willpower and current opinion each person has. That seems way more open to abuse than a set of ideas on how to behave we can all openly and explicitly discuss.

[2021-04-13 05:30] khinsen commented on #102
@ctb Again speaking only for myself: My position is not that ReScience won't even need a CoC, but that (1) we have done pretty well without one so far and (2) I have no idea which type of CoC would be best for us in the long run.

Also, survivor bias goes both ways. Communities that do adopt a CoC don't count the people who are turned away by that CoC. And those are not all potential harassers tha

[2021-04-13 08:10] oliviaguest commented on #102
Sure, I agree that you should keep thinking about it. Here's an example of us discussing CoC-like issues (although not about behaviour) just fine: https://github.com/ReScience/ReScience/issues/101; so I have faith in us being able to do it. 😊

[2021-04-13 14:28] khinsen commented on #102
For information, here is the JOSS CoC: https://github.com/openjournals/joss/blob/master/CODE_OF_CONDUCT.md

It refers to "project maintainers" in several places, as the people responsible for enforcing the CoC. But I can't find a definition of who those project maintainers are. Perhaps the editorial board, or some subset of it?

[2021-04-13 18:29] rougier commented on #102
Maybe I should have add the precision that I was speaking for myself. If ReScience C joins the open journals, we'll adhere to the CoC.

[2021-04-13 18:39] oliviaguest commented on #102
@labarba knows more than me, but I think it's one of the roles each person takes within a project (not a person working for the journal). So in the same way you have a person who writes the manuscript, you have a "project maintainer". Please correct me if I am wrong though, of course! 😅

[2021-04-14 08:03] khinsen commented on #102
Can't say if you are right or wrong, but I wonder how many people actually read the JOSS CoC, if a basic issue such as who is assigned responsibilities isn't clear. Full disclosure: as a JOSS reviewer, I have accepted the CoC without reading it, like I do with other legal documents of the Internet age.

[2021-04-14 11:01] oliviaguest commented on #102
Is it actually about reading it (of course useful and maybe needed often) but more about it being there *when it is needed*?

[2021-04-14 16:04] khinsen commented on #102
When it's needed it's too late to proofread and fix it. And that's a symptom of the problem I see with the current CoC fashion. If and when CoCs are actually needed, people will realize that setting up a formal governance and jurisdiction system that works is enormously more complicated than writing a CoC. When you cross the borderline from mere guidelines to enforcable rules, you need not only ru

[2021-04-14 16:53] oliviaguest commented on #102
Ah, we have a very different philosophy. I see it as a constant dialogue.

[2021-04-15 05:57] rougier commented on #102
Maybe we should open a new issue on CoC matter because the initial topic of the issue was about the limited board's diversity and how to fix that.

[2021-04-15 07:48] oliviaguest commented on #102
Sure, although... I think having a clear CoC and other transparent documentation is part of it.

[2021-04-15 08:51] rougier commented on #102
Yes, but since we intend to move to theoj.org, is it worth writing one for the transition period?

[2021-04-16 10:05] CoraliePicoche commented on #101
Thank you very much for all your answers, this was really helpful.
We will keep in mind that we can have our colleague as a co-author, and give the details of the contributions of everyone.

[2021-04-16 12:46] rougier commented on #101
@CoraliePicoche Perfect. I close the issue then, feel free to re-open if needed.

[2021-04-16 12:46] #101 closed, assigned to nobody

[2021-04-17 05:31] MiWeiss commented on #27
[Michael Weiss](https://github.com/MiWeiss)
Software Engineering, Deep Learning - Java, Python
ORCID: [0000-0002-8944-389X](https://orcid.org/0000-0002-8944-389X)

[2021-04-19 08:10] oliviaguest commented on #102
Fair point!

[2021-05-10 13:18] rgrunbla commented on #27
[Rémy Grünblatt](https://github.com/rgrunbla)
Communication Networks, Network Simulation - Shell, Rust, C, C++, Python
ORCID: [0000-0002-9146-9888](https://orcid.org/0000-0002-9146-9888)

[2021-05-10 13:47] randria commented on #27
[Richard Randriatoamanana](https://github.com/randria)
Infrastructure System Development (HPC & AI), Full Stack Integration/Deployment - Shell/Bash, Slurm, C, C++, Regex, API
ORCID: [0000-0001-5546-242X](https://orcid.org/0000-0001-5546-242X)

[2021-05-11 06:18] MiWeiss opened #103 "Scopus Indexing Requirements / Recommendations"
As mentioned here, ReScience is not indexed by Scopus (nor by anyone else): https://github.com/ReScience/ReScience/issues/82#issuecomment-496805815

I recently stumbled over [https://www.readyforscopus.com/](https://www.readyforscopus.com/) and thought it might be a good idea to put down the points it mentions for a scopus pre-evaluation in an issue here. ReScience is great and in the long term it

[2021-05-11 06:23] MiWeiss commented on #103
I added the obvious checkmarks. For many, I was not sure. @ReScience/editors feel free to check any checkmark that you see fulfilled directly in the post above.

[2021-05-12 10:08] khinsen commented on #103
Thanks @MiWeiss for exploring this in depth! We are currently exploring very seriously the adoption of the [Open Journal platform](https://www.theoj.org/). That would add a few more checkmarks to your list (in particular the DOI), and we could work on a few other points, in particular adding statements to the Web site, as part of the migration.

The confidentiality requirement seems not a problem

[2021-05-17 08:24] rougier commented on #103
Many thanks for your very instructive and detailed post. As @khinsen mentioned, we should migrate to the Open Journal platform (this year hopefully) and we should benefit from Google indexing but having also Scopus would be nice. I suggest to leave this thread open such that we can come back once migration is done.

[2021-05-19 10:10] rougier commented on #48
I claim Volume 7, Issue 1, Number 3 for ReScience/submissions#52

[2021-05-23 19:55] eroesch commented on #48
I claim Volume 7, Issue 1, Number 4 for [ReScience/submission#17](https://github.com/ReScience/submissions/issues/17)

[2021-05-26 23:49] koustuvsinha commented on #48
I claim Volume 7, Issue 2, Numbers 1-24 for [ML Reproducibility Challenge 2020](https://github.com/ReScience/RC-2020/)

[2021-06-12 13:05] formozov commented on #27
[Andrey Formozov](https://github.com/formozov)
Particle Physics, Neuroscience, Interdisciplinary Research - C++, Python
ORCID: [0000-0001-8935-8612](https://orcid.org/0000-0001-8935-8612)

[2021-06-14 09:00] rougier commented on #48
I claim Volume 7, Issue 1, Number 5 for https://github.com/ReScience/submissions/issues/46

[2021-06-20 05:05] hkashyap commented on #27
[Hirak Kashyap](https://github.com/hkashyap)
Computer Vision, Computational Neuroscience - Python
ORCID: [0000-0003-0191-9337](https://orcid.org/0000-0003-0191-9337)

[2021-06-21 15:39] khinsen opened #104 "Reproducibility of HPC replications"
A note to @ReScience/editors: our [first submission](https://github.com/ReScience/submissions/issues/55) of a paper based on high-performance computations is currently under review, and raises the question of how to verify the reproducibility of work that requires exceptional computing resources.

Feel free to comment (here or there, as you see appropriate) if you have suggestions or comments on h

[2021-06-21 16:51] rougier commented on #104
Actually this is the second submission. We also have the same problem with https://github.com/ReScience/submissions/issues/53.

[2021-06-21 19:07] khinsen commented on #104
Thanks @rougier for the pointer! I see I was even mentioned in that discussion, and yet I never got notifications and thus never looked at the thread before.

[2021-06-21 19:15] khinsen commented on #104
I see basically two issues with HPC projects:
1. access to computational resources
2. effort required from reviewers to do a reproduction attempt

In the submission I am handling, I have decided to address (2) by doing that part myself. More generally, the approach would be to have a third reviewer specifically working on that part. Someone who would not necessarily have the domain expertise to re

[2021-06-22 06:44] rougier commented on #104
Another option is to trust the author that he ran simulation to get the results.

[2021-06-22 09:54] khinsen commented on #104
I never had a doubt about that so far. The point of reviewing reproducibility is to check if someone else can get the same result, and thus potentially adapt the software for similar tasks.

[2021-06-22 20:40] benureau commented on #104
For HPC computations that require a lot of modest-size jobs, one possibility would be for the submission to:
- submit all the result data obtained from the HPC computation (on a platform like figshare or zenodo).
- make it easy for the code to reproduce an arbitrary job (as in, on a desktop, without a HPC cluster).
- the reviewer is expected to reproduce a small set of random jobs and compare them

[2021-06-23 08:00] khinsen commented on #104
Thanks @benureau, that sounds like something worth trying. We'd ask authors submitting HPC-style work to provide a toy version of their computation for reviewing. Ideally, running the toy version would differ only in some run-time parameter from running the real stuff, such that reviewers could more easily judge how similar the two are, by reading the workflow code.

[2021-06-23 08:56] alegrand commented on #104
If the computation workload is not too large, it would make sense for the reviewers to request an access to https://www.grid5000.fr/w/Grid5000:Home, which is designed to support Open Science and reproducible research.
This topic was somehow mentioned this year in a seminar given for the rebuttal process of SC. It appears like accessing resources like Xsede for such purposes is not only possible bu

[2021-06-28 08:20] oliviaguest commented on #104
Just in case this is useful to the discussion, see: https://github.com/ReScience/submissions/issues/53#issuecomment-868691108 by @NishantPrabhu. I am also certain JOSS has a way of dealing with this, by the way... if we want to tag people from there?

[2021-06-28 13:00] khinsen commented on #104
JOSS experience would definitely be of interest, but I have no idea who might be involved with this. In general, I'd expect JOSS to have less of an issue with long computations, since JOSS reviews software rather than real-life use cases. But non-standard machines are probably a shared issue.

[2021-06-30 16:40] oliviaguest commented on #104
You are totally correct, yup. I've asked people in the JOSS Slack, in case anybody has anything relevant to contribute (I assume they do).

[2021-06-30 17:20] diehlpk commented on #104
I can provide some perspective from some reproducibility committee, I serve on. For large work loads where the run took days or weeks, it is not possible to reproduce these runs or runs with many computational nodes. However, one could reproduce some smaller runs and check to see a trend with the larger runs. For specialized hardware, the author is asked to provide access to the reviewers with som

[2021-07-03 12:03] khinsen commented on #104
Thanks @diehlpk! I think it is important to consider *why* one is verifying reproducibility. If it's a guard against mistake or fraud by the authors, the Zoom demonstration is helpful, but if it's primarily to ensure that others can build on the work, then reproducibility must be operational. But a toy version would still be good enough, and pragmatically even more useful.

[2021-07-03 13:14] diehlpk commented on #104
@khinsen The Zoom demonstration should be the last resort, if they use a very specialized hardware, e.g. FGPA as accelerator cards or Power9 architecture or some proprietary complier. In that case it can be very difficult to find reviewers having access to these things. So I think in that case the Zoom session is better than nothing. For sure all other options should be explores first.

[2021-07-06 12:06] romain-jacob commented on #27
[Romain Jacob](https://github.com/romain-jacob)
Communication Networks, Computer Networks - Python, C, P4, MATLAB
ORCID: [0000-0002-2218-5750](https://orcid.org/0000-0002-2218-5750)

[2021-07-11 07:45] khinsen commented on #104
A preprint related to this topic: [Reproducibility Practice in High Performance Computing: Community Survey Results](https://doi.org/10.22541/au.162569014.42317740/v1)

[2021-08-14 12:03] birdortyedi commented on #27
[Furkan Kınlı](github.com/birdortyedi)
Computer Vision, Deep Learning - Python, C++, MATLAB
ORCID: [0000-0002-9192-6583](https://orcid.org/0000-0002-9192-6583)

[2021-08-18 15:32] oliviaguest commented on #48
I claim Volume 7, Issue 1, Number 6 for ReScience/submissions#53

[2021-08-20 07:15] khinsen commented on #48
I claim Volume 7, Issue 1, Number 7 for https://github.com/ReScience/submissions/issues/55

[2021-08-26 21:02] LukasWallrich commented on #27
[Lukas Walllrich](https://github.com/LukasWallrich)
Social Psychology, Management - R
ORCID: [0000-0003-2121-5177](https://orcid.org/0000-0003-2121-5177)

[2021-08-30 17:52] dmarcelinobr commented on #27
[Daniel Marcelino](https://github.com/dmarcelinobr)
Applied Political Science, Forecasting, Machine Learning - Python, R, SQL
ORCID: [0000-0001-6432-407X](https://orcid.org/0000-0001-6432-407X)

[2021-08-31 07:44] rougier commented on #48
I claim Volume 6 Issue 1, Number 22 for https://github.com/ReScience/submissions/issues/34

[2021-09-02 09:27] khinsen commented on #48
I claim Volume 7, Issue 1, Number 8 for https://github.com/ReScience/submissions/issues/54

[2021-09-05 13:46] pps121 commented on #27
Partha Pratim Saha https://github.com/pps121
Deep Learning, NLP, Machine Learning, Language Modelling, Computer Vision, - Python

[2021-10-04 07:00] rougier commented on #27
@pps121 I would need your ORCID

[2021-10-16 16:37] eroesch commented on #48
I claim Volume 7, Issue 1, Number 9 for [ReScience/submission#49](https://github.com/ReScience/submissions/issues/49)

[2021-10-19 09:00] aTrotier commented on #27
[Aurélien Trotier](https://github.com/aTrotier)
MRI Sequence, MRI Physics, MRI Reconstruction, MRI Post-processing - Matlab, Python, Julia, C/C++
ORCID: [0000-0001-8860-1406](https://orcid.org/0000-0001-8860-1406)

[2021-10-20 00:18] bagustris commented on #27
[Bagus Tris Atmaja](https://github.com/bagustris)
Audio processing, acoustics, vibration, deep learning, affective computing - Python
ORCID: [0000-0003-1560-2824](https://orcid.org/0000-0003-1560-2824)

[2021-10-27 08:40] arianesasso commented on #27
[Ariane Sasso](https://github.com/arianesasso)
Digital Health, Machine Learning Applied to Healthcare, Medical Informatics - Python
ORCID: [0000-0002-3669-4599](https://orcid.org/0000-0002-3669-4599)

[2021-11-09 08:47] psteinb opened #105 "website gives 404"
Just saw that the rescience C website gives a 404.

![image](https://user-images.githubusercontent.com/1465603/140891918-e11ba14f-6ce9-4c8a-972f-6a3f380097d3.png)

[2021-11-09 08:55] rougier commented on #105
Thanks. I did a mess when rebuilding it should be fixed now (until next time).

[2021-11-09 08:56] #105 closed, assigned to nobody

[2021-11-15 16:42] broukema commented on #102
We obtained a consensus on a CoC in both of the most recent workshops that I organised, but to some degree I see both Konrad and Olivia being right :). A CoC that appears to violate both habeas corpus and the presumption of innocence risks creating an authoritarian institution if it ever has to be put into practice (enforced), despite the best intentions. On the other hand, if the dialogue flexibl

[2021-11-22 08:21] rougier commented on #48
I claim Volume 7, Issue 1, Number 10 for https://github.com/ReScience/submissions/issues/56

[2021-11-22 10:44] benoit-girard commented on #48
I claim Volume 7, Issue 1, Number 11 for https://github.com/ReScience/submissions/issues/50

[2021-11-25 12:00] fbkarsdorp commented on #27
[Folgert Karsdorp](https://github.com/fbkarsdorp)
Digital and Computational Humanities, Cultural Evolution - Python
ORCID: [0000-0002-5958-0551](https://orcid.org/0000-0002-5958-0551)

[2021-12-30 15:18] valdanchev commented on #27
[Valentin Danchev](https://github.com/valdanchev)
Data Science, Computational Social Science, Networks, Metascience - Python, R
ORCID: [0000-0002-7563-0168](https://orcid.org/0000-0002-7563-0168)

[2022-01-18 16:33] D-Maurel commented on #48
I claim Volume 7, Issue 1, Number 12 for https://github.com/ReScience/submissions/issues/48

[2022-02-05 21:21] tuelwer commented on #27
[Tobias Uelwer](https://github.com/tuelwer)
Machine Learning, Image Processing, Computer Vision - Python
ORCID: [0000-0001-9215-7336](https://orcid.org/0000-0001-9215-7336)

[2022-02-07 14:53] hhihn commented on #27
[Heinke Hihn](https://github.com/hhihn)
Machine Learning, Reinforcement Learning - Python, Java, C/C++, Matlab
ORCID: 0000-0002-3244-3661

[2022-02-15 14:31] patel-zeel commented on #27
[Zeel B Patel](https://github.com/patel-zeel)
Machine Learning, Gaussian processes applied to air quality - Python
ORCID: [0000-0002-1981-3912](https://orcid.org/0000-0002-1981-3912)

[2022-02-23 14:03] oliviaguest commented on #48
I claim Volume 7, Issue 1, Number 12 for https://github.com/ReScience/submissions/issues/48

[2022-03-16 15:42] ahippert commented on #27
[A. Hippert-Ferrer](https://github.com/ahippert)
Statistical signal processing, Missing data, Remote Sensing - Python
ORCID: [0000-0002-7740-5415](https://orcid.org/0000-0002-7740-5415)

[2022-03-18 15:36] martinosorb commented on #83
Hi, I wanted to up this. I arrived here looking for a way to search whether a paper had already been replicated or not, and I couldn't figure out how to do that, neither by DOI nor by title (on the website I can search by title of the *report*, not of the original paper). Thanks!

[2022-03-20 08:50] khinsen commented on #83
While I agree that such search functionalities are important, I don't think that implementing them as part of ReScience is the best solution. Storing relations between articles is the task of bibliographic databases and/or scientific knowledge graphs. We should aim for integration with one or the other. And once we join OJ, that would be the best context to envisage the necessary developments, for

[2022-03-23 08:27] oliviaguest commented on #83
This is a side point, but isn't the title of the report a superset of the title of the original paper in all cases?

[2022-03-23 16:35] khinsen commented on #83
Yes, though I am not sure we are actually checking that.

[2022-04-22 18:47] gdetor commented on #48
I claim volume 7, Issue 1, Number 13 for ReScience/submissions#51

[2022-04-23 05:47] rougier commented on #48
@gdetor We are now on volume 8 (see https://rescience.github.io/read/), such that you should claim colume8, issue 1, number 2 I think.

[2022-04-25 18:04] gdetor commented on #48
I claim volume 8, Issue 1, Number 2 for ReScience/submissions#51

[2022-04-28 02:13] christinlee367 opened #106 "Typically, how long is the review process?"

[2022-05-02 08:17] rougier commented on #106
It really depend on the domain and the avaibility of reviewers. You can look at published articles that all include a submission date and a publication date. Statistics welcome!

[2022-05-13 08:19] pdebuyl commented on #48
I claim volume 8, Issue 1, Number 3 for https://github.com/ReScience/submissions/issues/58

[2022-05-15 23:21] koustuvsinha commented on #48
I claim Volume 8, Issue 2, Numbers 1-49 for the ML Reproducibility Challenge. @rougier let me know if it is okay to open a new Issue for this.

[2022-05-16 05:38] rougier commented on #48
49 articles! Do you think it's worth to split them in two (or more) issues if you have some criterion for splitting?

[2022-05-16 05:39] rougier commented on #48
And yes, maybe opening an issue giving relevant information would be nice.

[2022-05-17 16:05] koustuvsinha opened #107 "Discussing the Volume/Issue of MLRC 2021"
Hi @rougier ! Moving the discussion from #48 here.

I don't have the best splitting criterion in mind, but here are some options:

- Split based on conferences - It might result in more issues (we support 9 conferences), but each issue will have less number of papers. Here is the distribution:

| Papers Accepted | Conference |
| --- | --- |
| 11 | ICML 2021 |
| 4 | ICLR 2021 |
| 4 | AAAI 2021 |
|

[2022-05-17 17:41] rougier commented on #107
We can perfectly have a single issue with all the papers, it's only a matter of deciding what would be the most useful for the reader. Unfortunatley and given the information, I do not have a better idea than a single issue. Also, if you write the editorial, it might be easier for your to have a single issue. So let's go for a "mega issue".

[2022-05-17 18:40] koustuvsinha commented on #107
Awesome, cool I'll go for a mega issue then! :)

[2022-05-17 18:40] #107 closed, assigned to rougier

[2022-05-23 14:13] rougier commented on #48
I claim volume 8, Issue 1, Number 4 for https://github.com/ReScience/submissions/issues/62

[2022-05-31 08:34] bramton commented on #103
To answer @MiWeiss his last question, the website https://www.readyforscopus.com is not officially related to Scopus. It is a creation from [NEICON](https://neicon.ru), a Russian organisation providing expertise on dissemination.

The official Scopus 'Title suggestion' form can be found here: https://suggestor.step.scopus.com/suggestTitle/step1.cfm

A bit of background information, _[The Principle

[2022-06-06 06:02] kkhetarpal commented on #27
[Khimya Khetarpal](https://github.com/kkhetarpal)
Reinforcement Learning - Python
ORCID Number: [0000-0001-9975-6438](https://orcid.org/0000-0001-9975-6438)

[2022-06-06 14:51] rougier commented on #103
Just tried to file a request for review but one of the criterion is to have an abstract for each article which is not yet the case.

[2022-07-06 09:15] khinsen commented on #48
I claim volume 8, Issue 1, Number 5 for https://github.com/ReScience/submissions/issues/13

[2022-08-02 15:08] vdasu commented on #27
[Vishnu Asutosh Dasu](https://github.com/vdasu)
Machine Learning, Security, Privacy - Python, C/C++, Java
ORCID Number: [0000-0002-1849-1288](https://orcid.org/0000-0002-1849-1288)

[2022-08-09 02:08] pritchardn commented on #27
[Nicholas Pritchard](https://github.com/pritchardn)
High-performance computing, (radio) astronomy, computational workflow management/reproducibility, quantum computing - Python, C/C++, Java, Dart, Javascript
ORCID: [0000-0003-0587-2310](https://orcid.org/0000-0003-0587-2310)

[2022-09-29 16:34] CoraliePicoche opened #109 "Correction to Picoche et al. (2022)"
Dear editors,

My co-authors (@fbarraquand and W.R. Young) and I have noticed two small mistakes in the formulas of the article [[Re] Reproductive pair correlations and the clustering of organisms](https://zenodo.org/record/6546488#.YzKomtXP1H4). The results we show correspond to the right formulas and remain unchanged. Re-reading the whole paper, we also realized that we could further clarify som

[2022-10-01 19:24] zhywan commented on #27
[Zhiyu Wan](https://github.com/zhywan)
Computer Science, Biomedical Informatics, Data Privacy, Genomic Privacy, Machine Learning, AI in Medicine, Game Theory - Python, MATLAB
ORCID: [0000-0003-3752-5778](https://orcid.org/0000-0003-3752-5778)

[2022-10-04 05:59] Bsingstad commented on #27
[Bjørn-Jostein Singstad](https://github.com/Bsingstad)
AI in Cardiology - Python
ORCID: [0000-0003-4055-4297](https://orcid.org/0000-0003-4055-4297)

[2022-10-06 13:18] CoraliePicoche commented on #109
Dear editors,

We are wondering about the policy of ReScience regarding small changes in the text of an article, and the corresponding submission of a second version of an article on Zenodo. Would it be possible to make the small edits we suggest in the .pdf above?

Thank you very much,
Coralie Picoche

[2022-10-06 14:04] pdebuyl commented on #109
Hi @CoraliePicoche sorry for the delay.

@ReScience/editors do we have a procedure for corrections?

I had a look at the attached pdf and those changes can be accepted straightforwardly as a correction.

[2022-10-06 15:24] khinsen commented on #109
@pdebuyl Yes, we have had error corrections in the past. The updating procedure is described at https://github.com/ReScience/articles/#updating-an-already-published-article.

[2022-10-06 16:15] CoraliePicoche commented on #109
So, if I understand correctly, we just have to send an updated version of the .pdf to the editor who first handled the submission (which would be you, @pdebuyl)?

[2022-10-06 19:49] khinsen commented on #109
@CoraliePicoche Yes, that's all you need to do.

[2022-10-06 20:07] pdebuyl commented on #109
In practice, the easiest is to modify the tex file in your original article repository: https://github.com/CoraliePicoche/brownian_bug_fluid

Then, I can generate the pdf and follow the metadata update procedure on zenodo.

[2022-10-07 22:09] wcheung-code opened #110 "Is there a Gitter, Slack or Discord channel for ReScience?"
I am currently working on a replication study and I am interested to connect with others who are similarly working on replicating results or have previously contributed to ReScience. It would be really exciting to see what other researchers are working on. Would this be possible to organize? Thanks and I look forward to the community's response!

[2022-10-08 15:43] fbarraquand commented on #27
[Frédéric Barraquand](https://github.com/fbarraquand)
Ecology - R, Matlab, C/C++
ORCID: [0000-0002-4759-0269](https://orcid.org/0000-0002-4759-0269)

[2022-10-10 08:49] rougier commented on #110
We do not have gitter/slack/discord for ReScience bu we can use [discussion](https://github.com/ReScience/ReScience/discussions)

[2022-10-11 09:13] rwst commented on #110
That link gives me a 404.

[2022-10-11 09:26] rwst opened #111 "preprints of Rp/Re"
Assume I write a reproduction paper using the ReScience Latex template and put a preprint on osf.io. Later I open an issue on github/submission for final publication in ReScience.

However, the preprint PDF might get a DOI from osf.io, so I should mark it as preprint beforehand. Do you have suggestions on how to do that? Am I missing something fundamental? Are ReScience preprint publications disco

[2022-10-11 20:40] rougier commented on #111
No problem with having a preprint before submission. The only "problem" is that the preprint on osf.io will get its DOI and the paper on ReScience will get its DOI too. This is not a real problem I think but it might "dilute" a bit your work by having two DOIs pointing to two papers that are basically the same. I think we already had the case with arxiv preprint (no DOI in this case), but it's bas

[2022-10-12 07:47] khinsen commented on #111
I suppose that in most real-life cases, the final paper will differ a bit from the initial preprint, so two DOIs are a feature rather than a bug.

[2022-10-13 14:55] CoraliePicoche commented on #109
We have just pushed the edited .tex files to the repository. You will notice one additional modification: we explain slightly differently how we get the advection term in the section "Advection process" in the Supplementary. The reasoning is very similar, but our new version puts more emphasis on the equivalence between our model and the references equations of Kraichnan et al. (1974) which we use

[2022-10-17 11:47] rougier commented on #110
This one ? : https://github.com/ReScience/ReScience/discussions

[2022-10-19 08:16] pdebuyl commented on #109
Thanks @CoraliePicoche I'll take care of this. I "just need" to re-become familiar with our publication scripts :-)

[2022-10-19 08:19] CoraliePicoche commented on #109
Great, thank you very much @pdebuyl !

[2022-10-24 13:01] pdebuyl commented on #109
Done,

Paper at https://zenodo.org/record/7244522

Update of ReScience record at https://github.com/ReScience/articles/pull/27

[2022-10-25 05:30] #109 closed, assigned to nobody

[2022-11-09 13:39] fbarraquand commented on #111
Follow-up question: are there preferred preprint and postprint servers? I've got to deposit on HAL (or arXiv then HAL). I've seen published ReScience papers on HAL not arXiv so I'd be tempted to use solely HAL for postprint. Initially I was tempted to use arXiv for preprints (i.e. papers submitted to ReScience) but now arXiv does generate a DOI -- should I use HAL too for preprints?

[2022-11-09 14:13] khinsen commented on #111
I'd say: do as you please. It's more a matter of where potential readers will look for new material, and that varies a lot by discipline, employer, etc. I put my papers on HAL as well, because that's almost an obligation for French academics.