[2015-04-05 08:56] rougier opened #1 "Editorial board"
This is the thread related to the editorial board formation. Ideally, the editorial board should cover any computational science, including

 * [x] Computer Science (@rougier)
 * [x] Computational Neuroscience (@rougier)
 * [ ] Computational Biology
 * [ ] Bio-informatics
 * [ ] Physics
 * [ ] Mathematics
 * [ ] → to be completed

The editorial board should ideally cover any langages, tools, libra

[2015-04-05 09:05] rougier opened #2 "Submission test"
Before the journal can be started, we need to test the submission process to check if the procedure works as expected and modified it if necessary.

* [x] Isssue a pull request
* [x] Acknowledge the pull request
* [x] Start review
* [x] Accept the paper
* [x] Import the repo
* [x] Merge branch into the master (in the new repo)
* [x] Make a release
* [x] Get a DOI

[2015-04-05 09:13] rougier opened #3 "Organize science domains"
We can use the issue labels for specifying the domain of a submission. The list should probably be extended and revised regularly.

See http://en.wikipedia.org/wiki/Branches_of_science

* [x] Physical science
  * [ ] Physics
  * [ ] Chemistry
  * [ ] Earth Science
  * [ ] Ecology
  * [ ] Oceanography
  * [ ] Geology
  * [ ] Meteorology
* [x] Life Science
  * [ ] Biology
  * [ ] Neuroscience
  * [

[2015-04-06 07:09] rougier opened #4 "Documentation"
Finish the wiki and write all documentation:

* [x] Home
* [x] Editorial Board
* [x] Submit a paper
* [x] Author guidelines
* [x] Editor guidelines
* [x] Reviewer guidelines
* [x] Open Access License
* [x] Media & press
* [x] FAQ

[2015-04-09 07:38] rougier commented on #2
In progress

[2015-06-22 14:34] #4 closed

[2015-06-22 14:36] #3 closed

[2015-07-21 07:07] rougier opened #7 "Journal organisation"
I opened a new issue concerning the overall journal organisation and review process.
Mehdi posted a lot of comments in his review but these comments would be better discussed here since the PR (https://github.com/ReScience/ReScience-submission/pull/3) will be closed at some point.

Mehdi, could you post your comments below ?

@khinsen @MehdiKhamassi @otizonaizit @benoit-girard

[2015-07-21 15:59] MehdiKhamassi commented on #7
Dear Nicolas,

Thank you for opening this new issue.
Here are a few questions and comments that concern the global organization of the journal, although they have been raised during the review of the submitted paper by Topalidou and Rougier (https://github.com/ReScience/ReScience-submission/pull/3). I hope that these questions and comments can help improving the organization of the review process

[2015-07-22 08:04] khinsen commented on #7
Thanks @MehdiKhamassi for this detailed feedback!

As for partial replication, I think we should clearly admit this if the replicated part is substantial enough to be of interest. It would be the reviewers' job to advise on this, and the authors should be required to state explicitly which parts have been replicated, and why they chose that particular subset.

In my experience it is quite frequent

[2015-08-06 06:07] rougier commented on #7
@MehdiKhamassi

Thanks a lot for this feedback. I will just complete Konrad answer.

I've started modifying the wiki and the submission/review procedure, taking your comment into account. I will answer your questions in random order:

* For the standardized model description, I think this should be the role of the editor to appreciate if there exist some recommendation in the domain. Don't forget

[2015-08-13 12:57] otizonaizit commented on #7
@rougier @khinsen : are you going to be at EuroSciPy in two weeks? If yes, we could schedule a short meeting to discuss a bit these issues? We would of course later post the minutes of the meeting to this issue so that they are public.

[2015-08-13 13:38] rougier commented on #7
I will and yes we can talk about that during EuroScipy. I think Konrad won't attend but we can post here result of the discussion.

[2015-08-13 14:40] rougier opened #8 "ReScience Archives"
I've created a ReScience Archives organization (https://github.com/ReScience-Archives) where each associate editor is owner such that they can create new repositories. This was not possible using only teams rights.

This new organization might also be useful to avoid polluting the main organization repository

[2015-08-16 07:33] rougier opened #9 "ReScience website"
Currently, the [rescience website](http://rescience.github.io) is a single html page that redirect to the [wiki](https://github.com/ReScience/ReScience/wiki). Maybe it would be worth to have a slightly more elaborated one with at least the list of published papers. Maybe something like http://jcgt.org ?

Thoughts ?

[2015-08-17 13:07] benoit-girard commented on #9
I agree that the straightforward presentation of jcgt is probably better than the github wiki, yet still simple.

[2015-09-01 07:09] rougier commented on #2
Done !

[![DOI](https://zenodo.org/badge/doi/10.5281/zenodo.27944.svg)](http://dx.doi.org/10.5281/zenodo.27944)

[2015-09-01 07:09] #2 closed

[2015-09-01 07:10] rougier commented on #9
If someone is willing start the website...

[2015-09-03 20:44] azag0 opened #11 "Practical vs. theoretical reproducibility"
I see some open questions regarding which research is reproducible and which is not. Here are some hypothetical edge cases:

- My code is platform-specific assembler and can be run only on the blue gene supercomputer.
- My calculations are fully reproducible, but take millions of CPU hours to reproduce.
- My calculations are not deterministic, and I'm not concerned with statistics, but with proper

[2015-09-03 20:52] ctb commented on #11
On Thu, Sep 03, 2015 at 01:44:05PM -0700, Jan Hermann wrote:

How do we get access to your code when you are no longer available?

How do we have the potential to understand the minute technical details
of what you did (and what approximations you made) without access to the
code?

What happens when we implemented what you said you did in the paper, and
get different results, and you won't give us

[2015-09-03 21:06] azag0 commented on #11
Of course, all those situations lead to the research being unverifiable and hence should not be published here. But the examples I have written, although being open source, are also practically unverifiable. Or at least (as with proprietary software) verifiable only for a selected group of people. If one makes the rule that a research must be verifiable by everyone practically, that might very wel

[2015-09-03 21:21] azag0 commented on #11
Full disclaimer: a lot of my research is done with such a git-versioned proprietary, sold-for-money software, on whose development I participate.

[2015-09-04 05:47] rougier commented on #11
One of the problem with sold-for-money software is that we can't verify the code and put a money barrier for a lot of people. That is a problem in the long term. We want to privilege open-source approaches since we think there are already enough tools around, especially the scientific python ecosystem as show by the [Scipy](http://scipy2015.scipy.org/ehome/index.php?eventid=115969&) and [EuroScipy

[2015-09-04 10:53] azag0 commented on #11
Ok, I see the points. I have to admit I was initially confused, I didn't realize there is the original work, the replication and finally the verification by the reviewer. I thought more about publishing original research here, and getting full scientific peer review, but I understand now that's not the primary goal of rescience.

Back to the topic, let me say a couple of words about the field of c

[2015-09-04 12:13] rougier commented on #11
At this point, it is difficult to answer and it might be a specific decision by the editor for each specific case.
If the new algorithm need pre-processed data, I would imagine solution 1 or 2 are ok and if you have a access to 3, that would also be interesting for the community to know this will lead to different results.
But I'm not familiar enough (= not at all) with computational chemistry to

[2015-09-04 13:02] yarikoptic opened #12 "Please state copyright/license for ReScience materials"
stuff on wiki, template paper repo etc.  In the paper "Licence CC-BY-SA" should get complimented with version and probably an explicit statement of who owns the copyright (authors)

[2015-09-04 13:10] azag0 commented on #11
It is well known and accepted. One has to work this fact. Have a look at this [website](https://molmod.ugent.be/deltacodesdft) that compares many well-known and also less known programs. The situation arises because of a trademark between accuracy and efficiency and the fact that a typical computational material science research is at the edge of what is computationally feasible with current hardw

[2015-09-04 13:25] rougier commented on #12
@khinsen

Yes, you're right, we just forgot this part. And more problematic, we forgot the license in the first paper code repository...

Some proposal:

 * wiki site: [CC-BY-SA 4.0 international](https://creativecommons.org/licenses/by-sa/4.0/)
 * submission repo: [CC-BY-SA 4.0 international](https://creativecommons.org/licenses/by-sa/4.0/)
 * submission article repo: [CC-BY-SA 4.0 international]

[2015-09-04 13:27] yarikoptic commented on #12
PDDL (http://opendatacommons.org/licenses/pddl/1.0/) or CC Zero?

[2015-09-04 13:35] rougier commented on #12
Thanks, and another reference to a very good paper on licenses: http://www.gigasciencejournal.com/content/4/1/31

[2015-09-04 13:40] yarikoptic commented on #12
On Fri, 04 Sep 2015, Nicolas P. Rougier wrote:

;) thanks

[2015-09-04 13:58] hlapp commented on #9
The wiki also makes it more difficult to contribute. E.g., there are a number of typos and language errors that I could easily fix in a PR, but with the wiki that's much more involved. (I'd have to clone, then generate a patch, email the patch, someone permitted to edit has to clone, apply the patch, and push.)

[2015-09-04 14:11] rougier commented on #9
@khinsen

Yes, the ideal situation would be to be able to be able to make PR for the wiki.
I'll start investigating possible solutino. Or if anyone has experience with that problem...

[2015-09-04 14:15] rougier commented on #9
I've found this source: http://nerds.inn.org/2014/05/19/applying-git-to-github-wikis/

[2015-09-04 14:18] rougier commented on #12
Your paper is really useful (I'll put it in the references).
Can you make a PR for the ReScience-submission repo ?

[2015-09-04 14:21] khinsen commented on #9
That looks doable. On the other hand, I don't see much of an advantage in using the Wiki instead of a simple Jekyll-based Web site. Except, of course, that someone has to set up the Web site, which is more involved than using the Wiki.

To put it differently: if we find a volunteer for setting up a better Web site, then I am all for it. I don't volunteer myself because I am absolutely no good at W

[2015-09-04 16:56] katyhuff opened #13 "typo"
There's a typo, but unfortunately, I can't make a PR to fix it because it's in the wiki. :(

Anyway, in the submission page, you have:

[code]

followin needs a "g" at the end.

[2015-09-04 17:00] rougier commented on #13
Thanks. We're working on a (temporary) solution to allow PR on the wiki. See #9

[2015-09-04 17:23] rougier commented on #9
I've setup the wiki repo at: https://github.com/ReScience/ReScience-wiki

[2015-09-04 17:23] ido commented on #9
Hi, just stopped by to suggest setting up the ReScience website as a Hakyll or Jekyll static markdown-based site that uses pandoc to compile and is automatically generated by Travis-CI/CircleCI upon pushing to a branch, and then hosted on a DigitalOcean droplet.  Then the website can be updated with pull requests just like any other GitHub repository.  Then the pull requests can be checked and ver

[2015-09-04 17:26] rougier commented on #9
Oh, that might be a solution. Can you open a dedicated issue ?
And we still need a website designer :)

[2015-09-04 17:27] rougier commented on #13
I've setup the wiki repo at: https://github.com/ReScience/ReScience-wiki

[2015-09-04 17:27] katyhuff commented on #13
gotcha. Though of course I have no authority here, I'd say @khinsen is right that a jekyll github site is more editable and potentially beautiful than the wiki solution in the longer term.

[2015-09-04 17:29] rougier commented on #13
Totally agree. @ido posted in #9 what could be the solution (modulo website design).

[2015-09-04 17:30] ctb commented on #13
On Fri, Sep 04, 2015 at 10:29:09AM -0700, Nicolas P. Rougier wrote:

(pretty sure github pages does most of that without the added complexity
of Travis etc. etc.  ReadThedocs also.)

[2015-09-04 18:21] ido commented on #13
@ctb GitHub Pages don't get indexed by Google, Yahoo, etc. properly, and having a CI script and a droplet lets you do other things too, like run any apps you need, see previews, run tests, prevent changes to certain folders, etc. that you can't do with GH Pages.  (There are other reasons, but I'm working on other things right now, if you read the link you'll see a few other reasons.)  Also, regard

[2015-09-04 18:28] ThomasA commented on #9
Won't pull requests work with a regular GitHub-generated Jekyll site?

[2015-09-04 18:46] ctb commented on #13
On Fri, Sep 04, 2015 at 11:21:12AM -0700, Ido Rosen wrote:

OK - for an unfunded and new effort this is taking on a pretty sizable
maintenance burden, though!

[2015-09-04 18:48] rougier commented on #13
Yes, maybe we can start simple (pelican / github pages) and see how things go.
Most urgent is to correct my terrible English...

[2015-09-04 18:51] rougier commented on #9
Actually I'm working on that right now...
I was thinking of using Pelican to borrow the nice and clean style by @rossant website at http://cyrille.rossant.net

[2015-09-04 18:56] rossant commented on #9
... the spirit of which I borrowed from http://www.labri.fr/perso/nrougier/

[2015-09-04 19:07] rougier commented on #9
Ah, this is why I like it ;) Just kidding, it's really clean.

Can we borrow your pelican style for the journal ? And possibly get some help setting it up ?

[2015-09-04 19:11] rossant commented on #9
Sure! I wouldn't say no to a mention either ;)

I can try to give some help, although it's been a while since I set it up. Not sure I'll remember all the details. I had to hack certain things in pelican to make it work with notebooks, code highlighting, etc., but you probably won't need that. Also the build process is a bit crappy currently, I need to clean it up and use something like what @ido d

[2015-09-04 19:14] rougier commented on #9
Ok. Also, you don't use the same repo for website/github pages, any reason ?

[2015-09-04 19:16] ido commented on #9
Building pelicon with travis is only a short travis.yml file away.  :-) And travis can be given encrypted env vars with any deploy key you want to use to push the pelican-compiled static site to GH Pages or wherever...

[2015-09-04 19:18] rossant commented on #9
@rougier no, I should probably have used one repo with two branches instead...

[2015-09-04 19:19] rougier commented on #9
It seem there might be an even simpler solution from [pelican documentation](http://docs.getpelican.com/en/3.6.3/tips.html#extra-tips):

[code]

[2015-09-04 20:19] ido commented on #9
@rougier post-commit hooks run on the client, and are local to your git repository on your machine.  They don't run centrally and they won't, for example, run whenever a pull request is made.  See GitHub's "Services" and web hooks for an analogous feature.  (Travis-CI and CircleCI do the setting up GitHub hooks/services part for you.)

[2015-09-05 06:30] khinsen commented on #9
My understanding is that any Web-site generator other than Jekyll (which GitHub runs automatically upon a commit) must be installed and run locally by every person wishing to modify a page. I am not a fan of Jekyll, but there are good arguments for using it in the way we envisage.

[2015-09-05 06:37] rougier commented on #13
Let's move this discussion to #9

[2015-09-05 06:37] #13 closed

[2015-09-05 11:47] ido commented on #9
@khinsen with the Travis/Circle-CI approach I mentioned that is not the case - you could see the results even in a forked repository or by submitting a pull request and they would update on each commit/push.

[2015-09-05 11:48] ido commented on #9
@khinsen ...without having the generator locally.

[2015-09-05 17:01] eddelbuettel commented on #12
Could I suggest a boolean OR for the code licenses to allow other Open Source licenses besides BSD?

[2015-09-06 09:38] rougier commented on #12
I don't see much problem with that but I'm not too much specialized in license issues. What kind of license do you have in mind ?

[2015-09-06 09:40] rougier commented on #12
@yarikoptic Do you know if there is a condensed CC BY SA 4.0 that can be included in the different repo or do we have to put the full license text ?

[2015-09-06 09:40] rougier commented on #9
I've started a jekyll website, I'll upload it soon to rescience.github.io

[2015-09-06 09:44] jfergie03 commented on #12
I'd knock it the duck off if I was you!

[2015-09-06 12:01] rougier commented on #9
I just uploaed it to https://github.com/ReScience/rescience.github.io but it is ot deployed yet (not sure how long it takes or if something's wrong with my setup)

[2015-09-06 13:01] eddelbuettel commented on #12
@rougier How about we say something like

The key would then be to define the set.  I know R and CRAN so much better than Python and Pypi -- R's package checker validates against [this file listing known FOSS licenses](https://github.com/wch/r-source/blob/trunk/share/licenses/license.db).

[2015-09-06 13:27] rougier commented on #9
@hlapp New website online at http://rescience.github.io
Comments/remarks/correction welcome.

[2015-09-06 17:57] #9 closed

[2015-09-06 17:57] #8 closed

[2015-09-07 08:08] pdebuyl commented on #11
Hi,

The FAQ already gives a pointer with the question `Can I submit a paper using proprietary tools such as Matlab ?`. In the case of mixed workflows my first idea would be that between a well defined starting point and end point the full toolset has to be open-source.

The starting point may include reference data that has been generated elsewhere (proprietary tools, experimental results, huge s

[2015-09-07 08:15] pdebuyl commented on #12
Debian has [The Debian Free Software Guidelines](https://www.debian.org/social_contract#guidelines). They have a list of licenses that are conforming to these guidelines in their archives: https://www.debian.org/legal/licenses/ . They also list licenses that go in their "non-free" and "contrib" archives on the same page.

[2015-09-07 08:17] pdebuyl commented on #9
Nice work, thanks!

[2015-09-07 08:32] rougier commented on #12
So we need to:
* [ ] Add a paragraph in the WRITE section telling authors to choose one license for their code among those listed by Debian
* [ ] Add a paragraph in the EDIT section telling editors to ensure one license has been added within the code repo
* [ ] Add a FAQ entry explaining licenses
* [ ] Add proper CC-BY-SA 4.0 in the submission template repository

[2015-09-07 09:21] pdebuyl commented on #12
Why is there a change from CC-BY to CC-BY-SA?

[2015-09-07 15:02] iherman opened #14 "Make the issues easily searchable"
I looked at this (great!) initiative but it is strange that there is no place where I can easily search through the content of the journal (I know, there is only one paper published, but nevertheless). I found the only paper through the [the LabCritics blog](http://www.labcritics.com/rescience-a-scientific-journal-with-github-at-its-core-4729/?utm_source=@labcritics); there should be some sort of

[2015-09-07 15:05] kotzino opened #15 "scientific area outside the editorial board expertise"
Hi all,
congrats for a very interesting effort.
My question is: whom to contact if I would like to be part of the effort but my area is outside of the existing expertise of the Editorial Board?
I am working in Databases (and Data Management in general) and with the explosion of data we have a lot of interesting cases that would fall under the journal's interests of re-science.
Please let me know,

[2015-09-07 15:07] iherman opened #16 "Paper only in PDF?"
I have found the (only) publication of the journal: [Interaction between cognitive and motor…](https://github.com/ReScience-Archives/ReScience-Entry-Topalidou-Rougier-2015/raw/1.0/article/article.pdf) but, to my great disappointment, the paper itself, ie, the narrative content, is only available in PDF. Based on the URL of the PDF file, I also got to the [article's repositiory](https://github.com/

[2015-09-07 15:08] rougier commented on #14
It might be easier with new website at rescience.github.io.
It is jekyllrb based that offers a search feature, only need more articles (as you noted) to start the integration

[2015-09-07 15:11] rougier commented on #15
I'm not sure yet actually. Do you have some references for the paper you've in mind ?

[2015-09-07 15:14] rougier commented on #16
You're right but it is not our top priority for the time being (lack of human resources).
However, this initiative that @ThomasA  pointed to might be interesting: https://github.com/PeerJ/paper-now

[2015-09-07 15:31] kotzino commented on #15
Hi again,
I do not have at the moment a specific paper in mind. I was just wondering how to join the effort and if you think some expansion towards data science would be useful for the journal to attract more submissions.

Thanks for replying,
Dimitris

[2015-09-07 15:37] rougier commented on #15
We'll happily consider any data science work (as long as it is a replication) and hopefully, we'll soon have an editor.

[2015-09-07 15:37] #15 closed

[2015-09-07 15:46] iherman commented on #16
Indeed (I didn't know about that one either).

And I of course understand the resource issues… As long as you keep this issue open, I am of course perfectly fine. Eventually...

Thanks

[2015-09-07 15:52] lervag opened #17 "RSS feed for new content"
First, I think this is a great initiative!

One thing that seems lacking that I think should be added is an RSS feed for new content.

[2015-09-07 16:02] rougier commented on #17
Thansk. I'm working on the news feed. I'm rather new to jelyllrb but it should be pretty easy.
Only question is whether to separate generic news from article publication news (as it is currently on the website)

[2015-09-07 16:09] rougier commented on #12
Where ? I thought the CC-BY-SA is  pretty standard (share alike and attribution)

[2015-09-07 16:14] eddelbuettel commented on #12
Thanks for linking to Debian. That is indeed a very good resource (as I say with my Debian maintainer hat on) but I didn't want to came across as too preachy.  GitHub also maintains a [good page](https://help.github.com/articles/open-source-licensing/) as well as a [chooser tool](http://choosealicense.com/).

[2015-09-07 16:17] rougier commented on #12
I trust Debian on license issue.
@khinsen @pdebuyl what do you think ?

[2015-09-07 16:18] rougier commented on #12
But the chooser tool is pretty cool. Maybe it's worth adding the link (and keep Debian link)

[2015-09-07 16:21] rougier commented on #17
Does the http://rescience.github.io/feed.xml brings anything useful ?

[2015-09-07 16:50] lervag commented on #17
Thanks, it seems to be mostly what I want. Though, the only actual paper entry in the feed is currently only a title with link to [here](https://rescience.github.io/neuroscience/python/2015/08/14/Topalidou-Rougier.html). I think this should be improved in the future so the feed shows an abstract and links to the corresponding repo.

However, in the meantime, I'm happy with this feed. In the future

[2015-09-07 16:55] rougier commented on #17
Ok, I will keep this issue open until solved.

[2015-09-07 16:56] lervag commented on #17
Ok!

[2015-09-07 17:03] pdebuyl commented on #12
The chooser appears for new repositories only, not upon forking. Although it is intended to be neutral, github's page on license has preferences (namely, MIT, Apache and GPL) and I find it a bit confounding in that it mixes a pedagogical aspect with a shortcut to pick one of the mentioned licenses.

I also support Debian's view on licenses and the site that we reference has less bias in that it do

[2015-09-07 17:09] eddelbuettel commented on #12
I am fully on board with what @pdebuyl stated.  The can get overbearing and moralistic.  I have a strong personal preference for GPL; others like BSD better.  Either is fine for our purposes here (and this is not the place for yet another discussion on this).

[2015-09-07 17:37] rougier commented on #12
Ok then. Default is BSD and people are free to choose the one they like. We keep the FAQ as it is.

Last question concerning CC-BY vs CC-BY-SA, are we ok with CC-BY-SA for text (article and website) ?

[2015-09-07 17:43] eddelbuettel commented on #12
I strongly urge you not to impose a default.

How about:

Recommendations are normative. That is not our role.  We want to validate good science and good practice.  That does rely on a single license.

[2015-09-07 17:56] rougier commented on #12
Ok, I'll remove the default LICENSE.txt in the code repository.

[2015-09-07 17:58] eddelbuettel commented on #12
:+1:

[2015-09-07 18:00] rougier commented on #12
See https://github.com/ReScience/ReScience-submission/blob/master/code/README.md

[2015-09-07 18:15] pdebuyl commented on #12
fine with me :+1: for no default.

plos uses CC-BY https://www.plos.org/open-access/ , this is also the case for the New Journal of Physics (APC-based open access since some time), Physical Review X (also uses APC, online only), the proceedings of SciPy and EuroSciPy.

I would be inclined to choose that :-)

[2015-09-07 18:39] rougier commented on #12
Interesting, I chose the license according to PLOS license but I must have made an error.
Ok then for CC-BY (article and this website). @pdebuyl Can you make a PR ?

[2015-09-08 06:24] khinsen commented on #12
It seems I am a bit late to the party, but still...

1. The reference to Debian for explaining licenses is fine with me. Whatever people may believe about the qualities of Debian as a Linux distribution, its rigorous treatment of licenses is generally recognized.

2. I am absolutely not a license expert, but I keep hearing that there are good reasons for distinguishing between code (GPL, BSD, ...)

[2015-09-08 07:32] pdebuyl commented on #12
Interesting question on mixed works. The ReScience submission repository has no "main" license file, the license is explicitly given for each of article, code, data and notebook. To me, it makes the situation clear enough.

[2015-09-08 12:51] ctb commented on #12
I would suggest making it clearer that it has to be an OSI-approved license for code...

[2015-09-08 13:06] eddelbuettel commented on #12
:+1: re OSI

(Also, @khinsen to keep the temperature down here, why don't we leave things best discussed over a hot or cold beverage out of these threads?  Or else we may degenerate into vi-vs-emacs in no time...)

[2015-09-11 12:44] antoine-lizee opened #18 "Single algorithms as ReScience publications"
When working on a large project, researchers need algorithmic tools whose development is not the purpose of the project itself. These tools often don’t get shared properly, because of their small size and/or the fact that they don’t really fit the classic publication scheme (intro-methods-results-discussion). As a result, they’re never really re-used, nor improved on, nor corrected. We believe tha

[2015-09-11 12:56] ThomasA commented on #18
I am not sure how "big" such contributions must be, but maybe the
Journal of Open Research Software
(http://openresearchsoftware.metajnl.com/) could be an option for this
as well? I have some experience with this journal for a somewhat larger
software package.
Publishing such algorithms sure is a good idea, but I am thinking that
maybe we should try not to derail ReScience too much from its origin

[2015-09-11 16:09] ctb commented on #18
On Fri, Sep 11, 2015 at 05:56:52AM -0700, Thomas Arildsen wrote:

+1 to JORS, but also +1 to ReScience supporting this.  It could be a super
valuable contribution.  (We have a paper we're submitting to F1000 Research
soon that's basically just this - a decently implemented algorithm that
many people might find useful.  Not big new science, but hecka useful.)

[2015-09-11 16:28] rougier commented on #18
I tend to think it fits the journal because the appendix is very much like an article with its own title ("￼A Method to Weight Protein Sequences to Correct for Unequal Representation"). I imagine the original code does not exist anymore ?

Are you also able to reproduce the figures and tables in the appendix ?

[2015-09-11 17:23] dhimmel commented on #12
+1, share alike stipulations create lots of [incompatibilities](https://wiki.creativecommons.org/wiki/Wiki/cc_license_compatibility). I think SA is a major barrier to reuse -- at least for my project, it's [causing](http://thinklab.com/discussion/integrating-resources-with-disparate-licensing-into-an-open-network/107) several headaches. CC-BY is the standard for open access articles.

The CC0 (pub

[2015-09-13 13:35] rougier commented on #12
I'm closing this issue now. Current status is:

*  `code`: authors are free to use any open license they prefer
*  `article`: CBY 4.0
*  `data`: CC 0
* `repository`:  authors are free to use any open license they prefer

[2015-09-13 13:35] #12 closed

[2015-09-13 13:36] #7 closed

[2015-09-14 06:46] npettiaux commented on #9
Very nice work. Is Jekyll easier/better than pelican ? Why ?

[2015-09-14 07:35] khinsen commented on #9
The main advantage of Jekyll is that it is directly supported by GitHub. Any change to the Markdown code in the GitHub repository triggers a rebuild of the HTML pages.

Beyond that advantage specific to GitHub, the differences between Jekyll, Pelican, and the other few dozen static Web site generators are mostly matters of personal preferences and of the exact requirement of the Web site. I suspec

[2015-09-14 11:35] rougier commented on #9
Yes, I just used the most easy for us without really considering all the alternatives. The default style by Jekyll is also great, this as one of the reason.

[2015-09-14 14:12] npettiaux commented on #9
Thanks for the comments. pelican is also nicely integretad with github. I don't know jekyll to compare, but for the limited use of pelican that I have had, it works very nicely with github. A push also builds the new site, maybe not as simply though as pushing the markdown pages only.

[2015-09-14 23:58] dhimmel commented on #18
I could not find the original code when I looked. Additionally, I couldn't find any readily usable (R or python) implementations.

I think @antoine-lizee [actually found](https://github.com/antoine-lizee/R-GSC/blob/353047286b71d7225e6766d73e7e71c868a6b2c6/test/tests.R#L9) some inaccuracies in the appendix.

[2015-09-15 05:46] rougier commented on #18
Ok, then. My question was mostly to know if you can link your implementation to the original article. Finding some inaccuracies is ok and even better if you can point out them in the accompanying article such that the reader knows about the difference.

One last point is whether to use the orignal article title or the one from the appendix to name your own article (+ the [Re]) since it will impact

[2015-09-16 01:51] antoine-lizee commented on #18
Hi all - thanks a lot for your replies.
@ThomasA, thank you for pointing out the Journal of Open Research Software, which didn't catch my attention previously. They offer an interesting platform to publish algorithms, but it seems that they mainly target large, complex pieces of software. It might be a good second option though. And as @ctb said, they don't have to be the only ones providing a pub

[2015-09-16 07:14] rougier commented on #18
I think we need first to gather more experience on replication before considering extending the scope of the journal. @khinsen, what do you think ?

[2015-09-16 08:28] khinsen commented on #18
I agree. We need to keep some focus, and the key term is replication.

I do see the problem though, and it looks quite reasonable to launch another journal like ReScience, borrowing the technical and logistic infrastructure, for publishing reference implementations of algorithms.

There is, however,  another platform with exactly that goal: [Exec&Share](http://www.execandshare.org/). Its particula

[2015-09-16 15:58] rougier commented on #11
I closed this issue, feel free to re-open it if you have further questions on this topic.

[2015-09-16 15:58] #11 closed

[2015-09-16 22:18] antoine-lizee commented on #16
I tried to dig into this a little, and with no surprise, there is no quick win. The goal is to transform the *.md into a html fragment that could be then directly be included in the website.
I didn't find any robust, non-buggy avenue to go from the .tex file to some .html.
It seems that the answer will come from a standard .md -> .html transformation with some plugins (for cross references & bibli

[2015-09-16 22:47] antoine-lizee commented on #18
@khinsen, thanks for the advice, but it seems that the "particularity" of Exec&Share is a big limitation. Having the platform run the software doesn't really make sense for the vast majority of shareable algorithms I can think of, even though I see how it can be useful, especially to promote the use of the algorithms to a bigger user base.

[2015-09-17 05:15] rougier commented on #16
I had some experiment using rst and docutils, see:

http://www.labri.fr/perso/nrougier/coding/article/article.html
http://www.labri.fr/perso/nrougier/coding/article/article.rst.html

but it is only for restructured text format and does not allow to produce the pdf.

What about pandoc itself ? Is the produced html not good enough ?

[2015-09-17 05:21] rougier commented on #18
Yes, let's wait for a few months and re-open the issue.

[2015-09-17 17:09] antoine-lizee commented on #16
Well it doesn't include any styling, so you end up with basic markup. It doesn't support the cross references nor the equations. I'm sure there is a lot of solutions, but pandoc out of the box is not going to cut it.

[2015-09-17 17:26] rougier commented on #16
Switching to rmarkdown would require authors to have it installed and I don't know to what extent people are ready to do that (I know we're already imposing them the pandoc framework) ? Do you have any experience with rmarkdown ? Does it require R studio or can we have a lighter installation ?

[2015-09-17 17:40] fabiansinz opened #19 "Submit the replication of my own research not allowed"
I'd like to strongly suggest to rethink that restriction. I really like the idea of this journal, but I fear that this restriction will be a substantial limiting factor for the number of submissions and the usefulness of the journal.

A very obvious reason for this is that time is limited for all of us. Therefore, we usually never reproduce the results of an entire paper, but only the parts that a

[2015-09-17 17:45] antoine-lizee commented on #19
+1 to this, actually related to #18. Seems like using [Re:] as [Part:] could be really useful indeed.

[2015-09-17 17:59] fabiansinz commented on #19
I am not entirely sure about the labels [Re:] and [Part:]. I guess they mean *Reproduction* and *Part*. In that case one could introduce a new one, e.g. [Org:] to say that this is the original algorithm used in the paper.

[2015-09-17 18:07] antoine-lizee commented on #16
I don't think it's really heavier than installing Haskell & cabal which is the current proposition. You do not need RStudio to compile the document, just R and the package `rmarkdown`. I just typed the following in my R console:
[code]
And it gave me a [decent HTML](https://htmlpreview.github.io/?https://github.com/antoine-lizee/ReScience-submission/blob/toHtml/article/your_article_name.html) from

[2015-09-17 19:05] antoine-lizee commented on #19
The labels other than [Re:] are just meant to introduce different concept than the strict Reproduction of a paper. I just made them up - we might not want to change the suffix anyway.
I meant [Part:] as "this algo is part/method of the paper".

[2015-09-17 19:13] rougier commented on #19
It seems we'll have many submissions with partial reproduction so this is something we'll have to consider in the short term.

As for your second question, whether one can replicate its own research, the answer is no. There are several reasons (as stated in the FAQ):

1. If you made some implementation errors in the first implementation, chances are you'll made the same errors in subsequent implem

[2015-09-17 19:36] ThomasA commented on #19
I would very much like to second @rougier on this one. The way I read @fabiansinz' proposal, this is effectively a way of publishing the code behind a paper where the code was not already published along with the paper. Excuse me, but this is just cutting the salami in thinner slices; make one publication - get one free! If you can publish your analysis and code for your own paper here then it sho

[2015-09-17 21:47] antoine-lizee commented on #19
Agreed with @rougier and @ThomasA for the problem that self-replication poses. I don't think Re should become the sink for co-publication of methods along papers - this is what supplementary materials are for.

[2015-09-17 23:18] fabiansinz commented on #19
Ok, first of all +1 for creating this journal at all. I think it was timely and needed. My suggestions were meant to improve the journal's guidelines to reach is intended goal: reproducible research. While the concern raised by @ThomasA  might be a side-effect, it was certainly was not my intention to cut the salami in thinner slices (I, for instance, publish the code for my papers on my website a

[2015-09-17 23:33] ctb commented on #19
While I appreciate @ThomasA's point, I think @fabiansinz is completely correct.  I publish the code for my papers along with the papers themselves, but the reviewers never seem to look at the code; this would be a venue for peer review of the analysis code.

[2015-09-18 05:33] rougier commented on #19
@fabiansinz ReScience cannot fix the whole reproducibility problem on its own. I agree with most for your arguments but still, ReScience may not  be the place to do that yet. I'm not saying that things won't change in the future, but until we get some submissions, it might be better to keep ReScience focused.

@ctb Yes, but I fear this won't be the case anytime soon. Reviewing code is hard, especi

[2015-09-18 08:00] pdebuyl commented on #19
Hi all,

I see points on both sides. Still, one of the arguments is that replication by *someone else* is a much stronger validation. Given the young age of the journal, it makes sense to try this model (i.e. keep the current guideline) first. There is a gap in the publication system right now and the goals of ReScience fill one of them.

[2015-09-18 11:51] MehdiKhamassi opened #20 "Referencing and visibility of ReScience's articles"
There appears to be a problem in the way google scholar recognizes the authors and the title of the first article published in ReScience (Topalidou and Rougier 2015) : https://scholar.google.fr/scholar?hl=en&q=author%3Azito+author%3Akhamassi&btnG=&as_sdt=1%2C5&as_sdtp=
Google scholar thinks that Tiziano, Benoît and I are the authors and that "Meropi Topalidou ... Nicolas Rougier ..." is the title

[2015-09-18 13:33] rougier commented on #20
Thanks. You're right.

We need to integrate metadata in the template as explained here:
http://tex.stackexchange.com/questions/26529/how-can-i-generate-pdf-metadata-from-latex

[2015-09-18 13:35] fabiansinz commented on #19
@rougier I can see your point. Would be great if you keep it in mind for possible future changes.

[2015-09-18 14:27] amblina opened #21 "A form for authors of projects to request a rescience replication of their publication."
These authors would be those who would welcome replication of their work.  This may be less intimidating, particularly if the replicator works in a niche field and/or is at an early stage of their career.  It would also make up a list of works to start on to build up the ReScience portfolio.  This is not to say that those who don't welcome replication, shouldn't have their work replicated, it's ju

[2015-09-18 14:49] rougier commented on #19
For sure. I hope we'll be able to come back to all suggestions 6 months from now and think again on how to handle them.

[2015-09-18 14:57] fabiansinz commented on #19
Good luck and a good start for the journal until then. Again, +1 for starting it.

[2015-09-18 15:00] rougier commented on #21
Great idea ! We could sure have a dedicated "Replication requests" page and we would ask the original author to serve as a reviewer (just to avoid the situation where people just "throw" and forget their request).

[2015-09-18 15:01] rougier commented on #19
Thanks.

[2015-09-18 15:01] #19 closed

[2015-09-19 00:13] eddelbuettel commented on #16
It still needs a pandoc binary.

[2015-09-19 00:15] eddelbuettel commented on #16
The one real advantage of rmarkdown as a format is that thanks to pandoc you get any one of

      html   or    pdf (via latex, of course)    or    doc (which we can IMHO ignore)

In practice one tends to pick either pdf or html early and add specialisation.   Lastly, I am firmly behind the use of (neatly typeset) pdf.  To me, html rendering depends way to much on the browser used.

[2015-09-19 00:15] antoine-lizee commented on #16
yes, which is conveniently shipped with the package if I remember well - in any case, lighter than installing Haskell (several gigs and minutes of install). But again, that might not be the right solution - any other idea?

[2015-09-19 00:17] antoine-lizee commented on #16
Yes, exactly: it provides a nice all-in-one, including rendering of equations, and I remember having the cross referencing working at some point too.

[2015-09-19 00:18] eddelbuettel commented on #16
@antoine-lizee: I am sorry, but you are still confused.

RStudio (either the server or desktop) happens to install a statically built pandoc binary.  So if you have RStudio, you are good.

However, RStudio as authors of CRAN packages are _way_ to cognizant of these dependencies and the rmarkdown package does _not_ depend on RStudio. It simply states that you need a pandoc binary in the path.  Whic

[2015-09-19 00:22] antoine-lizee commented on #16
Yep - I didn't catch that the dependency was installed by RStudio. But my point is even downloading a [pandoc binary](https://github.com/jgm/pandoc/releases/tag/1.15.0.6) is way easier than installing Haskell, which is needed for the pandoc-crossref filter only. Sorry if I haven't been clear.

[2015-09-19 00:28] eddelbuettel commented on #16
Yup, no worries.  Now, for the matter at hand, and while I am one of R fanboys here, I think the existing workflow is good.  rmarkdown is a little too far out there for non-R users methinks...

[2015-09-20 08:19] rougier commented on #20
Fixed. See https://github.com/ReScience/ReScience-submission/commit/f966cb55fbe4252751f0f49c51cce59d1b1699ac

[2015-09-20 08:19] #20 closed

[2016-02-10 10:10] benoit-girard opened #22 "What about page numbers or equivalent identifiers"
Bibtex requires, for a journal entry, that a page number is provided, right? And publishers do also require page numbers in the bibliography you cite in your papers.

I admit that it can be a bit ridiculous to put page numbers on an electronic publication. However electronic only publications, like the Frontiers journals of scholarpedia, have ID that are used as page numbers. Shouldn't we do somet

[2016-02-10 10:17] rougier commented on #22
Or something equivalent. For example, I don't think PLOS has page numbers.

[2016-02-10 10:34] kain88-de commented on #22
bibtex doesn't require page numbers. Almost all bibtex entries are optional in my experience. If some information is not available in the bibtex file it is just not shown in the created pdf (this is the behavior of pdflatex).

[2016-02-10 17:46] tpoisot commented on #22
What about the commit hash, shortened?

[2016-02-10 20:31] rougier commented on #22
Ouch, that may be a bit hardcore... But the "spirit" might be quite the same as of page number. From my understanding, page numbers were useful when you had to enter a library and dig into a big volume gathering several issues in order to find quickly the article you're interested in.

However in the "electronic age" where we don't print such volume anymore, maybe a commit hash might be more usefu

[2016-02-10 21:12] tpoisot commented on #22
Well, my thinking was, more or less, that PLOS has these weird ID for every paper. 99% of people won't wonder what it is. So if we use `6ecd7705` as a "page number", I don't think anyone is going to look at us funny.

[2016-02-11 06:21] rougier commented on #22
@khinsen any thought on that ?

[2016-02-11 09:44] MehdiKhamassi commented on #14
New problems concerning the issues of ReScience:

First, concerning the newly published article by Viejo et al. (https://github.com/ReScience/ReScience-submission/pull/14), the Editor wrote that the paper could now be seen in the current issue, giving the following URL: https://github.com/ReScience/ReScience/wiki/Current-Issue.
However, the paper by Viejo et al. is not visible there and can only b

[2016-02-11 10:19] rougier commented on #14
For the wiki, it is out of date, it was an error mentioning it in the PR. The paper is actually visible from http://rescience.github.io/read/. It would be better to have dedicated pages for each article but we need some people (volunteer) to take care of that.

For the different year in the volume, that is a problem. Actually, I'm not sure what would be the best numbering system. One year = one vo

[2016-02-11 10:44] MehdiKhamassi commented on #14
Ok thank you. Then maybe we should clean the wiki because no information is better than incomplete information. This way the wiki will only contain the link to the journal page: http://rescience.github.io

I agree with you on One year = one volume.
I would suggest one issue per month, except if there was no article published during the month. So if one paper is published in February 2016, and two

[2016-05-22 16:29] leouieda opened #23 "Submitting replication done as the paper reviewer"
I have been trying to do implementations of methodological work I'm asked to peer-review for journals. This is not always possible but I have managed to do a couple and successfully reproduce the submitted results. I shared my reproduction as part of my review and the papers were accepted and published.

Is there any ethical issue with submitting my reproduction made during peer-review after the a

[2016-05-22 17:28] rougier commented on #23
I'm not sure to understand. Correct me if I'm wrong:

You were a reviewer for a paper and, as part of your review, you reproduced the work by writing your own version of the method or result ? If your implementation is your own work (meaning, you did not take code from the original paper), I don't see any ethical issue.

@khinsen what do you think ?

[2016-05-23 07:50] khinsen commented on #23
I completely agree. As a reviewer you are supposed to treat the submission you are reviewing as confidential, but once it is accepted and published, you are free to talk about it in any way you like.

There might be a legal issue if you signed some form of copyright transfer for your review. That has never happened to me, but then I never reproduced any computation as part of a review either!

[2016-05-24 15:01] leouieda commented on #23
@rougier that is exactly the case.

The implementation is my own and I didn't sign any copyright transfer agreements with the journal. So I guess it would be OK to submit the reproduction. I just thought I should ask to make sure there are no issues.

I look on the ReScience FAQ but there was nothing there. Maybe this is something worth including? Could be an incentive for trying to reproduce the

[2016-05-24 15:41] rougier commented on #23
Yes, we can add (even if I'm not sure this is such a frequent case actually). Would mind making a PR for the FAQ (else I can do it later but I'm on the leave)?

And of course, you're more than welcome to submit your work.

[2016-05-24 16:37] leouieda commented on #23
I can open the PR. Should it be in the ReScience/rescience.github.io repo? I could put this somewhere else if the FAQ is not appropriate.

[2016-05-24 18:51] rougier commented on #23
Yes, rescience.github.io. And I think the FAQ is the proper place.
By the way, is it necessary to talk about the copyright transfer agreements as reviewer? I never had something like that. Did you ever experienced that?

[2016-06-30 05:42] rougier opened #24 "Reproducibility badges"
The ACM just issued an announcement [Result and Artifact Review and Badging](http://www.acm.org/publications/policies/artifact-review-badging) proposing to have badge for reproducible work. Does anyone have contact with ACM to know a bit more on this ?

 It would be great to have ReScience to be allowed to deliver such badges.

[2016-07-01 05:09] rougier opened #25 "Tutorial replication ?"
On twitter, Anne Urai asked if it was ok to submit the reproduction of a tutorial. The paper is:

http://times.cs.uiuc.edu/course/410/note/mle.pdf

explanation for non-experts of
* http://persci.mit.edu/pub_pdfs/spatio85.pdf
* http://www.cns.nyu.edu/heegerlab/content/publications/Heeger-JOSA1987.pdf

What do you think ?

[2016-07-01 06:37] anne-urai commented on #25
Let me elaborate a bit. I'm working in the field of perceptual decision-making, where random dot stimuli (e.g. http://cns.bu.edu/~advait/RDMstimuli.html) are often used to study visual motion processing. Since these stimuli contain stochastic fluctuations, motion energy filtering (originally proposed by Adelson and Bergen in 1985 http://persci.mit.edu/pub_pdfs/spatio85.pdf) has been used to extrac

[2016-07-01 07:27] rougier commented on #25
Thank you for the explanation. From what I've understood of your initial question on twitter, you were targeting the first paper which happen to be a tutorial but also provides code and results, is that right ?
In this case I think it is ok since this is a computational paper that can be reproduced.

For the 3D case, I'm not sure I follow you. If you intend to write a tutorial on the 3D case, why

[2016-07-01 07:34] anne-urai commented on #25
Sorry for the confusion, the first article on maximum likelihood estimation is not what I'm targeting, but rather the type of tutorial style article that I have in mind.

I am also considering publishing the tutorial in a regular journal, but I quite like the principle of ReScience so I'm simply wondering if you'd consider publishing such tutorials next to the original model reproductions. I think

[2016-07-01 07:37] ThomasA commented on #25
If the issue is publication of an "untraditional" paper, you could also
consider https://thewinnower.com/ or http://sjscience.org/.

[2016-07-01 07:48] khinsen commented on #25
My view is that everything that advances reproducibility without creating negative incentives is good for ReScience, so I see no problem with publishing what amounts to support code for a tutorial (if I understood everything correctly).

Moreover, since ReScience doesn't claim any copyright, anyone is free to publish something in parallel in ReScience and elsewhere (such as The Winnower or the Sel

[2016-07-01 08:40] anne-urai commented on #25
Thanks, I'll keep these different options in mind. Once I've made progress in writing the tutorial I'll explore a bit more where the end result would best fit.

It's great to know that ReScience would consider such a piece next to more traditional model reproductions. Just out of curiosity, have you considered getting doi's from e.g. Zenodo?

[2016-07-01 09:21] rougier commented on #25
In fact, we do get our DOI from Zenodo...

[2016-07-01 09:23] anne-urai commented on #25
Thanks for the clarification, I was confused by this:

[2016-07-01 20:13] rougier opened #26 "Do we need some conditions for reviewers ? (no)"
A message has been posted (by me) on twitter saying any PhD or PhD-student can be reviewer.
What about master or grad students ? Is there any reason to not have them on board ? Do we need any conditions at all ?

I personally think that to properly make a review you need some knowledge of the scientific field to appreciate to what extent the original paper has been replicated or not. It means a re

[2016-07-01 20:20] mr-c commented on #26
FYI, I do not have an advanced degree, nor do I currently plan to get one; I have reviewed several bioinformatics papers by invitation and will continue to do so. It is not likely that any one reviewer can be an expert on all aspects of a given paper, so please don't exclude those of us who have something to contribute but don't have traditional credentials. Cheers.

[2016-07-01 20:31] pdebuyl commented on #25
Maybe ReScience should have thematic sections. For instance, http://openresearchsoftware.metajnl.com/ JORS has "software metapapers" and "Issues in Research Software". The scope should be kept on reproducing computations but sometimes a tutorial is very effective at this. Publishing a reference on some very old problems could also be nice, as they might not be covered in any kind of open-source ve

[2016-07-01 20:33] pdebuyl commented on #26
"Or equivalent experience". This remains very much an editorial power. Given the open character of ReScience, I believe that this power will be used wisely.

[2016-07-01 20:38] ctb commented on #26
What @mr-c said :).

A good criterion might be that the primary reviewer have a record of publication or other scientific contribution (source code, for example). But usually it's up to the handling editor to decide, and I think that discretion should be preserved.

[2016-07-01 20:44] mr-c commented on #26
(on a side note, I quite like the idea of having reviewers be explicit about their expertise, confidence levels, and what their review does and does not cover. That would make room for non-academics to make meaningful contributions)

[2016-07-01 20:47] tpoisot commented on #26
:+1: to what @mr-c said. I think a good mix would be one reviewer with field knowledge, and another reviewer who knows the tools and computational aspects. Ideally both reviewers would have both, but I wouldn't put a requirement based on degrees held or anything else.

[2016-07-01 20:48] tpoisot commented on #26
Roy Soc Interfaces has two mandatory fields for reviewers: what is your expertise relative to this paper, and what part of the paper do you not feel qualified to comment on. I think this is a good model to emulate.

[2016-07-02 08:04] khinsen commented on #26
Since we do open reviewing, reviewer incompetence is unlikely to be a problem; few people would be comfortable exposing their incompetence publicly in GitHub. Until this actually happens, I propose we don't impose any criteria for reviewers, but just remind them that they should stay within their competence.

In the end it's always the editor(s) who decide, so in the unlikely event that we get a l

[2016-07-02 08:20] khinsen commented on #25
@pdebuyl Thematic sections are just tags, right? Sounds like a good idea. We could have tags for the type of article, but also for scientific domains. Of course, all that will only matter once we have many more articles.

[2016-07-02 10:31] rougier opened #27 "Reviewer application"
If you want to become a reviewer for ReScience, please post your information here. The format is:

[code]

You can have a look at http://rescience.github.io/board/ for ideas (stars are pointers to reviews, no need to add them)

Then you can [watch](https://github.com/ReScience/ReScience-submission/subscription) the [submission](https://github.com/ReScience/ReScience-submission) repository and prop

[2016-07-02 10:42] rougier commented on #26
I just opened an issue for people to inform us they want to be reviewer: https://github.com/ReScience/ReScience/issues/27.

Nothing needed but a github account and a one line description. Please advertise the link !

[2016-07-02 21:53] pdebuyl commented on #25
More than specifics like tags, it could be good to broaden the scope of ReScience. There should be a limit, that the contribution actually proposes a reproduction of a scientific result. The specific form could be a "Re" paper (the current form) or a tutorial. What about more generic software package ("hey I could reproduce result X using open software Y, my contribution is the parameters file")?

[2016-07-02 22:18] markuspf commented on #27
[Markus Pfeiffer](https://github.com/markuspf/)
Discrete Mathematics - GAP - C - Haskell - Python - Idris

[2016-07-03 03:38] simonvh commented on #27
[Simon van Heeringen](https://github.com/simonvh)

Computational Biology - Epigenomics - Regulatory Motif Analysis - Python

[2016-07-03 04:41] rougier commented on #27
@markupf @simonvh Thanks for the help, I've added you to the board and invited you to the group.

[2016-07-03 08:15] #26 closed

[2016-07-03 08:16] rougier commented on #24
Does anyone have information on this ?

[2016-07-03 13:33] dombrno commented on #27
[Dominique Geffroy](https://github.com/dombrno)
Condensed matter physics; Financial derivatives - Python - C++

[2016-07-03 16:47] rougier commented on #27
@dombrno Thanks. Just added you to the board and invited to the group.

[2016-07-03 18:40] jsta commented on #27
[Joseph Stachelek](http://www.github.com/jsta)
Ecology - R - Python

[2016-07-03 19:06] rougier commented on #27
Thanks @jsta, just added you and invited you. And I was sure your were already on board...

[2016-07-03 21:27] SergeStinckwich commented on #27
[Serge Stinckwich](https://github.com/SergeStinckwich)
Agent-based modelling - Computational Epidemiology - C - Python - Pharo

[2016-07-04 05:16] rougier commented on #27
Thanks @SergeStinckwich, just added you and invited to the board.

[2016-07-04 11:25] nuest commented on #27
[Daniel Nüst](https://github.com/nuest)

Geoprocessing, sensor web, geocomputation - Java - R

[2016-07-04 11:45] rougier commented on #27
Thanks @nuest, just added  you to the board and send you an invitation.

[2016-07-04 14:44] rougier opened #28 "New submission thread"
Dear @ReScience/reviewers,

Watching the submission repository might be too noisy for most of you. You should automatically receive new submission request (and new submission request only) from this thread. You can expect 1 notification / month.

Don't answer in this issue or this will send notifications to all reviewers.

[2016-07-13 23:15] crocha700 commented on #27
[Cesar B. Rocha](https://github.com)

Physical Oceanography and Geophysical Fluid Dynamics - Python - C - Fortran

[2016-07-14 11:51] rougier commented on #27
Thanks @crocha700, just added you and sen you the invitation.

[2016-07-15 01:36] Kevin-Mattheus-Moerman commented on #27
[Kevin Mattheus Moerman](https://github.com/Kevin-Mattheus-Moerman)
Computational soft tissue biomechanics, image-based modelling - Octave, MATLAB

[2016-07-15 01:56] rougier commented on #27
Thanks @Kevin-Mattheus-Moerman, just added you and send you invitation for joining the reviewer group.

[2016-07-15 10:14] dgarcia-eu opened #29 "DavId Garcia"
[David Garcia](https://github.com/dgarcia-eu)
Computational Social Science - R - Python

[2016-07-15 10:15] #29 closed

[2016-07-15 10:15] dgarcia-eu commented on #27
[David Garcia](https://github.com/dgarcia-eu)
Computational Social Science - R - Python

[2016-07-15 10:33] rougier commented on #27
Thanks @dgarcia-eu , just added you and send you invitation for joining the reviewer group.

[2016-07-15 12:39] dgarcia-eu commented on #27
Thanks for accepting my request! I'm looking forward to help as a reviewer.

Best,
David

On 15.07.2016 12:33, Nicolas P. Rougier wrote:

--
dgarcia.eu <http://dgarcia.eu>

[2016-07-20 14:14] ogrisel commented on #27
[ogrisel](https://github.com/ogrisel)
Machine Learning - Python

[2016-07-20 15:08] rougier commented on #27
Thanks @ogrisel. Just added you and sent invitation.

[2016-07-24 10:15] almarklein commented on #27
[Almar Klein](http://github.com/almarklein)
(medical) image processing - Python

[2016-08-08 15:43] tarankalra commented on #27
Tarandeep Singh Kalra - Computational Fluid Dynamics, Applied aerodynamics, Ocean Modeling - Fortran, Python, C

[2016-08-16 17:49] awakenting commented on #16
Hello,
in the context of this issue I wanted to point you to [PythonTex](http://iopscience.iop.org/article/10.1088/1749-4699/8/1/014010/meta;jsessionid=7D3C5650A8C900549E52D42BF0999ACB.c3.iopscience.cld.iop.org) as it fits the purpose of this journal pretty well, I think. To shortly summarize, it's implemented as a Latex package and allows you to include python code (ruby, octave and julia are als

[2016-08-16 19:28] rougier commented on #16
Thanks for the reference. If I understand it well, it allows to embed the output of script directly into the pdf document, is that right ? Do you have any experience with it ?

However, this does not solve the HTML output "problem" but I suspect pandoc might be the solution.
Another possibility could be to use mardkeep (https://casual-effects.com/markdeep/) which seems to be quite powerful but I d

[2016-08-16 20:17] awakenting commented on #16
Yes it allows to embed the output directly. The ['Step-by-Step solution' section in [this demo pdf](https://github.com/gpoore/pythontex/blob/master/pythontex_gallery/pythontex_gallery.pdf) illustrates it quite nicely. I have no experience yet because I also just found it while searching for a way to automatically include all figures from a given directory (which is straightforward with it).

Yes,

[2016-08-17 06:35] khinsen commented on #16
I played with Markdeep a while ago. It's quite powerful, and easy to deploy as all there is to copy around is a single HTML file with embedded JavaScript and the Markdown contents. However, for that same reason Markdeep is Web-only; I see no way to get PDF or whatever else from it.

[2016-08-17 14:19] khinsen commented on #16
After a quick look at PythonTeX, I'd say it works much like a bunch of similar tools, such as [emacs/org-mode](https://www.jstatsoft.org/article/view/v046i03), [Lepton](http://www.math.univ-paris13.fr/~lithiao/ResearchLepton/Lepton.html). A single combined input contains text and code sections, from which the code is extracted and run, with the output being integrated into the final document.

All

[2016-08-19 23:14] pboesu commented on #27
[Philipp Boersch-Supan](https://github.com/pboesu)
Ecology, Biological Oceanography, Biogeography - R

[2016-08-21 13:37] benmarwick commented on #27
[Ben Marwick](https://github.com/benmarwick)

Archaeology, Geosciences, Social sciences - R

[2016-08-21 19:38] labarba opened #30 "Reproducible study, replication of findings: usage in ReScience guidelines"
To illustrate further on my long post regarding definitions ...
https://github.com/ReScience/ReScience-article/issues/5#issuecomment-241232791
... here is a quick review of usage in the _ReScience_ guideline documents in this repo.

`README.md`

_"ReScience is a peer-reviewed journal that targets computational research and encourages the explicit reproduction of already published research promotin

[2016-08-22 00:03] EHadoux commented on #27
[Emmanuel Hadoux](https://github.com/ehadoux)
Decision Theory, Markov models, Argumentation (Artificial Intelligence) - C++, Java, Ruby

[2016-08-22 00:15] EHadoux opened #31 "Docker environment"
Hello,

should we encourage the submitters to give a dockerfile alongside theirs submission in order to facilitate the work of the reviewers (no installation other than docker, no package conflicts, no OS limitation, etc.).

For more information: [Docker](https://docs.docker.com/engine/understanding-docker/)

[2016-08-22 06:08] rougier commented on #31
It might be an option yes, but submitter should also give a complete description of their environment alongside I think.

[2016-08-22 07:37] EHadoux commented on #31
Absolutely, it's not mutually exclusive. A Dockerfile is a comprehensive description though.

[2016-08-22 07:53] khinsen commented on #31
Submitting dockerfiles is fine with me, if it's in addition to a human-readable description of the environment. Dockerfiles are like code - comprehensive but based on implicit information (Docker itself, the base image, ...) that a human reader is not necessarily aware of. We ask for papers explaining the ideas behind the code, so we should also ask for a human-readable exaplanation of a Dockerfil

[2016-08-22 08:34] EHadoux commented on #31
You are right, that's why I proposed to have both.
However, I think we are reviewing here the manual code and the outputs, not the way to run it, do we? Do we care if the submitter is using this library or this other ? (Genuine question) I mean, if yes, it amounts to check the reproducibility of such a lib and could end up to a quick deep recursion.

[2016-08-22 10:08] rougier commented on #30
Thank you @labarba for taking time to review our usage of reproduction/reproducible/replication that are quite obviously not consistent. At the very minimum, we should make it consistent and I'm personally ok with the suggested changes.

[2016-08-22 15:38] dimpase commented on #27
[Dmitrii Pasechnik](https://github.com/dimpase)

Computational algebra and  algebraic geometry, algebraic combinatorics and graph theory, linear and convex optimization - C, Sagemath, Python, Fortran, GAP, Macaulay2, Singular, Axiom, Matlab, Octave

[2016-08-22 16:23] rougier commented on #27
@dimpase Can you make your description a bit shorter ? The idea is to have a one line description on http://rescience.github.io/board/

[2016-08-22 20:16] dimpase commented on #27
@rougier : OK, edited
(although for a jack of all trades like me it cuts off several areas I worked in :-))

[2016-08-23 08:30] khinsen commented on #30
Unfortunately I don't have the time now to dig up the sources, but the first part of the [Wikipedia article on reproducibility](https://en.wikipedia.org/wiki/Reproducibility) sums up the commonly understood meaning of the term in my field, physics, where reproducibility is a non-specific characteristic of a whole scientific study. Note that the usage can be traced back to the 17th century. There's

[2016-08-23 09:41] khinsen commented on #31
Reviewers are expected to check if they can run the code and get the same results (see our [reviewing guidelines](https://rescience.github.io/edit/), which implies that they do an installation first. We don't suggest any particular way to install code for now, but it seems logical to use the paper's instructions, except for stuff you already have on your machine.

[2016-08-23 09:49] khinsen commented on #30
One more thought. The one term everyone cares about is "reproducible". All the other R-words came up more recently to describe specific aspects of "the reproducibility problem". With the exception of very technical discussions, the only R-word that ever appears in titles and headlines is "reproducible". In most peoples' mind, "reproducible" = "good science". Even Claerbout's use can be seen as an

[2016-08-24 21:45] niranjchandrasekaran commented on #27
[Niranj Chandrasekaran](https://github.com/niranjchandrasekaran)

Molecular Biophysics - Python, Perl

[2016-08-29 12:30] humm commented on #27
ML, Robotics, NeuroComp - Python, Julia, Go

[2016-09-02 13:01] damiendr commented on #27
[Damien Drix](https://github.com/damiendr)
Computational Neuroscience, Machine Learning - Julia, Python

[2016-09-03 20:51] AdamRTomkins commented on #27
[Adam Tomkins](https://github.com/AdamRTomkins)
Computational Neuroscience - Python, Matlab, JavaScript, CUDA

[2016-09-13 07:45] neuronalX opened #34 "Line number in draft"
I am currently reviewing a paper, and I think it would be more convenient to have the number of lines written on the submitted paper draft, so reviewers could refer more easily to particular expressions or sentences in the text.

[2016-09-13 08:06] rougier commented on #34
Yes, good idea. It's only a matter of adding a package in the latex template.

[2016-09-16 08:38] rougier opened #35 "Take advantage of the new "pull request review" feature"
It is now possible to [Review a Pull Request](https://help.github.com/articles/about-pull-request-reviews/) from GitHub. Should we take advantage of this for reviewing submissions ? Anyone has experience on using this new feature ?

[2016-09-22 16:17] eroesch opened #36 "Reproducible empirical research?"
All,

I am wondering whether it would be appropriate to extend the ReScience family, and create a second journal for reproduced experimental work, broadly spanning psychology and neuroscience. As you know reproducible research in these fields has drawn a lot of attention, but publishers are not willing to change their policies and/or direct reviewers to be more accepting of submissions describing

[2016-09-22 18:11] rougier commented on #36
I think this is a good idea but I don't know how popular replication is in experimental work and if there are already some journals that are willing to publish experimental replication (success or failure). I know the big latest stories about failed replication but I don't remember having read positive/negative for a single replication.

Such a journal can for sure start with "only" psychology and

[2016-09-22 19:02] damiendr commented on #36
PLoS One has a [category](http://journals.plos.org/plosone/browse/replication_studies) for replication studies, and a [collaboration](http://validation.scienceexchange.com/#/reproducibility-initiative) for enabling the replication of experimental work. I don't know much more about it.

PeerJ [states](https://peerj.com/about/editorial-criteria/) the following:

To me there are two unique things abo

[2016-09-22 19:21] benureau commented on #36
The [Journal of Experimental Psychology: General](http://www.apa.org/pubs/journals/xge/replication-articles.aspx) accepts replication studies in psychology. [The Association of Psychological Science](https://www.psychologicalscience.org/index.php/replication) accepts multi-labs replication projects. Some topics in Frontiers have tackled replication directly: [Replication Attempts of Important Resu

[2016-09-26 11:10] eroesch commented on #36
All -- Thanks a lot of the feedback. (note, we have been using the words "replication" and "reproduction" interchangeably in this thread; they might defined differently [as per ReScience FAQ](https://rescience.github.io/faq/) but I am considering both aspects in my original proposal)

I know of the outlets cited, but in my opinion, they are really not sufficient. The statement from the APS, in par

[2016-09-26 13:33] eroesch commented on #36
Re Github as interface, it is certainly the easiest to grasp for psychologists and neuroscientists. I would imagine something like http://osf.org may be easier to interact with. OSF also has hooks to github (and other big repositories for data), but we may need to rethink the workflow.

Also, I have not seen exactly how ReScience manages the lists of potential reviewers. As the scope expands and t

[2016-09-26 13:47] oliviaguest commented on #36
Great points raised!

Even though ReScience is outside the traditional publication system, that not to mean it's not affected by it. I mean we are as much subject to these pressures (monetary, seeking ribbons, as some say, etc.) as anybody for perhaps more latent but still largely valid reasons. I think you are not exactly addressing my point herein when you say the quote from below, but it might

[2016-09-26 14:07] eroesch commented on #36
Unfortunately, I agree completely with you.. :)

The people at OSF (which is a funded organisation with employees) are very responsive and extremely helpful. I have spoken to them a few times, regarding feature requests, bugs, etc. I will get in touch with them to see if there is a hosted way of managing and sifting through lists of contributors.

[2016-09-26 16:12] rougier commented on #36
Currently, almost everything is manual in ReScience but there might be ways to automatize things a bit. For example, if you look at http://joss.theoj.org/about (which is also a journal that live on github), there is now a bot (@whedon) that help editors. Also, I'm looking into improving the website and submission process using a student project but it has not yet started. Concerning reviewers, aut

[2016-09-27 07:52] eroesch commented on #36
@rougier, We "do" or "don't" have much to lose? ;) Given our previous discussions, I'll go for the latter.

I guess the next step would indeed be to gather an editorial team, and iron out the submission process for a less git-savvy audience (I really like what http://joss.theoj.org did..), write a mission statement of some kind, etc. From your experience, I think you said we need 2 to 3 people, is

[2016-09-27 08:39] rougier commented on #36
@eroesch  Thanks,  just updated my comment.

Or we can keep "ReScience" as it is and create a "ReScience Exp"

[2016-10-01 13:27] KamilSJaron commented on #27
[Kamil S Jaron](https://github.com/KamilSJaron)

Evolutionary biology - R

/* I am not entirely sure how concrete should I be with my scientific expertise. Also I am not sure, what level of language is needed for expertise, I mean, I write bits of C++ and python code, but I am definitely not an expert... */

[2016-10-01 17:07] rougier commented on #27
@KamilSJaron You don't need to be an expert but you have to be confortable at installing package and/or compiling program if necessary.

[2016-10-01 17:12] KamilSJaron commented on #27
Well I feel more than comfortable compiling programs... Then, I would like to apply as

[Kamil S Jaron](https://github.com/KamilSJaron)

Evolutionary biology - R, C/C++, python

[2016-10-07 13:03] eroesch commented on #36
Alright. I would like to go ahead with this. I have spoken to a few people, and I am now constituting an editorial team. We will produce written documentation for a general strategy, a mission statement, etc. If you are interested to join, do not hesitate to contact me!

[2016-10-07 17:05] rougier commented on #36
That's great news ! I would gladly help and join if I can be useful in any way.

[2016-10-07 17:42] oliviaguest commented on #36
Count me in if you deem me of use!

[2016-10-07 18:09] MehdiKhamassi commented on #36
Thank you Etienne! I'd also be happy to join and contribute. Best
wishes!

[2016-10-07 18:13] dimpase commented on #36
@rougier in USSR is was respectable to publish experimental papers that started like "For the first time in the USSR, we were able to..." It takes whole new meaning for me all of a sudden. Note sure if I should tag this as offtopic :-)

[2016-10-08 16:36] ACompNeuroscientist opened #37 "Suggesting a paper to replicate?"
There are two highly cited computational papers from the same author which I have been unable to reproduce, despite great effort.  However, there are two problems:

1) My attempts to reproduce them were in Matlab and I am less skilled with Python.  As a new faculty member, it would be impossible to find the time to learn Python enough to attempt a replication in Python.

2) As an untenured faculty

[2016-10-08 16:50] ACompNeuroscientist commented on #37
I suppose I might as well post one of the papers:

"Emergence of Complex Computational Structures From Chaotic Neural Networks Through Reward-Modulated Hebbian Learning"

http://cercor.oxfordjournals.org/content/24/3/677.short

I implemented the model and it correctly produced the target outputs, but the weights did not converge.

For the other paper, I will more thoroughly verify my implementatio

[2016-10-08 16:54] benureau commented on #37
From the [Rescience FAQ](https://rescience.github.io/faq/):

Just to clarify the situation: did you contact the authors about being unable to replicate? About them providing you with code or even a binary showing that the results are indeed replicable (versus reproducible, as defined in the FAQ)?

[2016-10-08 17:01] anne-urai commented on #27
[Anne Urai](https://github.com/anne-urai)
Cognitive neuroscience, decision-making, vision science - Matlab, Python, R

[2016-10-08 18:06] rougier commented on #37
Concerning the possibility of proposing paper to be replicated, yes, this is something we should do but need to find a the best way to have an up-to-date list and to let people know when someone wants to replicate a paper (just to avoid having several people working on the same replication).

Concerning non-replicaable paper, we did not have the case yet mostly because people are a bit afraid of p

[2016-10-12 12:01] khinsen commented on #37
I haven't seen anonymous scientific papers yet, but some journals do allow the use of pseudonyms, which comes down to the same. We don't check anyone's identity here anyway, so if someone makes a submission using a pseudonym, I suspect nobody would notice.

I like the idea of suggesting papers for replication. The logical next step is collaborative replication work, in the open on GitHub.

[2016-10-12 13:15] rougier commented on #37
I've been talking with @benureau and he proposed a nice solution that would be to have a new repository (e.g. `ReScience/call-for-replication`) where people would open one issue per suggestion and this issue would be the place to discuss the paper (reason to propose, difficulty, etc.). This issue would be closed once the challenge has been accepted by someone (such that people knowns some other pe

[2016-10-12 14:06] benureau commented on #37
Declaring such a publication in their CV is clearly incompatible with remaining anonymous. But indeed, there should be a mechanism to deanonymize replications.

I assume that people will create anonymous github accounts to submit anonymous replication to ReScience. Assuming they remain in control of this accounts, they could then use them to ask for deanonymizing the publication at a latter date.

[2016-10-12 14:11] pdebuyl commented on #37
Thinking of the implication of the process, I think that we could proceed like regular journals for this, but in a more open and transparent manner (see the experience here http://www.untruth.org/~josh/How_to_Publish_a_Comment.pdf ).

For instance, publishing the paper "as usual" and then proposing a right of reply to the un-replicable authors, requiring indeed the same level of quality as for oth

[2016-10-12 16:34] khinsen commented on #37
I agree with @benureau that the identity issue can mostly be handled via the GitHub account, meaning that it's not our problem.

I don't expect authors anonymously replicating their own non-replicable papers to be a major issue. Once a ReScience paper becomes a must-have on everyone's CV, we can reconsider. Of course it would be nice if the editorial board could be informed about an author's true

[2016-10-13 09:13] rougier commented on #37
@ACompNeuroscientist I just created the [call for replication](https://github.com/ReScience/call-for-replication) repository. You can now open an issue in this repository such that people know there is an interest in having this article replicated.

[2016-10-13 10:07] benureau commented on #37
@rougier It may be useful to create an issue template (https://github.com/blog/2111-issue-and-pull-request-templates) for this repository so that important details about the article and the reason why it is interesting to replicate it, how hard it is expected to be, etc., are present when people submit an replication call. I create a pull request for that (https://github.com/ReScience/call-for-rep

[2016-10-15 08:02] nadnaps commented on #27
Vamsi Spandan [https://github.com/nadnaps]
Computational Fluid Dynamics, High performance computing - Fortran, Python

[2016-10-16 21:59] Chris1221 commented on #27
[Christopher B. Cole](https://github.com/Chris1221)
Statistical Genetics - R, Matlab, Python, C++

[2016-10-18 18:20] QihongL commented on #27
[Qihong Lu](https://github.com/QihongL)
Cognitive psychology, neuroimaging multivariate pattern analysis, neural network modeling
Python, Matlab, R, Java

I am currently an senior undergraduate student. Can I help with the review?

[2016-10-18 19:20] rougier commented on #27
@QihongL Yes, and when ask to review a paper, you still have the option to decline the review if you think you cannot do it. Would you mind shortening your description (the idea is to fit one line in http://rescience.github.io/board/)

[2016-10-18 20:16] maclandrol commented on #27
[Emmanuel Noutahi](https://github.com/maclandrol)
Computational Biology, Evolutionary biology - Python, Java, Matlab, JavaScript

[2016-10-18 20:56] QihongL commented on #27
@rougier Thanks! I just revised the description a little bit.

[2016-10-21 19:09] ThomasA commented on #35
Why close this issue already?

I have just spent the last couple of days reviewing a quite substantial pull request for one of my colleagues, so I have some experience with it.

[2016-10-21 19:11] rougier commented on #35
Sorry, since it has been open for more than one month, I wrongly assumed there were not interest in the question.

[2016-10-21 20:42] #37 closed

[2016-10-24 09:45] StuntsPT commented on #27
[Francisco Pina-Martins](https://github.com/StuntsPT)
Bioinformatics, Evolutionary Biology, Population Genetics/Genomics - Python

[2016-10-25 18:24] ThomasA commented on #35
Oh, I only just noticed the issue now that you closed it ;-)

[2016-11-02 16:28] kyleniemeyer commented on #27
[Kyle Niemeyer](https://github.com/kyleniemeyer)
Combustion, chemical kinetics, computational fluid dynamics, HPC - Python, Fortran, CUDA, Matlab

[2016-11-18 21:53] aaronshifman commented on #27
[Aaron Shifman](https://github.com/aaronshifman)
Computational Biology - Python, Matlab/Octave, Javascript

[2016-11-22 13:39] rth commented on #27
[Roman Yurchak](https://github.com/rth)
Signal processing, information retrieval - Python

[2016-11-24 12:12] steffengraber opened #38 "Publications do not seem to be picked up by google scholar"
There seems to be a problem in the interplay of ReScience and google scholar.
Or is it a general problem of github? Is there a solution for this?

[2016-11-24 16:10] labarba commented on #38
Papers in JOSS are indexed by Google Scholar. Does ReScience pay a [CrossRef subscription](http://www.crossref.org/02publishers/20pub_fees.html)? JOSS does: maybe that helps with Google Scholar.

[2016-11-24 18:00] benureau commented on #38
Hum... it seems Google uses a more bruteforce approach, scanning every pdf it finds and deciding if it is a scientific paper or not. See details here:
https://scholar.google.com/intl/en/scholar/inclusion.html

There also seems to be the option of doing it directly:
"Documents larger than 5MB, such as books and long dissertations, should be uploaded to Google Book Search; Google Scholar automatical

[2016-11-24 18:04] rougier commented on #38
@labarba No we don't pay crossref subscription (we have no budget actually, not even for the DOI).

[2016-11-24 18:39] oliviaguest commented on #38
Obviously, this is a complete tangent but... why not apply for funding?

[2016-11-24 18:52] labarba commented on #38
See http://joss.theoj.org/about and scroll down to find the Business Model section for JOSS. The CrossRef subscription is $275/year and the DOIs are $1 per paper. In my opinion, these two are minimally needed. Not having a DOI is a big disadvantage.

@oliviaguest expresses what I thought, as well — requesting a donation of even $1000 would cover a couple of years, and then one can see. BUT, then t

[2016-11-24 18:55] labarba commented on #38
Oh, I see now that you're getting around the DOI needs by using Zenodo.

[2016-11-24 19:12] benureau commented on #38
Operating without budget, ReScience is demonstrating that it is possible to review and publish science in a serious manner without money. Of course, ReScience does not cost nothing, and the implication of @oliviaguest and @rougier and many others beyond reviewing could not happen without the support of their respective institutions, and structures like GitHub and Zenodo.

While the no-bugdet aspec

[2016-11-24 19:15] oliviaguest commented on #38
Some money actually belonging to ReScience (in my opinion) might be a good thing. What do others think?

[2016-11-24 19:28] labarba commented on #38
I think we're talking about a few hundred bucks. A ridiculously small amount that still fits under the "no budget" category, in my opinion.

[2016-11-24 19:49] khinsen commented on #38
The main advantage I see in not having a budget at all is not having to manage one. Whoever might give us money would probably request some accounting work. Moreover, there is no legal entity behind ReScience, so it's not even clear who would end up receiving money in the name of ReScience.

[2016-11-24 20:03] labarba commented on #38
The original post is about indexing by Google Scholar. Tracking citations to publications in ReScience is important. Google Scholar is used widely and it matters that ReScience articles be picked up somehow.

There's also ORCID. A CrossRef subscription takes care of that, I believe. The word "budget" itself is an exaggeration when all that's needed is for some entity to donate the $275 CrossRef me

[2016-11-24 20:32] labarba commented on #38
Since ReScience papers are already getting a DOI from Zenodo, I Googled a bit to find out if that would make them visible to CrossRef.

I ran into this blog post: [DOIs are not enough](http://iphylo.blogspot.com/2014/05/dois-are-not-enough.html)

Quoting from there:

[2016-11-24 20:38] labarba commented on #38
And more:

[2016-11-24 21:05] labarba commented on #38
OK, but the blog post linked above is three years old. It appears there has been progress on interoperability of these services. But I can't untangle it all. We may need to consult a librarian.

One-year old post: [Explaining the DataCite/ORCID Auto-update](https://blog.datacite.org/explaining-the-datacite-orcid-auto-update/) — it sounds like DataCite can push to ORCID (but I think it requires the

[2016-11-24 21:12] rougier commented on #38
Talking about ORCID, it might also be a good idea to ask for ORCID to authors / reviewers / editors. I'll open a new issue on that.

[2016-11-24 21:25] rougier commented on #38
@labarba We could apply for a very small grant but I (personally) like the idea of having things done without asking anyone for "permission" (aka money). Of course, if we cannot find a solution for being properly indexed, we'll have to apply for some grant.  But as @khinsen, we don't even have a legal entity behind the journal. Do you know what would be the requirement from NumFOCUS ? Would we hav

[2016-11-24 22:11] labarba commented on #38
The role of [NumFOCUS](http://www.numfocus.org) is precisely to provide a "legal entity," via fiscal sponsorship, for projects that are small, cannot afford or do not want to incorporate as a non-profit (or otherwise) themselves.

NumFOCUS is an umbrella organization for many small open-source projects. In addition to supporting open source, it also has reproducibility in its scope. Applying for a

[2016-11-25 03:20] ctb commented on #38
Could someone pay the CrossRef fee on behalf of ReScience? At $275/yr + change I can pay it out of my own funds for a few years, as long as my home institution (UC Davis) can get an invoice from someone (or get a receipt from a credit card expense).

[2016-11-25 06:41] steffengraber commented on #38
Is it not just a technical problem? Maybe you can submit the page to google scholar by hand:
https://partnerdash.google.com/partnerdash/d/scholarinclusions
They will than hopefully adjust their crawler. But you need to register.

[2016-11-25 07:40] rougier commented on #38
@ctb Thanks for the offer, I'll look first what I can do on my side.

@steffengraber I've looked at the page and it seems pretty easy. It's a matter of organizing the rescience website to host the paper and split directories into volume / issue. One architecture could be:

[code]

We've decides to have one volume / year and 10 papers / issue. Of course, it's kind of artificial.

[2016-11-25 08:06] steffengraber commented on #38
@rougier Maybe it could be so simple.

I know nothing about PDFs. Are they ready for indexing?

[2016-11-25 08:34] rougier commented on #38
I think so. There are some meta-data inside the PDF that should be filled via pandoc (I included them in the latex template)

[2016-11-25 11:00] khinsen commented on #38
@labarba What we archive on Zenodo is not the paper (PDF) but an archive of the submission, i.e. mainly code. A DataCite DOI looks right for that (or at least not completely wrong). It would make sense to assign a seperate DOI to the paper itself. This is not a requirement for Google Scholar though.

The real problem with DOIs is that what we are doing ("mashups" of code and documentation) doesn't

[2016-11-25 11:17] oliviaguest commented on #38
I have made an attempt to reach out on twitter. One reply so far: https://twitter.com/iaravps/status/802108669009809408

[2016-11-25 13:01] ctb commented on #38
+1 on asking @Repositorian to join - she is expert and interested in these
issues.

[2016-11-25 13:20] rougier commented on #38
@oliviaguest Thanks.

The title of the linked paper is "The dark side of Open Access in Google and Google Scholar: the case of Latin-American repositories".  Maybe we don't have the full story about google scholar.

[2016-11-25 13:26] rougier opened #39 "ORCID for all"
Dear @ReScience/editors, @ReScience/reviewers

We would like to ask authors / reviewers / editors to communicate their [ORCID](http://orcid.org) number. If you're ok with that, just thumb up. Else, please comment below.

[2016-11-25 13:53] ThomasA commented on #39
I am http://orcid.org/0000-0003-3254-3790

[2016-11-25 13:57] ilayn commented on #39
0000-0003-0096-7409

[2016-11-25 13:57] vitay commented on #39
http://orcid.org/0000-0001-5229-2349

[2016-11-25 13:59] benureau commented on #39
http://orcid.org/0000-0003-4083-4512

[2016-11-25 14:04] dgarcia-eu commented on #39
I'm http://orcid.org/0000-0002-2820-9151

[2016-11-25 14:05] benoit-girard commented on #39
orcid.org/0000-0002-8117-7064

[2016-11-25 14:06] rossant commented on #39
http://orcid.org/0000-0003-2069-9093

[2016-11-25 14:07] rougier commented on #39
http://orcid.org/0000-0002-6972-589X

[2016-11-25 14:07] heplesser commented on #39
0000-0001-7843-5993

--

Dr. Hans Ekkehard Plesser
Associate Professor

Dept. of Mathematical Sciences and Technology
Norwegian University of Life Sciences
PO Box 5003, 1432 Aas, Norway

Phone +47 6723 1560
Email hans.ekkehard.plesser@nmbu.no
Home  http://arken.nmbu.no/~plesser

[2016-11-25 14:09] ozancaglayan commented on #39
https://orcid.org/0000-0002-5992-3470

[2016-11-25 14:09] mstimberg commented on #39
http://orcid.org/0000-0002-2648-4790

[2016-11-25 14:10] FedericoV commented on #39
http://orcid.org/0000-0001-8100-158X

[2016-11-25 14:12] jsta commented on #39
https://orcid.org/0000-0002-5924-2464

[2016-11-25 14:12] pdebuyl commented on #39
http://orcid.org/0000-0002-6640-6463

[2016-11-25 14:14] ctb commented on #39
I'd suggest we use a google form or something to communicate ORCIDs... a little easier than scraping a github issue.

https://docs.google.com/forms/d/e/1FAIpQLSfEpiNMdCR3bESmiQpUFG5UpGB34dvX_7RR1QNZHeSBOcU60w/viewform

-- let me know if you want read privs, you can send me your google ID at titus@idyll.org (I haven't figured out how to make the spreadsheets readable by everyone)

[2016-11-25 14:21] rougier commented on #39
Thanks @ctb, I've added the link a the top.

[2016-11-25 14:25] pdebuyl commented on #39
Or you know, a text file when everyone would file a PR to add oneself :-)

[2016-11-25 14:25] pdebuyl commented on #39
challenge: have no merge conflict!

[2016-11-25 14:43] ctb commented on #39
@pdebuyl been there done that ;)

[2016-11-25 14:43] ctb commented on #39
(I think that's a good solution once we are in maintenance mode and asking people to submit ORCIDs with reviewer signup.)

[2016-11-25 16:54] oliviaguest commented on #39
http://orcid.org/0000-0002-1891-0972

[2016-11-25 17:00] EHadoux commented on #39
http://orcid.org/0000-0003-4303-7885

[2016-11-25 17:04] labarba commented on #38
@khinsen — 👍 on a separate DOI for the paper; this is what we do at JOSS (code has Zenodo DOI, paper has CrossRef DOI, metadata has authors' ORCID).

[2016-11-25 17:05] dimpase commented on #39
http://orcid.org/0000-0002-7557-6886

[2016-11-25 17:25] oliviaguest commented on #38
@ctb @Repositorian is giving feedback (on Twitter) already: https://twitter.com/Repositorian/status/802191578005700608

[2016-11-25 18:40] nadnaps commented on #39
orcid.org/0000-0003-0107-4135

[2016-11-25 19:05] crocha700 commented on #39
http://orcid.org/0000-0003-4063-5468

[2016-11-25 19:51] QihongL commented on #39
http://orcid.org/0000-0002-0730-5240

[2016-11-25 19:53] ctb commented on #39
Please put the ORCIDs in the form above - thanks!

[2016-11-25 21:22] arfon commented on #38
:wave: thanks for the ping @labarba. Adding some context from the JOSS/Open Journals perspective.

This is correct. There's also costs for issuing new DOIs - you can see a breakdown of the JOSS running costs here: http://joss.theoj.org/about#business_model

This is why we're well on the way to becoming an affiliate of the [Open Source Initiative](https://opensource.org) so that they receive funds

[2016-11-25 21:39] labarba commented on #38
Thank you for the contribution, @arfon !!

[2016-11-25 23:17] Repositorian commented on #38
So it is taking a bit of time to uppack the myriad issues you all have raised around greeting your ejournsl indexed vs. getting the articles associated with persistent identifiers, e.g. DOI and ORCID.

First it seems important to Set aside the piece about impact metrics with Web of Science and
SCopus. Those proprietary streams are picky about what journals they index and assign IF to: even well es

[2016-11-26 10:25] oliviaguest commented on #38
@Repositorian thanks so so much! Looks like our work is cut out!

[2016-11-26 19:06] khinsen commented on #38
Thanks @arfon and @Repositorian for these very helpful comments!

[2016-11-27 21:59] mfenner commented on #38
I see that a lot of topics have been covered already. Let me know if you need more info about DataCite DOIs (I am their technical director). I mainly agree about the differences between Crossref and DataCite DOIs mentioned earlier in this discussion, but it depends a bit on what you want to achieve. For journal articles Crossref DOIs in general are a better choice, for research data, software, etc

[2016-11-29 06:54] rougier commented on #38
Thanks you all for these great information. I've some question though.

@arfon Do you have some template/engine for building the xml crossref starting from the paper markdown metada data or do you fill everything by hand ?

@Repositorian [AuthorCarpentry](http://libguides.caltech.edu/authorcarpentry) seems a great resources. I did not find the lesson on the website, are they online ? Is there an a

[2016-11-29 07:41] mfenner commented on #38
@rougier you want to link article, code and data in the metadata. The Crossref and DataCite metadata schema are different, but they both support this cross-linking. The most familiar format is reference lists, which can be deposited with Crossref metadata in addition to appearing in the PDF.

[2016-11-29 07:45] mfenner opened #40 "ORCID should be provided via OAuth not form field"
ORCID IDs from authors, editors or reviewers should be provided by authenticated OAuth2 call to the ORCID registry rather than filling in a form. This not only provides a nice user experience, but avoids errors entering the ORCID. You don't have to be an ORCID member to use this functionality. Client libraries for many languages are available (I maintain the Ruby library omniauth-orcid).

[2016-11-29 09:42] rougier commented on #40
Might not be compatible with the github API (we us the Pull Request as the interface for the open review)

[2016-11-29 09:55] mfenner commented on #40
Something that I am working on for DataCite is adding Github usernames to ORCID records (by using OAuth both with Github and ORCID), see for example by ORCID record at http://orcid.org/0000-0003-1419-2405. This information is of course also available via the free public ORCID API. Unfortunately I don't know whether there is a good place to put an ORCID in a Github profile, other than the `URL` fie

[2016-11-29 11:04] khinsen commented on #40
Academia is converging towards ORCID, but non-academic services like GitHub might well not care about ORCID at all. Therefore it seems more feasible to have ORCID collect IDs on other services than to expect everyone else to support ORCID explicitly. In other words, it would be nice if we could avoid relying on an ORCID being stored in a GitHub profile.

In the long run, does it seem feasible for

[2016-11-29 11:10] khinsen commented on #38
@rougier My understanding is that we do not strictly need separate DOIs for PDFs and the codebase. This is merely today's most frequent arrangement. Perhaps this is more a historical accident (journals having long ignored anything non-PDF) than a well-motivated decision.

Technically, a DOI resolves to a landing page from where various forms of contents can be made available.

I wonder if any of o

[2016-11-29 13:19] pdebuyl commented on #38
From a researcher's point of view, there is a benefit to have a single DOI for the paper and the code. It means that people would cite *both*, which avoids the explanation "so if you use my software, you should cite this paper and this other code-related DOI".

As I understand the discussion, DataCite DOIs would be ok if only Scholar et al were to index them, or do I miss something?

[2016-11-29 14:50] rougier commented on #38
@pdebuyl Not sure either.

For the code, we might also consider using https://www.softwareheritage.org for a lifelong identifier.

[2016-11-29 15:15] khinsen commented on #38
@rougier SoftwareHeritage looks promising indeed, but for now it is not really operational. In the long run it might well be a better option than DOIs for code.

[2016-11-29 16:06] Repositorian commented on #38
This robust discussion around DOI's and best practices for assigning them (and how else they are extremely useful) is the reason we in AuthorCarpentry make this topic the focus of our first lesson: http://caltechlibrary.github.io/AuthorCarpentry/CODATA-RDA/lesson-01.html (piloted at CODATA-RDA Summer School in Data Science, Trieste, August 2016 with success but now undergoing improvements and enha

[2016-12-09 12:48] soolijoo commented on #27
Diffusion Imaging and simulation. Java, Python, C++. Definitely not matlab.

[2016-12-23 07:59] ChristophMetzner commented on #27
ChristophMetzner
Computational Neuroscience - Python,Matlab,Neuron,Genesis,Auryn/C++

[2016-12-28 19:29] mkloczko opened #41 "Replication and High Performance Computing"
I would like to ask whether it is possible to submit work related to benchmarks on multi-core architectures. Would replicability be an issue here ?

[2016-12-28 20:17] rougier commented on #41
It's hard to answer without some more details. It may depends if the reviewer of your replicatino needs to have access to a specific hardware. Do you have a specific paper in mind ?

[2016-12-28 22:11] mkloczko commented on #41
The work I have in mind is about measuring scalability of a heuristic program. The program tries to find the global minima of a function on a machine with 64 cores. An example of an article which tackles the problem is [Highly Scalable Erlang Framework
for Agent-based Metaheuristic Computing](http://www.sciencedirect.com/science/article/pii/S1877750316300242).

[2016-12-29 20:39] mkloczko commented on #41
I see. Thank you!

[2017-01-05 14:35] pdebuyl opened #42 "Request version information"
A full version information could be requested in the paper or the README of the code directory.

Example for Python

[code]

    Platform: linux
    Python: 3.5.2+ (default, Sep 22 2016, 12:18:14)
    [GCC 6.2.0 20160914]
    NumPy: 1.12.0b1
    SciPy: 0.17.0

Example for C

[code]

[code]

The version used by the reviewers could be appended.

[2017-01-05 22:11] pdebuyl commented on #42
Ok, I will propose a PR to the rescience website soon. I'll close this issue then, I leave it open for now in case others want to comment.

[2017-01-06 06:28] rougier commented on #42
You can also modify the PR template for submission to explain to not forget to add dependencies/versions

[2017-01-07 21:51] ctb commented on #39
Hi, results are here: https://docs.google.com/spreadsheets/d/1q_ntEv4EdiKyipmhozgTylMzbN0OyDTiNTal9OMhXQw/edit

[2017-01-09 18:52] rougier commented on #39
Thanks @ctb. I'll edit it to normalize entry and add it to ReScience main repo.
Future ReScience members can issue a PR to get included.

[2017-01-11 14:46] khinsen opened #43 "Post-publication maintenance"
I have tried to reproduce the results of some of the papers published in ReScience, with the goal of using them as examples in a course on reproducible research. The idea is to let students re-run the code and compare the outcomes, without necessarily understanding much about the contents - the goal of the exercise is to show how computational work can be published reproducibly, and what reproduct

[2017-01-11 15:34] labarba commented on #43
Seriously? This is both interesting in its own right, and distressing. As you know, I published a paper about our own work to replicate a previous study (from our group, though the student had graduated) that had been done "reproducibly." It was a huge challenge! In that case, we were using other code bases to seek replication of the findings. Yet we also used the same code (same version), and ran

[2017-01-11 15:47] rougier commented on #43
That's a big surprise because reviewers do test for the result and this means running the original code. When you say you haven't fully succeeded, you mean you cannot run the code or you don't get the same result ?

@pdebuyl suggested in #42 to have minimal information on the different versions needed to run the replication, that might help for future submissions. However, I don't expect people to

[2017-01-11 15:56] Chris1221 commented on #43
I realize that this may be a little too demanding of authors, but the issue could potentially be addressed through a continuous integration service with unit tests for major results. Of course this might not be possible for some things such as figures, but for major numerical results (i.e. the coefficient was found to be X) the output of said results could be tested at each `push` to ensure that c

[2017-01-11 16:23] khinsen commented on #43
Some more details so that you can appreciate the situation.

In Detorakis-2016, the list of dependencies is incomplete. The code requires scikit-image, which is not mentioned. This could easily be missed by a reviewer who already has scikit-image in his/her Python installation. Another problem is that the script `run_all.py` works only if the Python installation used for execution is the one acces

[2017-01-11 16:44] ctb commented on #43
This discussion is remarkably similar to issues sparked in my brain on
Monday's Scientific Paper of the Future workshop at Caltech.  Konrad's
issue arrived in my inbox at almost exactly the same time I was putting
together a blog post that touches on many of these same issues --

http://ivory.idyll.org/blog/2017-pof-software-archivability.html

Feedback welcome!

The continuous analysis idea is a

[2017-01-11 17:08] khinsen commented on #43
@ctb Yes, your blog post is very appropriate. But it's not just time that is a problem. The code I am trying to use has been found OK by reviewers a few months ago. I haven't updated my scientific software since then. The problem is that the code relies on a specific platform that we cannot describe in any useful and verifiable way to the person wanting to do the replication.

Adding versioning in

[2017-01-11 17:13] Chris1221 commented on #43
@ctb Interesting post and article, thanks for the links. It seems like lack of incentive may also be a contributing factor to people not taking up these tools. Would there be any value to an option "reproducibly generated outputs" section of a rescience article? The authors could provide the CI tests and links to generate specific key outputs that show their reproduction is accurate along with the

[2017-01-11 17:26] khinsen commented on #43
@Chris1221 The main problem I see with any CI-based approach is: what happens when the tests fail? Who does the work of analyzing what went wrong and how to fix it? And who pays for it?

[2017-01-11 17:33] Chris1221 commented on #43
@khinsen Good points that I'm not sure how to answer. My initial reaction would be to say that should authors choose to include such tests then they must all pass for submission, review, and publication, and they would be required to maintain their code for a fixed period of time following publication; or, and this may be slightly unreasonable, to set up a docker container with the correct version

[2017-01-11 22:02] StuntsPT commented on #43
I suppose that if someone is pushing something to the repository that is being "tested", then there is interest in at least part of the analyses that comprises it. Whoever is doing those pushes *should*, at least in theory be interested in understanding what is failing.
Regardless, I think a static docker container might be the answer here, and despite the effort required to create one, I think it

[2017-01-12 09:31] khinsen commented on #43
An idea to reduce platform dependencies in the future: assign a third reviewer with a different scientific background, whose sole task is to re-run the computations from the instructions. This would happen after our current reviewing process.

The rationale is that someone who does not work in the same field as the authors is also more likely to use a different computing environment and share less

[2017-01-12 18:30] oliviaguest commented on #43
Sure... but why a scientist? Why not a software engineer?

[2017-01-12 20:48] pdebuyl commented on #43
I would ask why "after the review"? Is it to check that the final instructions are good enough?

The idea, if I understand, is to check whether one can go from a "bare OS" to "obtaining the results". For instance, I am a regular OS X user and if there are *implied assumptions* from the code authors, such as "have XCode", "have NumPy", "have root access", etc. they would be unmasked from this test.

[2017-01-12 20:49] oliviaguest commented on #43
So run everything in a container?

[2017-01-12 20:50] pdebuyl commented on #42
Here's an example https://github.com/pdebuyl-lab/colloidal_chemotaxis_companion/blob/master/README.md

Any comments?

[2017-01-12 20:51] pdebuyl commented on #43
I don't know very much about containers :-) My idea of this is

- insert a USB boot stick in the machine
- format
- proceed

but it is probably more time consuming than a container :-)

What about just using a stock OS in a VM?

[2017-01-12 20:56] oliviaguest commented on #43
That's essentially what a container is, but better.  😉 You would prefer it for the above. See here: https://www.docker.com/what-docker

[2017-01-12 22:43] pdebuyl commented on #43
Thanks, I'll have a look.

[2017-01-12 22:49] Chris1221 commented on #43
If this gains momentum and there is a push to dockerize the submission process, I would very much enjoy helping out. I'm sure that decision would have to be made by the editors together, but it would be something I would love to contribute to.

[2017-01-13 13:13] khinsen commented on #42
@pdebuyl This looks very good, at least in theory (meaning that I did not try to re-run anything).

A suspect point: "The Python code is provided in Jupyter notebooks." There are no notebook in the repository. Perhaps simply "not yet". I wanted to look at them to see if the Python dependency list is complete. In particular because I don't see matplotlib, which most notebooks I see use in some way.

[2017-01-13 13:21] khinsen commented on #43
@oliviaguest It would be great to have research software engineers for doing this, but that's still a rare species. I'd say we take whoever is willing (and able) to do the job.

@pdebuyl There are many ways to package up an execution environment. The choice of containers, VMs, or yet something else is not the primary one for me. The very first question is: should we expect all our authors to provi

[2017-01-13 14:04] pdebuyl commented on #42
The notebooks are being prepared here: https://github.com/pdebuyl/compute/tree/master/chemotactic_cell

Thinking of it, I should not only add matplotlib but also h5py even though I hope very much that any specific version of h5py produces the same output. Ok, done also :-)

[2017-01-13 14:08] pdebuyl commented on #43
@khinsen I agree totally that we should not impose any particular platform. Computational science is made on many platforms, with many languages, etc.

Actually, what I had in mind is that the reviewing procedure would include running the code in a "clean" environment to debug environment issues. See this very timely blog post by @mikecroucher http://www.walkingrandomly.com/?p=6275

[2017-01-29 14:58] stephanmg commented on #27
[Stephan Grein](https://github.com/stephanmg)
Computational Neuroscience on HPC platforms, Numerical Mathematics - Java, C++, Lua, Python, MATLAB, GNU R

[2017-01-30 14:49] pareyesv commented on #27
[Patricio Reyes](https://github.com/pareyesv)
Operations Research - Python, R

[2017-01-30 16:24] pietromarchesi commented on #27
[Pietro Marchesi](https://github.com/pietromarchesi)
Computational Neuroscience, Information Theory - Python

[2017-02-09 16:30] jpritikin commented on #27
[Joshua Pritikin](https://github.com/jpritikin)
Quantitative Psychology - R, C/C++, Stan, Coffeescript, Python, Perl, Bash

[2017-02-14 17:07] timtroendle opened #45 "Partial replication of a paper"
I'd like to bring up the question again whether ReScience is accepting partial replication of papers. This has been discussed to some extent in #19 and #18 but without an definite answer. I agree with the opinions stated over there that researchers are likely to replicate the results they are interested in for themselves only.

As an example consider the class of papers that introduces a new and i

[2017-02-15 12:34] alegrand commented on #27
[Arnaud Legrand](https://github.com/alegrand/)
Parallel/Distributed/HP scientific Computing, Optimization, Performance Evaluation, Simulation - C, R, Shell, Perl, Python
ORCID Number: 0000-0002-8415-1046

[2017-02-16 07:50] rougier commented on #27
@jpritikin @pietromarchesi @pareyesv @stephanmg @ChristophMetzner @soolijoo @rth @aaronshifman @kyleniemeyer @StuntsPT @markuspf @simonvh @dombrno @jsta @SergeStinckwich @almarklein @nuest @rth @QihongL @maclandrol @Chris1221 @nadnaps @anne-urai @KamilSJaron @damiendr @benureau @niranjchandrasekaran @benmarwick @dimpase @pboesu @EHadoux @tarankalra @ogrisel @dgarcia-eu @Kevin-Mattheus-Moerman @cro

[2017-02-17 16:16] nihonjinrxs commented on #27
[Ryan B. Harvey](https://github.com/nihonjinrxs)
Comp. Harmonic Analysis, Data Science/Engineering - R, Python, SQL, Bash/Shell, Java
ORCID Number: [0000-0002-0821-7605](https://orcid.org/0000-0002-0821-7605)

[2017-02-25 18:42] rougier commented on #39
@ctb I miss your number actually...

[2017-03-01 16:23] anyaevostinar commented on #27
[Anya Vostinar](https://github.com/anyaevostinar)
Digital Evolution, Agent-based simulation - C++ (11, 14), Python
ORCID Number: 0000-0001-7216-5283

[2017-03-18 22:34] karthik commented on #39
missed mine:  0000-0002-0233-1757

[2017-03-19 11:57] rougier commented on #39
@karthik done

[2017-04-01 15:16] SepehrMN opened #46 "Criteria for publication"
Under criteria for publication, it is written "You cannot submit the replication of your own research, nor the research of your close collaborators."

The first part is clear.

We have replicated a 20-year-old study in a modern language without seeing the original implementation and the precise algorithms. The first author of the paper wrote all the code and prepared the figures, but we do not kno

[2017-04-02 08:37] khinsen commented on #46
I am not sure I understand the situation correctly. The authors you cite are those of the replication, right? Not the original paper? Then what exactly is the overlap between the authors of the original paper and the authors of the replication?

[2017-04-03 12:29] pdebuyl opened #47 "page numbers"
Hi @rougier @khinsen

So, we do not have page numbers? Just asking because I am preparing the files for Henriques et al. I know it seems a lowly thought but most citations styles will have a slot with page numbers, journal typesetters (whatever that means by now) will ask, etc.

So the full references is year, volume, issue? (+ name of authors to make papers distinct)

[2017-04-03 14:00] khinsen commented on #47
Some journals have switched from page numbers to article numbers with the transition to electronic publishing. That could be a solution for us as well: we simply number the articles inside an issue. And we can even do this retroactively to provide "complete" citations for everyone.

[2017-04-03 16:51] pdebuyl commented on #47
Indeed. I concur!

[2017-04-03 17:49] pdebuyl commented on #47
So, I propose to number the items in order of DOI assingment until now. For coming articles, we need a kind of protocol because two editors might run into assigning a DOI on, say, the same day, and input the same article # to two papers. A [GIL](https://en.wikipedia.org/wiki/Global_interpreter_lock) via the editors-in-chief seems the simplest and, given our traffic, reasonable option.

[2017-04-03 19:43] pdebuyl commented on #47
On the technical side, there is one metadata line to add to the `.md` article file and one inclusion of `$Publication.issue` in `rescience-template.tex`.

There is no formal decision process so I'll wait approval by @rougier and @khinsen before submitting a PR.

[2017-04-04 18:27] pdebuyl commented on #47
@rougier ?

[2017-04-04 18:40] pdebuyl commented on #47
Final point of procedure: either @khinsen or @rougier gives the article number on the review issue of the https://github.com/ReScience/ReScience-submission repo

[2017-04-04 18:51] pdebuyl commented on #47
Please assign article numbers to the 2017 papers as a start.

- Shifman: article 1 https://github.com/ReScience/ReScience-submission/pull/22
- Henriques: article 2 https://github.com/ReScience/ReScience-submission/pull/26

(I am waiting for this to publish Henriques et al, ReScience **3**(1), 2 (2017), doi coming.

[2017-04-04 19:44] rougier commented on #47
Sorry, I've been busy. Ok for the metadata in the template (shoudl have done this a long time ago).
What's the deal with article number (I'm not sure I got the point).

[2017-04-04 20:18] pdebuyl commented on #47
Mmmmh, "What's the deal with article number (I'm not sure I got the point)." there is no deal :-) I believe that it makes better citation data but that's it.

[2017-04-04 20:21] pdebuyl opened #48 "Article number request"
This thread is for editors to register article numbers at the final stage of publication.

[2017-04-05 08:43] pdebuyl commented on #48
I claim Volume 3, Issue 1, Number 2 for Henriques et al https://github.com/ReScience/ReScience-submission/pull/26

[2017-04-05 13:25] rougier commented on #47
Sorry @pdebuyl, I was a bit tired and my question was ill-posed. I meant, what do you propose exactly, but after reading more carefully I understood you propose to have number on each article, is that right ?

@khinsen For the retroactive numbers, that might be more difficult because we would need to re-issue DOI for each articles, no ?

[2017-04-05 13:30] pdebuyl commented on #47
Hi @rougier no problem for yesterday :-)

You can see an example here (proofreading stage) https://github.com/ReScience-Archives/Henriques-Rokem-Garyfallidis-St-Jean-Peterson-Correia-2017/tree/master/article

What can be done is anyway to number the articles on the page http://rescience.github.io/read/ so that citation is easier. Probably the *metadata* on Zenodo can be updated on the existing DOI

[2017-04-05 13:33] rougier commented on #47
You're right and I might be still tired actually :)

But for new published papers, article number will appear in the PDF, right ?

For future papers, we could also try to have the DOI inside the paper. I think we can reserve a DOI on Zenodo but this needs to be checked. And if this is too much trouble, we can leave it as it is.

[2017-04-05 13:34] pdebuyl commented on #47
Yes, that was the point of my update of the template. See Henriques 2017 :-)

[2017-04-10 12:56] SepehrMN commented on #46
Many thanks @khinsen. I have discussed this and will submit it as a single author paper.

[2017-04-10 12:56] #46 closed

[2017-04-19 19:23] rougier commented on #48
I claim Volume 3, Issue 1, Number 3 for [Rostami et al (PR #24)](https://github.com/ReScience/ReScience-submission/pull/24)

[2017-04-20 12:18] rougier opened #50 "Replication of preprints"
I've been asked if we have a specific policy regarding replication of preprints. There is already a preprint being replicated (https://github.com/ReScience/ReScience-submission/pull/20) and I don't see any problem with preprint replication but I might miss something obvious. Any thought ?

[2017-04-20 12:33] labarba commented on #50
I don't object to it, but we should reflect a little: there may be people out there who feel there is some unfairness to the replication study getting formal publication status before the original work. If we are sensitive to these possible bad reactions, we could come up with palliative measures. Does ReScience make any statement recommending that authors of a replication contact the authors of t

[2017-04-20 20:51] rougier commented on #50
Yes, we could ask re-authors to contact original authors if they're ok with the replication. If so, original authors might even advertise in the paper that the work has been replicated independently. This would strengthen their work in my opinion.

This is also quite compatible with the idea for a  "CoScience" journal where replication is made before and the final article is signed by all authors

[2017-04-21 08:48] ThomasA commented on #43
@khinsen inspired by https://github.com/ReScience/ReScience-submission/pull/28#issuecomment-296088109, I have some experience setting Travis CI up for a repository. Since each article has a separate repository under https://github.com/ReScience-Archives/, this should make it quite straight-forward to set up a script to run each paper's code. At least for Python, I have experience setting it up bas

[2017-04-21 09:24] khinsen commented on #50
We could actually do better than ask authors. We could provide an e-mail template that authors could start from, which would mention the advantages of published replications for the authors of an original study.

[2017-04-24 08:15] miladh commented on #27
[Milad H. Mobarhan](https://github.com/miladh/)
Computational neuroscience - Python, C++

[2017-04-24 15:23] rougier commented on #27
@miladh can you also give an ORCID number ?

[2017-04-25 06:06] khinsen commented on #43
@ThomasA Do you think it's possible to provide a reasonable-length instruction page, with code templates if necessary/useful, to help potential authors use Travis CI for their ReScience submission? Even if it's only for Python, that would be a big step forward, considering that most ReScience papers use Python.

Beyond the immediate benefit for ReScience, this would have the pedagogical side-effec

[2017-04-25 07:12] ThomasA commented on #43
@khinsen I will have to think more about the practicalities. In particular, I imagine it is something that should ideally work from the point of submission and I am not quite sure how to best do that. The point is that all previous and current submissions live in the ReScience-submissions repo as pull requests and I do not know yet if one repo can have more than one individual Travis set-up. Havin

[2017-04-25 08:49] ThomasA commented on #43
This could be helpful https://lord.io/blog/2014/travis-multiple-subdirs/

[2017-04-30 01:44] labarba commented on #45
I see that you've not had any answers to your question in quite some time.

In my opinion, we should consider replications of partial results. The author should **make the case** for this, and editors consider the arguments on a case-by-case basis. I can imagine many situations in which replication of the full set of results in the original paper may be hard or impossible, or simply not necessary.

[2017-04-30 05:46] rougier commented on #45
Incidentally, we've modified the submission template such that people can say if the submission is a full or partial replication (or if the replication failed).

[2017-05-02 17:08] rougier opened #51 "Full affiliation for editors"
Dear @ReScience/associate-editors @ReScience/editors,

We've applied for membership to the [Open Access Scholarly Publishers Association](http://oaspa.org) and for this, we need to have the full affiliation (including department) for each of you, this will be displayed on the board page. We could also have a small text introducing yourself + a photo just like for the [JOSS board](http://joss.theoj

[2017-05-03 00:36] labarba commented on #51
You can use my JOSS blurb.

[2017-05-03 12:30] rougier commented on #51
Ok, I just added affiliations for everybody.

[2017-05-03 12:36] oliviaguest commented on #51
Looks very snazzy! :clap:

[2017-05-03 13:42] benureau commented on #51
As a simple reviewer, I am jealous.

[2017-05-03 17:49] rougier commented on #51
Any taker for https://github.com/ReScience/rescience.github.io/issues/33

Since I wrote the original text, I may be not the best to correct the page...

[2017-05-03 17:49] rougier commented on #51
@benureau Sorry for that, this would be too much work (or do you fell collecting the information ?)
@oliviaguest Thanks !

[2017-05-04 08:02] khinsen commented on #51
Photo - is the one from my GitHub profile good enough? Otherwise, this will have to wait for next week.

Text:

Researcher at the [Centre de Biophysique Moléculaire](http://cbm.cnrs-orleans.fr/) in Orléans (France) and at the [Synchrotron SOLEIL](http://www.synchrotron-soleil.fr/) in Saint Aubin (France). Main research topics: physics of biomolecules, scientific computing. Member of the editorial

[2017-05-04 12:00] rougier commented on #51
@khinsen In the end, I've put only a minimal version online for all of us.

[2017-05-05 06:38] rougier commented on #51
@khinsen Could you have a look a the [edit](http://rescience.github.io/edit/) webpage for possible improvements/corrections?

[2017-05-05 10:48] khinsen commented on #51
@rougier Done!

[2017-05-05 10:52] mlosch commented on #27
[Max M. Losch](https://github.com/mlosch)
Computational visual neuroscience, Machine Learning - Python, Matlab, Java, C/C++
ORCID Number: 0000-0001-6525-4528

[2017-05-09 10:59] ThomasA commented on #48
I claim Volume 3, Issue 1, Number 4 for Ruogier 2017 (ReScience/ReScience-submission#28)

[2017-05-10 08:01] ThomasA opened #52 "Publication support"
I am in the process of handling my first replication as editor (@rougier's ReScience/ReScience-submission#28). Reading the [editor guidelines](http://rescience.github.io/edit/), I get a bit in doubt about the recommended procedure for inclusion into ReScience-Archives.
It says to:

1. Firstly, @rougier's repo is a fork of ReScience/ReScience-submission in which 'master' contains the boilerplate te

[2017-05-10 08:24] pdebuyl commented on #52
Hi @ThomasA

There is room for a bit of intrepretation, as many authors will have worked as @rougier in a named branch. What I did was
1. Do the "import"
2. Clone the imported version and overwrite "master" by the author's branch
3. Work on that copy for all the file renaming etc and push directory to ReScience-Archives/AUTHORNAME-2017 master

[2017-05-10 08:35] ThomasA commented on #52
@pdebuyl that sounds operational but why import in the first place at all instead of pushing only the author's branch to an initially empty repository? Also, I do not understand why we would want the author's branch 'topalidou-rougier', which is not part of what was reviewed, in the archive?

[2017-05-10 08:36] rougier commented on #52
When it's written merging branch into master, we are talking about the repository in the ReScience-Archives. The idea is to have a clean repository without any branch that point directly to the work.

[2017-05-10 08:36] rougier commented on #52
@ThomasA oh, can we do that ?

[2017-05-10 08:39] ThomasA commented on #52
@rougier AFAIK. I can test the procedure i proposed in the original question if you like?

[2017-05-10 08:40] pdebuyl commented on #52
@ThomasA Your version is a bit cleaner but overall the end result is the same except for possible extra branches in the archive that you can delete. I believe there are less clicks and git instructions in my version though :-)

[2017-05-10 08:43] rougier commented on #52
@pdebuyl By the way, https://github.com/ReScience-Archives/Henriques-Rokem-Garyfallidis-St-Jean-Peterson-Correia-2017 has two branches. Did you forget to merge into master ?

[2017-05-10 08:44] rougier commented on #52
@ThomasA If you're more comfortable with your procedure, go ahead.

[2017-05-10 08:49] khinsen commented on #52
Perhaps we should revise the instructions for editors, proposing two levels:
 - For git experts, describe the outcome, i.e. what the archive repository must contain, and let them get there however they want
 - For less experienced git users, provide an explicit step-by-step procedure that works in as many imaginable circumstances as possible

In the long run it would be nice to automate such manag

[2017-05-10 08:50] ThomasA commented on #52
Deleting unused branches can also be a way to do it. I would liken it to a subtractive vs additve manufacturing approach where I am probably more in favour of the additive one ;-)
I still find the guidelines confusing, though. Once the author repo has been imported to ReScience-Archives, they are identical. From there you could instruct the editor to clone the newly imported archive repo and work

[2017-05-10 08:56] pdebuyl commented on #52
@rougier I believe I just did not think of deleting the non-master branch, I'll check

[2017-05-10 09:20] ThomasA commented on #52
By the way, where should the article metadata be stored?

[2017-05-10 09:22] ThomasA commented on #52
Ah OK, in the article Markdown file, it seems :o)

[2017-05-10 13:15] khinsen commented on #52
@ThomasA Wow, logic and nature - strong words for what I see as pragmatic choices made by GitHub for a use case rather different from ours. But I agree with your analysis: in order to be able to use GitHub PRs for reviewing, we have to use repository arrangements that are not quite intuitive in the context of publishing. It actually makes more sense (to me at least) to reason about ReScience in te

[2017-05-10 13:21] ThomasA commented on #52
@khinsen Well, maybe too strong indeed :-)

What if ReScience-Archives were just one repository, new submissions were made as PRs to this repository, and each accepted replication (containing its files in an `Author(s)-YEAR` subfolder) would simply be a matter of merging the PR?

[2017-05-10 13:30] pdebuyl commented on #52
That is what is done for the *SciPy conference proceedings, see https://github.com/euroscipy/euroscipy_proceedings We have ultimately one branch per volume of the proceedings.

[2017-05-10 13:41] khinsen commented on #52
@ThomasA @pdebuyl I am rather sure we envisaged but rejected such a scheme at some point, even though I don't remember the details

One problem with a single repository for all of ReScience is the risk of messing it up by accident one day. With our current arrangement, archive repositories are safe except in the case of GitHub crashing or shutting down, because nobody ever modifies them.

[2017-05-10 13:46] ThomasA commented on #52
@khinsen @pdebuyl The better-safe-than-sorry approach of separate repositories seems like a wise choice.

[2017-05-11 18:52] karthik commented on #51
Also please use my JOSS blurb. thanks!

[2017-05-18 13:01] akdiem commented on #27
[Alexandra K. Diem](https://github.com/akdiem)
Vascular modelling, Neurovascular Coupling - Python, Matlab, C, Java, R, Bash
ORCID Number: 0000-0003-1719-1942

[2017-06-02 20:20] #52 closed

[2017-06-02 20:21] ThomasA opened #53 "Rostami 2017 seems to be missing"
One of the newest replications, Rostami 2017, does not seem to have been added to https://github.com/ReScience/ReScience/blob/master/Volume%203%20-%20Issue%201.md

[2017-06-03 06:12] rougier commented on #53
Yes, I forgot, I'll fix it. Thanks.

[2017-06-03 06:23] rougier commented on #53
Done.

[2017-06-03 06:23] #53 closed

[2017-06-03 06:23] #51 closed

[2017-06-03 06:24] #47 closed

[2017-06-07 09:32] himito commented on #27
[Jaime Arias](https://github.com/himito)
Formal Methods - Python, C/C++, VHDL, SystemVerilog
ORCID Number: 0000-0003-3019-4902

[2017-06-13 13:05] degoldschmidt commented on #27
[Dennis Goldschmidt](https://github.com/degoldschmidt)
Computational Neuroscience, Neurorobotics - Python, C/C++, Java, Octave
ORCID Number: 0000-0002-0603-7176

[2017-06-16 12:14] AurelienNioche commented on #27
Aurélien Nioche
Agent-based modelling - Python
ORCID Number: 0000-0002-0567-2637

[2017-06-16 14:30] bsciolla commented on #27
[Bruno Sciolla](https://github.com/bsciolla)
Deep learning, Image processing, Medical Imaging - Python, C++, Matlab
ORCID: [0000-0002-7720-1455](https://orcid.org/0000-0002-7720-1455)

[2017-06-20 09:37] akdiem opened #56 "Makefile returns "pandoc-crossref: Error in $: mempty""
Hi, the Makefile for creating a tex file from the md manuscript returns the following errors:
`pandoc-crossref: Error in $: mempty
pandoc: Error running filter /home/alexandra/.cabal/bin/pandoc-crossref
Filter returned error status 1
Makefile:10: recipe for target 'rescience-template.tex' failed
make: *** [rescience-template.tex] Error 83`
Does anyone know what needs to be done to resolve this?
Th

[2017-06-20 10:07] rougier commented on #56
Not sure. Can you try to strip text from you md file such as to keep only the refs and check if it compile properly ?

[2017-06-20 10:10] akdiem commented on #56
I've stripped it down to just one reference to a figure, but the error is the exact same.

`![Caption](figures/fig1.png){#fig:fig1}

@fig:fig1`

[2017-06-20 11:24] rougier commented on #56
Can you check if you manage to compile the [demo.md](https://raw.githubusercontent.com/lierdakil/pandoc-crossref/gh-pages/demo.md) example given on [crossref page](https://github.com/lierdakil/pandoc-crossref) ?:

[code]

[2017-06-20 13:22] akdiem commented on #56
Interesting, if I try to run that I get

`pandoc: Filter pandoc-crossref not found`

even though

`cabal install pandoc-crossref`

returns

[code]

[2017-06-20 13:36] rougier commented on #56
What information do you get from `cabal info pandoc-crossref`

[2017-06-20 13:39] akdiem commented on #56
[code]

[2017-06-20 13:43] rougier commented on #56
What about `pandoc -v`

[2017-06-20 13:46] rougier commented on #56
On my machine (OSX), pandoc-crossref is reported as not installed but it is actually installed (via homebrew) in `~/.cabal/bin/pandoc-crossref`

[2017-06-20 13:48] akdiem commented on #56
Ah, there is the root of the problem. For some reason it spits out version 1.15.0.6, even though 'cabal info pandoc` says I have version 1.17.1:

[code]

and

[code]

I guess the question then is how do I tell my machine (Linux Mint) to use the cabal version? I did actually do `sudo apt-get remove pandoc` before installing the cabal version but evidently that didn't remove it.

[2017-06-20 13:52] rougier commented on #56
Even worse for me, cabal reports pandoc as not being installed.

However in my case, if I remove my local `~/.cabal/bin/pandoc-crossref` I get the same error message as you. Can you try to make a link from `~/.cabal/bin/` to the pandoc-crossref binary is and check if this works?

[2017-06-20 13:59] rougier commented on #56
This link gives some information https://groups.google.com/forum/#!topic/pandoc-discuss/OZ2s19xu_bg

[2017-06-20 14:03] akdiem commented on #56
The offending version of pandoc came from Anaconda, so I uninstalled it there. But I didn't quite get where you suggest I should put a link to where? In `~/.cabal/bin/` I have both pandoc and pandoc-crossref. The link seems to only have a suggestion for Mac, Linux doesn't have homebrew.

[2017-06-20 14:12] rougier commented on #56
While trying to help you, I realize I don't quite understand my own installation! And you're right, homebrew is only for OSX.

One mor thing to try: once you've installed the pandoc-crossref package, do you know where is the binary is actually located? If yes, then you can try to replace (in the Makefile) the line:
[code]

with the actual path.

[code]

[2017-06-20 14:43] akdiem commented on #56
That's the exact path for pandoc-crossref on my machine already. I got a bit further in the meantime though. After I uninstalled pandoc from Anaconda I added `~/.cabal/bin` to the PATH variable and now I get a different error message running `make`:

[code]

[2017-06-20 14:53] rougier commented on #56
I think you may still have several pandoc version installed. Is the a pandoc binary inside your .cabal/bin? Is it the one you're calling?

[2017-06-20 14:54] akdiem commented on #56
`which pandoc` returns the .cabal/bin path so that should be the one it's using I would assume.

[2017-06-20 15:33] akdiem commented on #56
Got it all to work now. Required steps were:

* Ensure there is no version of pandoc anywhere on the system
* if you've installed pandoc via cabal before, remove ~/.cabal and ~/.ghc
* remove and reinstall cabal
* run `cabal install pandoc-crossref`, don't install pandoc before. Otherwise you might not get the version that pandoc-crossref was compiled against

[2017-06-20 15:33] #56 closed

[2017-06-21 09:17] Vahidrostami commented on #27
Vahid Rostami
Computational Neuroscience, Statistical Neuroscience - Python
ORCID: [0000-0002-3851-0220](orcid.org/0000-0002-3851-0220)

[2017-06-30 11:40] pdebuyl opened #57 "Accepting failures to replicate"
I didn't know whether to open the issue here or on the website repo but we should make it clear that failures to replicate, provided sufficiently documented and that an attempt was made at contacting the original authors. This follows from https://github.com/ReScience/ReScience-article-2/issues/8#issuecomment-311671068

[2017-06-30 11:43] pdebuyl commented on #57
Proposed text for http://rescience.github.io/write/

At the end of section "Criteria for Publication":

[2017-06-30 14:02] rougier commented on #57
There is also a note in the [FAQ](http://rescience.github.io/faq/):

**What if I fail to replicate a research result?**

Some research may not be replicable. Before declaring a research result non-replicable, we require extra caution to be taken. In addition to scrutiny of your submission by reviewers and editors, we will contact the authors of the original research, and issue a challenge to the R

[2017-07-06 20:46] TiinaManninen commented on #27
[Tiina Manninen](https://github.com/TiinaManninen)
Computational Neuroscience - MATLAB, Python
ORCID: [0000-0002-0456-1185](https://orcid.org/xxxx)

[2017-07-11 08:48] pdebuyl commented on #57
I made a PR for this. I'll edit the article once this is accepted

[2017-07-17 11:16] appukuttan-shailesh commented on #27
[Shailesh Appukuttan](https://github.com/appukuttan-shailesh)
Computational Neuroscience, Neurophysiology, Smooth Muscle - HOC, NMODL, Python, PyNN
ORCID: [0000-0002-0148-8023](https://orcid.org/0000-0002-0148-8023)

[2017-07-18 12:15] benoit-girard opened #58 "DOAJ registration"
We should probably take some time to register on the Directory of Open Access Journals: https://doaj.org/

[2017-07-18 20:17] ha0ye commented on #27
[Hao Ye](github.com/ha0ye)
Ecology, Dynamic Systems - R, C++
ORCID: [0000-0002-8630-1458](https://orcid.org/0000-0002-8630-1458)

[2017-07-20 10:07] jochym commented on #27
[Paweł T. Jochym](https://github.com/jochym)
Computational Material Science, Theoretical Physics - Python, C/C++, Pascal, Fortran
ORCID: [0000-0003-0427-7333](https://orcid.org/0000-0003-0427-7333)

[2017-07-20 21:29] remram44 commented on #31
I think you should encourage people to submit a description that have enough details for reproducibility. Making a Dockerfile mandatory is probably not necessary (and in fact does not guarantee reproducibility -- archiving the Docker image would) but including the precise versions of dependencies used (something like a pip requirement file, or Anaconda environment file, ...) would certainly be a g

[2017-07-20 22:45] benureau commented on #31
@remram44: yes indeed. "The code was run with numpy 1.11.2" It is more useful, in a scientific context, than "The code is compatible with numpy 1.10.x and above", as @rougier and I are arguing in a paper that will be finished shortly. A even better option is to include this information automatically *in the output files* (with a git hash, a timestamp, and a description of the platform). I am curre

[2017-07-21 08:02] pdebuyl commented on #31
A first step in the direction outlined here (not Docker, but significant description) is already part of our guidelines, see the list at the bottom of the [write](http://rescience.github.io/write/) page and the [platform](http://rescience.github.io/platform/).

The language encourages to include also library information and a "full" example is only given for Python and C. Beyond that, it is up to

[2017-08-01 11:13] iampritishpatil commented on #27
[Pritish Patil](https://github.com/iampritishpatil)
Computational Neurocience - Python ( and more specifically NEURON, MOOSE, BRIAN), MATLAB.
ORCID: [0000-0002-2655-4090](orcid.org/0000-0002-2655-4090)

[2017-08-09 11:06] digitalheir commented on #27
[Maarten Trompper](https://github.com/digitalheir)
Artificial Intelligence - Java, Javascript
ORCID: [0000-0003-1167-0432](https://orcid.org/0000-0003-1167-0432)

[2017-08-19 06:30] rougier opened #59 "Copyright status of equations"
There is a pending question related to the re-use of equations (https://github.com/ReScience/ReScience-submission/pull/33) of the original paper in the replication. If fair use most certainly allows to re-use some equations of the original paper, we don't know if an author can re-use (i.e. copy them) all the equations in the new paper in order to ease the reading.

@iampritishpatil was kind enough

[2017-08-21 12:54] khinsen commented on #59
I just discussed this question with a librarian, whose first comment was "I am not a lawyer". A quick summary of what I learned:

 - Copyright law is intentionally imprecise about the limit between fair use and copyright infringement. It's up to the judges to appreciate each individual case.
 - There are no known cases of scientists having been sued for copyright infringement in their papers, not

[2017-08-23 15:52] khinsen commented on #48
I claim Volume 3, issue 1, Number 5 for [Stollmeier 2017](https://github.com/ReScience/ReScience-submission/pull/27#issuecomment-324297105)

[2017-08-30 10:44] oliviaguest commented on #48
I claim Volume 3, issue 1, Number 7 for [Metzner 2017](https://github.com/ReScience/ReScience-submission/pull/30)

[2017-09-06 12:40] otizonaizit commented on #48
I claim Volume 3, issue 1, Number 7 for [Detorakis 2017](https://github.com/ReScience/ReScience-submission/pull/35)

[2017-09-13 07:23] rougier commented on #48
I claim Volume 3, issue 1, Number 8 for [Stojic 2017](https://github.com/ReScience/ReScience-submission/pull/36)

[2017-09-13 08:34] benoit-girard commented on #48
I claim Volume 3, issue 1, Number 9 for [Diem 2017](https://github.com/ReScience/ReScience-submission/pull/33).

[2017-09-17 09:37] braverock opened #62 "Commercial data sources for replication"
I work and teach in computational finance.  Many of the data sources in finance are only available from commercial sources.  For example, the markets/exchanges all charge for data, or data is available from third parties like CRSP, Reuters, or Bloomberg.

I am an advocate for more reproducible research in finance, and reproduction of existing research, but in almost all cases the data will not be

[2017-09-17 11:54] rougier commented on #62
One of the problem is that readers won't have access to the data if they don't pay (from what I've understood of your explanation) and that's a problem. Isn't there a set of "standard" data where you can test for a  specific model/algorithm? Or is there any free data sources that can be safely copied into your repo (e.g. figshare) ? If not, would the generation of a (artificial but standard) datas

[2017-09-17 12:19] braverock commented on #62
Certainly is is common to use simulated data in many papers to demonstrate an algorithm.  That can be easily replicated in R, python, matlab, etc.  Financial market data is nearly impossible to simulate in ways that truly mimics real market data, so a paper (or replication) that uses only simulated data is not much better than worthless.

Most financial studies then go on to use real market data.

[2017-09-17 18:54] rougier commented on #62
Thanks for the detailed explanation. I'm pretty clueless about computational finance and while I now better understand the situation, I think it is still not really satisfactory. Would not it be possible to have a set of fake simple data to illustrate the method and also give the pointer to the real data?

Also, what about journals that publish the original research, don't they request for the ava

[2017-09-17 19:16] braverock commented on #62
All the finance journals are aware of the issue of data licensing, but the data ultimately belongs to the exchanges and their licensed vendors.  We can't change that fact, unfortunately.

Here is another example that might help clarify.

We had a student, Luis Damiano, in Google Summer of Code this summer who did replication studies of two finance papers.  For one, we used freely available data, a

[2017-09-17 19:48] braverock commented on #62
All major finance journals encourage authors to cite their data sources.  For example, the *Journal of Financial Economics* says:

This doesn't free authors from restrictive covenants from the exchanges and data vendors.

[2017-09-17 20:32] braverock commented on #62
As you've noted in the ReScience ArXiv paper, code and data in finance journals are relegated to "supplementary material", and are not required, nor checked, with few exceptions.  Even journals focused on computation such as *Algorithmic Finance* do not require submission or release of code.

[2017-09-18 07:06] khinsen commented on #62
Let me summarize the problem to verify that I understood it correctly: All relevant real-life data in computational finance is available to anyone willing to pay for it, but may not be freely distributed. Reviewers and readers who want to verify a replication must have a subscription to the data provider.

This situation reminds me of the open vs. proprietary software problem. For that problem, Re

[2017-09-18 07:50] anne-urai opened #63 "Publons"
Hi all,

Publons is a platform to track researchers' editing and reviewing activities, which can be linked to ORCID and displayed as part of a resumé. ReScience has a profile https://publons.com/journal/44652/rescience but it looks unclaimed.

It may be interesting to use the Publons service, list ReScience as a journal there and allow reviewers (and editors) to add ReScience contributions to thei

[2017-09-18 09:19] braverock commented on #62
@khinsen , thanks for the summary.

I am in agreement with your comments regarding open source software.  My personal policy "at the office" is to put all of our non-proprietary code into open-source.

As an academic and practitioner, I also wish for more open data.  Let me address your possible policies, which I believe are unfortunately unrealistic.  Unlike the situation in open source software,

[2017-09-18 11:10] labarba commented on #62
I have followed this conversation with interest.

It is my assessment that replication studies in computational finance that are subject to the data restrictions discussed above are _not eligible_ to be published in ReScience.

Replication studies published in ReScience have to be reproducible, which means: "Authors provide all the necessary data and computer codes to run the analysis again, recre

[2017-09-18 11:12] rougier commented on #63
Great idea. What would it take to register ReScience ?

[2017-09-18 11:21] braverock commented on #62
@labarbawhile I understand and agree with the sentiment, I think that what you ask for is simply impossible.

I personally would rather see the replication that is possible, and place policies in place that would encourage replicability, rather than exclude an entire industry from publishing replication studies.

[2017-09-18 11:26] anne-urai commented on #63
The information I can find here https://publons.freshdesk.com/support/solutions/articles/12000012231-what-is-publons-and-why-partner-with-us-  says that for publishers, it's sufficient to email partnerships@publons.com and requesting to be a partnership journal. I'm not 100% sure how it would work for ReScience since there is not an official publisher, but I would think emailing them would be a go

[2017-09-18 11:42] braverock commented on #62
@khinson also said:

I'll cite a couple of papers to add to the discussion.  Alan Karr, in a 2014 NISS Study [Why Data Availability is Such a Hard Problem](https://www.niss.org/sites/default/files/tr186.pdf) lists multiple "stakeholders" causing difficulty for availability of data.  I found it remarkable, from the perspective of computational finance, that "commercial data providers" is not even o

[2017-09-18 12:33] khinsen commented on #63
Before the summer break there was some noise about Publons having been acquired by Clavirate (ex Thomson Reuters, owner of Web of Science etc.), leading to suspicion that it might move to the "dark side" of scientific publishing. I didn't really follow those discussions, so I have no opinion, but it may be worth some investigation. Otherwise I am all for ReScience contributors getting maximum bene

[2017-09-18 14:33] rougier commented on #63
Read here: https://www.thebookseller.com/news/clarivate-analytics-buys-publons-562691

[2017-09-19 13:58] khinsen commented on #62
@braverock Thanks for all the additional information! It's still not entirely clear to me how one could do effective replication work in your context. Apparently it is accepted that authors share input data with reviewers under a tacit confidentiality agreement. But replication and ReScience introduce some variants on this scenario which are probably not covered by such arrangements.

First of all

[2017-09-19 18:58] braverock commented on #62
@khinson, on your first point, most researchers in computational finance have access to commercial data sources, either in academia or in industry.  As I have pointed out previously, commercial data is an unfortunate fact of life in finance.  So I would believe that anyone doing a replication study in finance would likely have access to the data, either through an existing subscription to a commer

[2017-09-20 07:27] rougier commented on #62
Would you have an example of a (not too complex) published  (open access)  article where the way to access the data is precisely given?

[2017-09-20 07:54] #57 closed

[2017-10-10 06:38] rougier commented on #59
I finally received an interesting answer from Elsevier:

[code]

[2017-10-10 06:39] rougier commented on #59
cc @akdiem @benoit-girard @ChristophMetzner @TiinaManninen

I finally received an interesting answer from Elsevier:

[code]

[2017-10-11 08:43] benoit-girard commented on #59
Should we consider making a 2nd version of the manuscript with all the equations?

[2017-10-11 08:57] akdiem commented on #59
It's great that they got back to you and it's certainly good news for the future. I guess the time it took them to answer it shows that it wasn't a straightforward issue.

[2017-10-11 09:13] rougier commented on #59
yes, it's good to know for the future. I don't think it's worth making a second version at this point.
@akdiem by the way, did you receive the PeerJ invitation for the paper? Else I can resend it.

[2017-10-11 10:12] akdiem commented on #59
@rougier Yes, but is it vital to sign up for a PeerJ account? I try to avoid having accounts on websites where I don't necessarily need them.

[2017-10-11 12:27] rougier commented on #59
I don't know actually. Those who have answered are now marked as "accepted" and you're still marked "invited". But we're in review now. Maybe it'll become necessary only if we get accepted.

[2017-11-15 20:56] braverock commented on #62
I still owe you some feedback on comments made on this issue.

I've been negotiating with Thomson Reuters(TR) on one replication paper I am a co-author on, and just got TR to agree to a CC-BY-NC license on the data for that replication.  Hopefully that would eliminate an issue in that particular case.  Unfortunately, it is a 'small' replication, only about 100 million rows, about 10GB of data in r

[2017-11-16 10:14] trallard commented on #27
[Tania Allard](https://github.com/trallard)
Computational Materials Science, Biomaterials, Data science/engineering - Python, R, C/C++, FORTRAN, MATLAB

[2017-11-16 10:54] dimpase commented on #27
@trallard Could you provide your ORCID id?

[2017-11-19 15:40] rougier commented on #27
Yes, an ORCID id would be necessary @trallard

[2017-11-19 15:47] rougier commented on #62
Oh that's great you got permission ! When you say "only" 100M rows, you mean it is hardly sufficient for this replication? Just out of curiosity, what is a "normal" set size then?

For hosting 10GB or raw data, maybe we would need to use a dedicated repository such as Zenodo or Fgishare (I think you can add it yourself, crediting TR and setting the proper license) since this size by me too big for

[2017-11-19 16:40] braverock commented on #62
101 million rows is the full replication set for this paper, thankfully.  It is one month of level one "tick by tick" data on constituents of an index in the Toronto Stock Exchange from May 2007.

In real-time market data, it is possible to get 1 million messages per second, and billions of observations per instrument per day.  So a 'large' study might use a trillion observations, or more.not peta

[2017-11-22 08:16] khinsen commented on #62
Zenodo's current file size limit is 50 GB, so that looks like a good option for hosting the data. Coming up with the right metadata will probably require some serious thought. Who, for example, is the "author" of the dataset?

[2017-11-22 14:42] braverock commented on #62
I'm waiting to get feedback from the lawyers, but the disclaimer will probably be something like:

I assume that we will have this disclaimer in the paper somewhere, as well as in the repository in a README in the data directory.

[2017-12-01 13:23] rcaze commented on #27
[Romain Cazé](rcaze)
Comoutational Neurosciece - Python
ORCID: [0000-0002-7798-3696]( https://orcid.org/0000-0002-7798-3696 )

[2017-12-16 12:39] junpenglao commented on #27
[Junpeng Lao](https://github.com/junpenglao)
Computational Neuroscience, Bayesian Statistics - Python, Matlab
ORCID: [0000-0001-6029-7510]( https://orcid.org/0000-0001-6029-7510)

[2017-12-16 14:05] bhargav-patel commented on #27
[Bhargavkumar Patel](https://github.com/bhargav-patel)
Machine Learning - Python
ORCID: [0000-0002-8767-8011]( https://orcid.org/0000-0002-8767-8011)

[2017-12-18 19:29] gtlaflair commented on #27
[Geoff LaFlair](www.github.com/gtlaflair)
Language assessment, Corpus linguistics, Second language research - R
ORCID: [0000-0003-0306-6550](https://orcid.org/0000-0003-0306-6550)

[2017-12-20 03:34] arinbasu commented on #27
[Arindam Basu](https://github.com/arinbasu)
Epidemiology, Medicine, Environmental Health - R, Python, Stata
ORCID: [0000-0003-2326-2292](https://orcid.org/0000-0003-2326-2292)

[2017-12-22 22:52] NikEfth commented on #27
[Nikolaos Efthymiou](https://github.com/NikEfth)
Medical Imaging, Positron Emission Tomography (PET), Medical image reconstruction - C/C++, QT, python 2.7 (some python 3), Matlab
ORCID: [0000-0003-1947-5033]( https://orcid.org/0000-0003-1947-5033)

[2018-01-29 05:12] kortschak commented on #27
[Dan Kortschak](https://github.com/kortschak)
Genomics - Go
ORCID: [0000-0001-8295-2301](https://orcid.org/0000-0001-8295-2301)

[2018-02-16 08:30] costashatz commented on #27
[Konstantinos Chatzilygeroudis](https://github.com/costashatz)
Reinforcement Learning, Data-Efficient RL for Robot Control, Gaussian Processes, (Bayesian) Optimization - C++ (including modern versions; C++11/14/17), C, Python, Matlab
ORCID: [0000-0003-3585-1027](https://orcid.org/0000-0003-3585-1027)

[2018-02-20 08:19] khinsen opened #66 "How to deal with shallow-code submissions?"
A [recent submission](https://github.com/ReScience/ReScience-submission/pull/46#issuecomment-366629005) has led to a discussion which should better happen in a more general context, so I am moving it here.

In that submission, the supplied code is very shallow: it calls functions from a library with suitable parameters and plots the results. The real work is done by the library. In this particular

[2018-02-23 06:55] thmosqueiro commented on #27
[Thiago Mosqueiro](https://github.com/thmosqueiro)
Computational Neuroscience, Machine Learning, Statistical Physics, Statistical Inference, Applied Mathematics, Biology - Python, Fortran, C/C++, Shell, R & Bioconductor, Octave (Matlab), Scala
ORCID: [0000-0001-5808-8189](https://orcid.org/0000-0001-5808-8189)

[2018-03-12 23:22] mxochicale commented on #27
[Miguel P Xochicale](https://github.com/mxochicale)
Human-Robot Interaction, Chaos and Nonlinear Time Series Analysis, Signal Processing, Deep Learning, Movement Variability, Time-Varying Facial Expressions, Open Science - R, Python, Octave, GNU/LINUX, C/C++ (limited), FORTRAN (limited)
ORCID: [0000-0002-8225-7517](https://orcid.org/0000-0002-8225-7517)

[2018-03-23 16:21] cJarvers commented on #27
[Christian Jarvers](https://github.com/cJarvers)
Computational Neuroscience, Machine Learning/Deep Learning - Python, Octave/Matlab, Julia, Fortran
ORCID: [0000-0003-0062-9776](https://orcid.org/0000-0003-0062-9776)

[2018-04-04 15:15] khinsen opened #67 "Better definition of "full" vs. "partial" replication"
We need
 1. A better definition of what is required for a "full" replication.
 2. Perhaps additional categories to replace the current "partial" replication.

The main variants of "partial" are:
 1. didn't bother to replicate some figures (because they are deemed unimportant)
 2. couldn't attempt replication because the information in the original paper is insufficient
 3. tried but failed to repl

[2018-04-09 08:01] rougier commented on #67
Failed to replicate some results is probably the most tricky.  If the reason of the failure is clearly identified it's ok, but else we've to make sure it's not a bug in the replication.

I've no good ideas for the name of the different categories

[2018-04-09 09:25] khinsen commented on #67
Attacking the question from a different angle: do we actually need categories? All problems encountered should be explained in the article, of course, but what additional value is provided by some short-hand label?

[2018-04-09 13:07] rougier commented on #67
I remember some reviewers were asking how to handle the submission if not everything has been replicated. Added this "partial" category seems to answer this partially (by somehow makign it official you can have a partial replication only). But maybe it is just confusing. We need to have at least the replicated / not replicated for sure, maybe it is sufficient.

[2018-04-18 12:43] LeUnAiDeS commented on #27
[Abdulqawi SAIF] (https://github.com/LeUnAiDeS)
Distributed Systems, Scalable Databases, Big Data Analytics, Software Verification and Validation - Java, C++, Ruby, OCL, JML, R
ORCID: [0000-0003-3537-2499] (https://orcid.org/0000-0003-3537-2499)

[2018-04-18 12:44] LeUnAiDeS commented on #27
[Abdulqawi SAIF](https://github.com/LeUnAiDeS)
Distributed Systems, Scalable Databases, Big Data Analytics, Software Verification and Validation - Java, C++, Ruby, OCL, JML, R
ORCID: [0000-0003-3537-2499](https://orcid.org/0000-0003-3537-2499)

[2018-04-26 07:35] rougier commented on #48
I claim Volume 4, issue 1, Number 1 for [Caze Stimberg Girard 2018](https://github.com/ReScience/ReScience-submission/pull/45)

[2018-05-04 10:41] otizonaizit commented on #48
I claim volume 4, issue 1, Number 3 for [Senden Schuecker Hahne Diesmann Goebel 2018](https://github.com/ReScience/ReScience-submission/pull/46)

[2018-05-14 01:27] ctb commented on #48
I claim volume 4, issue 1, Number 4 for [Mondeel Ogundipe Westerhoff 2018](https://github.com/ReScience-Archives/Mondeel-Ogundipe-Westerhoff-2018).

[2018-05-19 16:43] ctb opened #69 "could someone build the Mondeel et al paper for me, please?"
https://github.com/ReScience-Archives/Mondeel-Ogundipe-Westerhoff-2018/

I have spent about 4 hours trying to get pandoc and pandoc-crossref behaving properly, and can't manage it even on an AWS instance... I should be able to do the rest of the DOI minting.

[2018-05-19 17:02] rougier commented on #69
One option is to work directly on the generated latex file and/or to ask authors to integrate the editor/reviewer/volume information and to recompile.

Good news is that we'll get rid of the pandoc stage soon (hopefully).

[2018-05-21 11:33] pdebuyl commented on #69
see https://github.com/ReScience-Archives/Mondeel-Ogundipe-Westerhoff-2018/pull/2

[2018-05-21 12:16] ctb commented on #69
thank you!!

[2018-05-29 01:01] ctb opened #70 "what is the "read" portion of the web site?"
at https://github.com/ReScience/ReScience/blob/master/editor-guidelines.md, it says to update the "read" portion of the web site, but the link doesn't work. Should I be updating the contents of the Volume 1 link, https://github.com/ReScience/ReScience?

[2018-05-29 01:01] #69 closed

[2018-05-29 06:56] rougier commented on #70
Yes please if it is broken. What is the current link ?

[2018-05-29 13:27] ctb commented on #70
https://github.com/ReScience/ReScience/blob/read - I'm not sure what it's supposed to be pointing to, though, should it be the header 'Archives' on the page  https://github.com/ReScience/ReScience?

[2018-05-29 16:16] ctb commented on #70
ok, I found the instructions via https://github.com/ReScience/ReScience/blob/master/editor-guidelines.md, so what should we do with that page? happy to execute the decision.

[2018-06-21 11:16] ChrisRackauckas commented on #27
[Chris Rackauckas](https://github.com/ChrisRackauckas)
Stochastic (Partial) Differential Equations, Systems Biology, stochastic
processes, dynamical systems, statistics - Julia, MATLAB, Mathematica, C (MPI),
C++, R, Python
ORCID: [0000-0001-5850-0663](https://orcid.org/0000-0001-5850-0663)

[2018-07-04 03:31] ruimcportela commented on #27
[Rui Portela](https://github.com/ruimcportela)
Systems and Synthetic Biology, Metabolic Networks, Machine Learning - Python, Matlab, R, SQL
ORCID: [0000-0002-3627-6477](https://orcid.org/0000-0002-3627-6477)

[2018-07-07 01:38] berquist commented on #27
[Eric Berquist](https://github.com/berquist)
Computational chemistry and spectroscopy - Python, C++
ORCID: [0000-0001-8186-9522](https://orcid.org/0000-0001-8186-9522)

[2018-07-14 10:29] jpgard commented on #27
[Josh Gardner](https://github.com/jpgard)
Machine Learning, Education - Python, R
ORCID: [0000-0002-4998-5918](https://orcid.org/0000-0002-4998-5918)

Nicolas, enjoyed the presentation at ICML!

[2018-07-17 16:51] nicoguaro commented on #27
[Nicolás Guarín-Zapata](https://github.com/nicoguaro)
Computational mechanics, Wave propagation, Solid mechanics - Python, MATLAB, Fortran
ORCID: [0000-0002-9435-1914](https://orcid.org/0000-0002-9435-1914)

[2018-08-03 09:04] rougier commented on #48
I claim volume 4, issue 1, Number 6 for [Hathway Goodman 2018](https://github.com/ReScience/ReScience-submission/pull/51)

[2018-08-08 12:47] jypeter opened #71 "Typo in "Volume 4 - Issue 1" page"
https://github.com/ReScience/ReScience/blob/master/Volume%204%20-%20Issue%201.md

`A reference implemntation of` is missing an "**e**" for 2 articles

[2018-08-08 13:06] #71 closed

[2018-08-08 13:07] khinsen commented on #71
Thanks!

[2018-08-20 18:44] karthik commented on #48
I claim volume 4, issue 1, Number 6 for [Poisot 2018](https://github.com/ReScience/ReScience-submission/pull/39)

[2018-08-21 07:48] rougier commented on #48
@karthik you should claim number 7

[2018-08-21 16:00] karthik commented on #48
Sorry that was a typo. I’ll edit my comment

[2018-09-26 08:11] greatfireball commented on #27
[Frank Förster](https://github.com/greatfireball)
Bioinformatics, Computational Biology, Phylogenetics, Genomics, Transcriptomics, Tool-/Database development - Perl, R, Python, PHP, GNU/Linux, Shell
ORCID: [0000-0003-4166-5423](https://orcid.org/0000-0003-4166-5423)

[2018-10-01 07:56] greatfireball opened #76 "Is evaluating softwares while reproducing only one software prepint out of scope of ReScience"
Dear ReScience Team,

Thanks for the wonderful possibility offered by your journal to confirm or disprove results in current publications.

I have just a short question concerning one of our current projects and the possibility to publish results in ReScience.

We are evaluating some assembly software packages (6 at the moment). So far, one of the softwares has been published (by ourselfs) and ano

[2018-10-06 07:56] rougier commented on #76
I'm not quite sure I understand exactly what you would like to publish. If the preprint is not by your team and you tried to replicate it then yes, we can review/publish it, and inside your paper you're free to introduce the overall context together with other results. So I think it would be within the scope of the journal.

@khinsen any comments ?

[2018-10-06 10:10] khinsen commented on #76
I am not quite sure either that I understand the situation.

There's a preprint that describes some software and demonstrates its use on some data. You say you cannot reproduce the preprint claims. Does that mean you don't get the same results when you run that preprint's software? Or that you get different results using different software?

Your last sentence sounds like you want to publish the r

[2018-10-12 08:33] modenaxe commented on #27
[Luca Modenese](https://github.com/modenaxe)
Computational biomechanics, musculoskeletal modelling, human motion analysis - Matlab, Python
ORCID: [0000-0003-1402-5359](https://orcid.org/0000-0003-1402-5359)

[2018-10-13 16:57] rougier commented on #76
@greatfireball Do you have more information ?

[2018-10-14 21:57] InderdeepBajwa commented on #27
[Inderdeep Singh Bajwa](https://github.com/InderdeepBajwa/)
Web Programming, Machine Learning, Artificial Intelligence, Computer Vision - Python, C++, Julia, Golang, C#
ORCID: [0000-0003-3878-8166](https://orcid.org/0000-0003-3878-8166/)

[2018-11-07 14:25] Lcressot opened #77 "How to deal with personal code from another repo"
Hi,
My submission depends on some other code already public on github and I wanted to know if I could just mention this repo or if I had to copy it all inside this submission ?

More precisely,  I am preparing a submission that partly depends (for generating data) on another github repository. This other repository is public and is already ready to be downloaded and installed with pip package inst

[2018-11-07 20:57] khinsen commented on #77
The main issue for us is the possibility of that code disappearing, if it is not a maintained package with official releases. But we could just archive it on Zenodo with the final article.

@rougier, what is your view on this?

[2018-11-08 16:56] Lcressot commented on #77
Hi,
Thanks for your answer. If it was not clear, the other package is entirely mine and is on my own github account.

I am waiting for your colleague's opinion !

Cordially,
Loic Cressot

[2018-11-08 18:48] rougier commented on #77
Could you "link" the other repo with Zenodo and make a release such that it is archived ? (see https://guides.github.com/activities/citable-code/).

Also, if the main code for replication is in the other repo, it might be worth to make a copy, else a Zenodo archive would be fine.

[2018-11-09 10:39] Lcressot commented on #77
Hi,

Okay, a Zenodo archive seems to be the ideal solution. Thanks for the answer !

Cordially,
Loic

[2018-11-09 11:03] khinsen commented on #77
If it's your own code, that's indeed the best solution: archive the version you use on Zenodo, and refer both to your GitHub repository and to the Zenodo archive in your ReScience submission.

[2018-11-09 11:05] Lcressot commented on #77
Yes, thank you very much for your help, I appreciate it !

Have a good day,
Loic

[2018-11-09 11:47] Lcressot commented on #77
Hi,

Sorry again, I made the zenodo archive and I was just wondering how I should mention it along with the github repo in my article.

Would it be acceptable to insert some additional buttons on the left (see idea1.png) or should I mention it with links (see idea2.png) ? Or were you thinking about another way ?

Thanks again,
Loic

[2018-11-10 09:05] rougier commented on #77
One you get the Zenodo archive, you can cite it as a regular citation (look on zenodo, there should be a bibtex entry for your soft)

[2018-11-10 12:43] Lcressot commented on #77
Oh I see, thank you very much for the answer !

[2018-11-11 07:34] #77 closed

[2018-11-20 14:06] benoit-girard commented on #1
I tried to modify the board page so as to indicate that I know PyNEST (after I realized almost noone states which neural simulator -Biran, Nest, Neuron- they are familiar with, an information that is helpful for editors looking for rviewers), but this has not been propagated to the webpage: how is it done?

Second, I do not belong anymore to Université Pierre & Marie Curie (as it merged with Paris

[2018-11-22 16:36] ThomasA commented on #1
@benoit-girard when you do that, I guess GitHub may have created a fork of the repository for you. If this is the case, your edits are in your own fork of the repo; not the one the ReScience homepage is generated from. You can create a pull request against the original repo to get your changes incorporated in it.

[2018-11-27 16:04] DerekJuba-NIST opened #78 "Replicating a paper that uses your code"
I see that replications of your own work are not accepted, but what about replications of others' work that uses your code?

We have created and released some open-source scientific code.  Another group has used our code (as well as other code) to produce some research results.  Would us replicating these results be publishable  by this journal?

[2018-11-28 08:02] khinsen commented on #78
I'd say it depends on how much "added value" is in the paper you want to replicate. If it's just a three-line script that calls your code, I don't see the point. But if the authors of that paper have invested substantial additional effort in their original article, then I don't see the use of your code as an obstacle to you doing a replication.

The heart of replication is re-doing the translation

[2018-11-28 13:57] arinbasu commented on #78
This sounds more of reproduction than replication.

⁣Sent from BlueMail ​

On 28 Nov 2018, 21:02, at 21:02, Konrad Hinsen <notifications@github.com> wrote:

[2018-11-28 18:37] DerekJuba-NIST commented on #78
To elaborate a bit more, the authors of the paper have come up with a new method to compute certain molecular properties and have released an open-source implementation.  The paper describes their algorithm and compares their results to those from implementations of several other algorithms, including one released by us.

What I seem to be hearing is that, if we just ran ran our code and the other

[2018-11-29 20:34] rougier commented on #1
@benoit-girard Do you have a PR button somewhere ? I think @ThomasA is right and you might have edited your own fork (that might be out of date by the way).

[2018-12-03 08:13] rougier opened #79 "ReScience (R)evolution"
Dear @ReScience/associate-editors, @ReScience/editors,

We (@khinsen and me) have submitted an editorial at [this address](https://github.com/rescience-c/submissions/issues/1) that propose some changes for the journal in order to make the life of everybody easier. You can read the paper and wait for the review to start to comment on the proposed ideas. The most noticeable change is a slight name m

[2018-12-12 15:11] otizonaizit commented on #79
Hi @ReScience/reviewers @ReScience/associate-editors @ReScience/editors !

You are all welcome to participate in reviewing the newly submitted editorial: https://github.com/rescience-c/reviews/issues/1
The editorial proposes some important changes to the submission/review/publication to the ReScience journal family and also a new layout.

I am looking forward to a fruitful discussion!
Tiziano

[2018-12-12 16:08] labarba commented on #79
If ReScience is interested in using the JOSS publication workflow, I can heartily recommend it—out bot `whedon` is super-powered. Check out this one example: I published this paper today, after all review/submission/archive deposit steps were done, in _just minutes_, doing:

`@whedon accept`

... then check that everything is correct, sanity check on the Crossref deposit and PDF. Then,

`@whedon a

[2018-12-17 09:13] rougier commented on #79
That's the idea. We're actually working with @trallard (Tania Allard) to see how much of `@whedon` we can use. It is not clear yet but we'll have a better idea of the workflow after this submission has been reviewed. I will then specify  what is actually needed from the bot.

[2018-12-17 09:49] trallard commented on #79
Yes, we have had some chats around this and it would be really exciting to get `whedon` working for Rescience

[2018-12-20 14:02] daissi commented on #27
[Dylan Aïssi](https://github.com/daissi/)
Bioinformatics, Computational Biology, Epigenomics, Genomics, Transcriptomics - R, Shell, Python, Perl, Julia
ORCID: [0000-0002-5858-6468](https://orcid.org/0000-0002-5858-6468)

[2019-01-14 18:31] mnarayan commented on #27
[Manjari Narayan](https://github.com/mnarayan)
Applied and Computational Statistics, Machine Learning, Computational Neuroscience, Neuroimaging - Python, MATLAB/Octave, R
ORCID: [0000-0001-5348-270X](https://orcid.org/0000-0001-5348-270X)

[2019-01-23 09:10] pdebuyl commented on #42
Since the discussions, I added the line about "platform instructions" in the author's guidelines.

People seem to use it in recent submissions also, even though I am not certain that all editors know about this.

I propose to close anyway, as the instructions are there.

[2019-01-25 09:57] #70 closed

[2019-01-25 09:58] #42 closed

[2019-01-25 10:52] #41 closed

[2019-01-25 10:55] pdebuyl commented on #36
Although the revolution is no yet complete, this can be closed I guess :-)

(From time to time, it is good to check old issues for some spring cleaning. I shold write grants.)

[2019-02-28 18:57] tpoisot commented on #79
Hi all

We're about to start a MS for ReScience as part of a graduate class, should we still use the former submission process or should we volunteer to test drive this one?

[2019-02-28 19:16] rougier commented on #79
That's great ! The new process is supposed to be more simple but a real test would help to decide if it is the case. What is not yet clear to me is whether I just transform the old website or if we migrate everything to this new website (not sure about how to migrate editor/reviewers).

If you intend to have many submission, we could also test the "special issue" stuff.
In the meantime, we also ne

[2019-02-28 22:48] tpoisot commented on #79
@rougier we'll have two submissions, so not quite a special issue -- for now, we'll just setup projects as we normally would, and we'll reformat the markdown files if needed in the correct format.

[2019-03-19 20:20] pdebuyl commented on #48
I claim Volume 5, Issue 1, Number 1, for Caron, Lessard, Wu, Poisot 2019 https://github.com/ReScience/ReScience-submission/pull/50

[2019-03-21 10:42] benoit-girard commented on #48
I claim Volume 5, Issue 1, Number 2, for Tennøe et al., 2019,  https://github.com/ReScience/ReScience-submission/pull/53

[2019-03-28 11:25] garrett-m-smith commented on #27
[Garrett Smith](https://github.com/garrett-m-smith)
Psycholinguistics, cognitive modeling, dynamical systems - Python, R, Matlab/Octave
ORCID: [0000-0001-7238-3942](https://orcid.org/0000-0001-7238-3942)

[2019-04-24 08:34] romangrothausmann commented on #27
[Roman Grothausmann](https://github.com/romangrothausmann)
Digital image analysis of 3D data - Python, C/C++, Octave, Java, GNU/Linux
ORCID: [0000-0001-5550-4239](https://orcid.org/0000-0001-5550-4239)

[2019-05-17 17:31] brouwern commented on #27
[Nathan Brouwer](https://github.com/brouwern)
Population ecology, demographic models, mark-recapture models, mixed effects models - R

[2019-05-28 09:05] pdebuyl opened #82 "Is ReScience indexed? (FAQ candidate)"
Everything is in the title. I was "selling" ReScience to a colleague and the question came up.

[2019-05-29 06:39] khinsen commented on #82
Indexed by who? We have an ISSN, which is 2430-3658. But we are not indexed by the big citation databases (Web of Science, Scopus), as far as I know, nor by Google Scholar (see https://github.com/ReScience/ReScience/issues/38). We could probably get into Google Scholar if the rules haven't changed, but I am not sure we can do much about the other ones.

[2019-05-29 08:21] pdebuyl commented on #82
Thanks Konrad. This is what I guessed, but I think that we should state that in the FAQ for clarity.

[2019-05-29 08:24] pdebuyl commented on #38
The current situation is that the only ReScience papers that are found on Scholar are those that have been uploaded to some *other* repository (researchgate, hal - archives-ouvertes). I still don't understand from the above discussions how we could get "regular" ReScience articles to appear in scholar by simply having them on zenodo.

[2019-06-03 08:50] rougier commented on #82
My understanding of the long #38 thread is that we could probably add all the paper on the rescience website (under articles repository) such that they can be harvested by Google Scholar. O did I read it wrong ?

[2019-06-03 10:39] khinsen commented on #82
That's my understanding as well. There seem to be two ways to get stuff into Google Scholar:

 1. Make the articles available from a Web site that conforms to the expectations of Google's crawler. Unfortunately these expectations are neither simple nor well explained.
 2. Upload the PDFs one by one to Google Books. That looks like a straightforward procedure: we could create a Google account for R

[2019-06-27 14:36] kerchner opened #83 "Search by DOI of article being replicated"
We see that you've added a `metadata.yml` to your submission template that should include the DOI of the original article being reviewed.

Are you planning on making the DOIs searchable, so that someone might check to see whether any replications have been submitted for a given DOI?

[2019-06-27 15:27] khinsen commented on #83
That's an interesting use case. It should be possible to do such a search on Zenodo if we indicate the submitted DOIs as "related identifiers". But I haven't checked out how exactly such a search would have to be formulated.

[2019-06-28 06:08] rougier commented on #83
That's a very nice idea indeed. I'm not sure yet on how to add the search option but we could at least have a replicated file collecting all the DOI.

[2019-07-17 14:43] diazrenata opened #84 "Replication of work done by other members of your lab"
Hi there! I'm wondering if a recent replication project of mine would be an appropriate submission.

I've recently [replicated](https://github.com/diazrenata/replicate-becs/blob/master/report/ernest_2005_replication.md) a [paper](https://esajournals.onlinelibrary.wiley.com/doi/pdf/10.1890/03-3179) written by my advisor in 2005. My advisor is aware of the project, but hasn't been otherwise involved

[2019-07-18 11:00] rougier commented on #84
Since the paper is more than a decade old and your supervisor was not involved in the replication, I think it is ok to propose it. @khinsen What do you think ?

[2019-07-18 11:13] tpoisot commented on #84
Happy to handle this one if it gets submitted.

[2019-07-19 05:21] khinsen commented on #84
@rougier I agree.

[2019-07-19 11:09] rougier commented on #84
@diazrenata You're good to go then !

[2019-07-19 11:09] #84 closed

[2019-07-24 11:02] fgeoffroy opened #85 "Replicating two papers at once"
Hi all,

Is it conceivable to replicate the results of two different papers in the same ReScience publication?

In the case that interests me, the two papers share the same authors and the same algorithm. They only differ from each other in their initial conditions and in some assumptions in the underlying model.

[2019-07-24 11:21] rougier commented on #85
If this is the same algorithm, that would make sense yes. The only "problem" is that we generally use the title of the original article prefix by [Re] such that when people search for the article, they'll also find the replication hopefully. In your case, you'll have to choose one of the two title. But apart from this, no problem to write a single paper out of two.

[2019-07-24 12:13] fgeoffroy commented on #85
That's what I thought, thank you very much!

[2019-07-24 13:04] #85 closed

[2019-08-06 22:12] marouenbg commented on #38
It would be nice to have joss papers indexed by scholar!

[2019-08-07 12:12] MahShaaban commented on #27
[Mahmoud Ahmed](https://github.com/MahShaaban)
Genomics, Epigenomics - R, Shell
ORCID: [0000-0002-4377-6541](https://orcid.org/0000-0002-4377-6541)

[2019-08-08 13:50] labarba commented on #38
Hi folks! I wonder if the journal leadership might reconsider the Crossref membership to issue DOIs for the papers. Unless things have changed, the Zenodo DOIs are not a great solution for papers, if one wants those papers to collect citations and be indexed.

[2019-08-09 11:57] Repositorian commented on #38
Hi JOSS-folks!

Just piping in to share perspectives from another non-APC OA journal publisher who faces challenges getting indexed.  CaltechLibrary publishes microPublication Biology (mPB), which is produced by and for the model organism communities. Wormbase resides at Caltech, so that is how the Library got involved.

The Library is registering DOIs for mPB articles via DataCite -- a choice the

[2019-08-09 19:36] labarba commented on #38
See my three comments starting here: https://github.com/ReScience/ReScience/issues/38#issuecomment-262841562
(This is old, though.)

[2019-08-11 10:23] khinsen commented on #38
Re-reading this whole thread, my impression is that nobody really knows what it takes to get indexed by Google Scholar, at least not in terms of minimal conditions that guarantee success. It is also well possible that the rules change over time.

One idea that has been floating around is depositing the PDF files of ReScience articles in [HAL](https://hal.archives-ouvertes.fr/) (a repository for pr

[2019-08-23 09:16] rougier commented on #38
Is it possible to deposit on HAL if you're non French or have no French in your co-authors ?

[2019-08-23 13:27] marouenbg commented on #38
I uploaded my JOSS paper in HAL, the issue is that scholar does not pick the journal name, nor the citations, just a flat pdf.

[2019-08-24 13:14] khinsen commented on #38
@rougier I don't see a restriction to French authors mentioned anywhere.

@marouenbg Google Scholar always seems to point to the full text (HTML or PDF) when available. Is there anything that makes you believe that it treats HAL deposits differently from other publications?

[2019-08-30 09:57] rgutzen commented on #27
[Robin Gutzen](https://github.com/rgutzen)
Computational Neuroscience - Python
ORCID: [0000-0001-7373-5962](https://orcid.org/0000-0001-7373-5962)

[2019-09-04 22:04] marouenbg commented on #38
@khinsen look how the JOSS article was displayed in scholar when archived in HAL (missing journal reference and citations)

https://scholar.google.fr/scholar?hl=en&q=ACHR.+cu:+GPU+accelerated+sampling+of+metabolic+networks.&as_sdt=0

[2019-09-06 07:59] khinsen commented on #38
@marouenbg Indeed. I didn't expect a journal reference because I don't see how Google Scholar cold figure it out without actually parsing the text of the PDF file. It picks up an article from HAL, so it refers to HAL. If we want it to refer to ReScience, we'd have to find a way for Google Scholar to scan ReScience, but then we are back to the initial question - nobody knows what must be done to ma

[2019-09-06 17:53] labarba commented on #38
Hi folks — an update on the JOSS side: we've made progress through personal connections at Google to get more information from the Scholar team, and are in the process of making some modifications that will enable their indexing of JOSS papers. We were told that the machine-readable bibliography metadata was missing key fields. They also told us that "The PDF file for the article should be on the

[2019-09-07 14:51] rougier commented on #38
@labarba That's great but I'm not sure to understand what do you mean with PDF on the same host as the page with the metatags. You mean the crossref `.xml`?

[2019-09-07 18:35] labarba commented on #38
Here's a JOSS paper:
https://joss.theoj.org/papers/10.21105/joss.01327

If you open the web inspector on your browser, you can pull up under Resources the metatags added specifically for Google Scholar crawling. Line 65 for this paper's website has:

```<meta name="citation_pdf_url" content="https://www.theoj.org/joss-papers/joss.01327/10.21105.joss.01327.pdf">```

The URLs don't have a matched do

[2019-09-08 13:24] rougier commented on #38
Maybe related: https://support.google.com/merchants/answer/160050?hl=en

[2019-09-17 00:45] labarba commented on #38
JOSS is working on the issue of domain-matching the PDFs of papers here: https://github.com/openjournals/joss/pull/605

[2019-10-11 12:52] rougier opened #86 "Ten Years Reproducibility Challenge"
Dear all,

We have just launched the **Ten Years Reproducibility Challenge** whose goal is to try to run your own code. The only "trick" is that this code must be older than ten years. Quite a challenge indeed. More information at http://rescience.github.io/ten-years/

![ten-years-challenge](https://user-images.githubusercontent.com/327203/66652751-c17b8e80-ec36-11e9-976f-8a2736739920.png)

[2019-10-12 18:29] labarba commented on #38
UPDATE
JOSS is now being indexed by Google Scholar. We appealed directly to a Google contact who then relayed our request to the manager of Google Scholar. We got some information back about the metadata —see above: https://github.com/ReScience/ReScience/issues/38#issuecomment-528951884 and https://github.com/ReScience/ReScience/issues/38#issuecomment-529134954
After completing some fixes on the J

[2019-10-12 20:21] arfon commented on #38
Very weird. The metadata tags on the page look complete:

[code]

I wonder if Scholar isn't actually parsing these tags correctly. One thing that looks a little weird is the [BibTeX entry](https://scholar.googleusercontent.com/scholar.bib?q=info:DTazfHo8HOIJ:scholar.google.com/&output=citation&scisdr=CgXMGMbSEKfam0czno8:AAGBfm0AAAAAXaI2ho81Nkff07-KVRilKHmw4756sP5U&scisig=AAGBfm0AAAAAXaI2hnSyM39frk

[2019-10-13 07:21] rougier commented on #38
It seem it is actually parsing the PDF:
https://scholar.google.co.uk/intl/en/scholar/inclusion.html#overview

[2019-11-04 15:50] khinsen commented on #48
I claim Volume 5, Issue 3, Number 1 for Sukhoy and Stoytchev, https://github.com/ReScience/submissions/issues/6

[2019-11-07 19:45] gdetor commented on #48
I claim Volume 5, Issue 3, Number 2 for Larisch, https://github.com/ReScience/ReScience-submission/pull/57#

[2019-12-09 10:41] oliviaguest commented on #48
I claim Volume 5, Issue 3, Number 3 for https://github.com/ReScience/submissions/issues/7

[2019-12-27 21:50] labarba commented on #38
hi folks — over at JOSS, we continue to make progress to iron out all the wrinkles so Google Scholar will index articles properly: https://github.com/openjournals/joss/pull/656

[2019-12-28 08:16] rougier commented on #38
Nice. What is the trick in the end (such we can adapt the method for ReScience as well)?

[2019-12-28 11:00] arfon commented on #38
I'm not sure we know exactly yet! We've just deployed the changes in openjournals/joss#656 so it would be good to see if they resolve our issues with indexing before making any recommendations...

[2019-12-28 12:13] labarba commented on #38
Have you considered @rougier taking ReScience into the OpenJournals umbrella? With the amount of work that is going into this... that might be the easiest way to get indexed!

[2019-12-28 17:48] rougier commented on #38
@labarba Yes, I've considered it a lot actually. I intended to ask you and @arfon a few questions before. I will open a new issue.

[2020-01-11 22:36] labarba commented on #38
Everyone—success!! JOSS papers are now properly being crawled by Google Scholar, and the correct metadata is showing up in the citation tool, including in BibTeX format. 🚀

This was not only a long, frustrating journey—a march through fog, it seemed—but we needed help from friends in high places to be heard by gate keepers. 😩

[2020-01-14 13:44] rougier commented on #38
What was the problem in the end?

[2020-01-14 16:03] arfon commented on #38
There were two main issues:

1. The domain that the PDFs were hosted on wasn't the same as the journal website. This has now been fixed so the HTML URL for a paper is https://joss.theoj.org/papers/10.21105/joss.01684 and the PDF response is https://joss.theoj.org/papers/10.21105/joss.01684.pdf
2. The Google crawler bot was sometimes being redirected before it could crawl all of the meta tags at th

[2020-01-14 18:24] rougier commented on #38
Well, long term assistance would be to use the JOSS architecture for ReScience and to benefit from all of your hard work!

[2020-01-15 16:17] arfon commented on #38
Of course!

[2020-01-29 10:24] khinsen commented on #48
I claim Volume 6, Issue 1, Number 1 for https://github.com/ReScience/submissions/issues/11.

Note that issue 1 is for the [Ten Years Reproducibility Challenge](https://github.com/ReScience/ten-years). Other articles in 2020 should go into volume 6, issue 2.

[2020-02-10 08:13] rougier opened #87 "Ecology editors"
@khinsen @benoit-girard @oliviaguest We may have to recruit new editors for ecology because we have regular submissions. I think @tpoisot proposed some names some time ago but I don't remember if I've contacted them. Else, we can promote reviewers that have already reviewed ecology submission. What do you think ?

[2020-02-10 09:53] oliviaguest commented on #87
Why not compose a list of names (either way) and ask them if they want to help us?

[2020-02-10 10:32] rougier commented on #87
Yes, we can do that. Maybe privately? I'm afraid a public list would put too much pressure on potential candidates.

[2020-02-17 12:51] schmidDan commented on #27
[Daniel Schmid](https://github.com/schmidDan)
Computational Neuroscience, Deep Learning - Julia, Python, Matlab, C/C++
ORCID: [0000-0002-2439-9453](https://orcid.org/0000-0002-2439-9453)

[2020-02-26 18:50] TrashBirdEcology commented on #27
[Jessica L. Burnett](https://github.com/trashbirdecology)
  Ecology - R
  ORCID: [0000-0002-0896-5099](https://orcid.org/0000-0002-0896-5099)

[2020-03-02 19:42] kbroman commented on #27
[Karl Broman](https://github.com/kbroman)
Statistics, Genetics - R, C/C++
ORCID: [0000-0002-4914-6671](https://orcid.org/0000-0002-4914-6671)

[2020-03-02 20:34] BrunoLevy commented on #27
[Bruno Levy](https://github.com/BrunoLevy)
Computer graphics, scientific computing - C,C++,assembly,AppleII

[2020-03-03 08:52] sabinomaggi commented on #27
[Sabino Maggi](https://github.com/sabinomaggi)
Physics, Data Analysis - Fortran, Python, R
ORCID: 0000-0002-1523-6484

[2020-04-03 06:18] mjonyh commented on #27
[Md. Enamul Hoque](https://github.com/mjonyh)
Computational Physics and Simulation - Python, C
ORCID: [0000-0001-6052-8059](https://orcid.org/0000-0001-6052-8059)

[2020-04-10 17:17] andreas-enge commented on #27
[Andreas Enge](https://github.com/andreas-enge)
Computational number theory, Multiprecision arithmetic, Computer algebra - C, Pascal, Scheme
ORCID: none

[2020-04-23 14:50] khinsen commented on #48
I claim Volume 6, Issue 1, Number 2 for https://github.com/ReScience/submissions/issues/22.

[2020-04-30 12:03] sje30 opened #88 "orcid logo"
Would you like some latex code for rendering the ORCID logo in a slightly more orthodox fashion?

For our CODECHECK certificates (e.g. https://github.com/codecheckers/2020-cov-tracing/blob/master/codecheck/codecheck.pdf)
I used this code:
https://tex.stackexchange.com/questions/445563/ieeetran-how-to-include-orcid-in-tex-pdf-with-pdflatex/445583
see https://github.com/codecheckers/2020-cov-tracing

[2020-05-03 05:41] rougier commented on #88
Oh nice! And yes, we could definitely use it, thanks. Can you make a PR for the latex template?

[2020-05-03 07:36] sje30 commented on #88
I can try (been struggling a bit with tex goodness).   But how would you lke the authors rendered, given you also use superscript for addresses, affiliations?  J Neuroscience does this, which I think is quite nice:

![2020-05-03_1680x1050](https://user-images.githubusercontent.com/1095067/80908532-821ea780-8d18-11ea-9ede-1343be4c79bd.png)

i.e logo then name then superscripts for author affiliatio

[2020-05-03 07:57] rougier commented on #88
But they have a problem with spacing obviously and the logo is vertically misplaced. I will check on ORCID site if they have any recommendation.

[2020-05-03 08:40] sje30 commented on #88
Yes, the spacing is off at j neurosci.

I am happy with the spaced and slightly smaller version I made, see the SE link

On 3 May 2020 08:58:03 BST, "Nicolas P. Rougier" <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-05-03 15:37] broukema opened #89 "Shifting off github for ethical and practical reasons"
Why should _ReScience C_ shift off github? I think that _ReScience C_ should consider this. Migration would take some effort, and a decision on an alternative server would not be easy. But IMHO it would be worth it. Here are the reasons (for a slightly more compact [toot](https://en.wikipedia.org/wiki/Fediverse) version, outside of Microsoft's control, see https://framapiaf.org/@boud/1041051844686

[2020-05-04 08:06] rougier commented on #88
Yep, better. I'll try to adapt your code and we'll stick to the superscript version after affiliation.

[2020-05-04 08:57] rougier commented on #89
I think we're aware of the many problems tied to the use of GitHub but it was a deliberate choice made at the time of creation of ReScience. With all its defaults, GitHub remains a popular choice for developers and at that time, it made sense to use it for a swift start. You're right that we now have alternatives, but because the journal is now established, it might be difficult to switch and woul

[2020-05-04 09:16] khinsen commented on #89
To add to @rougier arguments: We have been discussing the evolution of ReScience's technical infrastructure for a while, the main goal being a more automated processing workflow. And the whole scientific publishing business is undergoing rapid change. The arguments you quote are valid, and should be part of our list of criteria for future evolution, but that list also contains lots of other and pa

[2020-05-04 22:08] broukema commented on #89
Thanks for the explanations!

As far as I know the takeover by Microsoft happened _after_ ReScience was created. So the most dramatic reason for considering a shift didn't yet exist at the time.

[2020-05-05 05:48] juniperlsimonis commented on #27
[Juniper Simonis](@juniperlsimonis)  (they/them pronouns)
Computational & Statistical Ecology, Conservation Biology - R, bash/shell, C/C++, html, SQL
ORCID: [0000-0001-9798-0460](https://orcid.org/0000-0001-9798-0460)

[2020-05-22 23:24] broukema commented on #89
Here's a practical example of the sort of risk that _ReScience_  could potentially
be subject to - semi-censorship in the github `Issues` structure. See this incident
that started going viral during the last few days:

https://medium.com/@probonopd/microsoft-loves-linux-a-little-too-much-cff91023e4b8

https://www.phoronix.com/scan.php?page=news_item&px=Microsoft-KDE-MAUI

The number of comments ma

[2020-05-23 16:07] rougier commented on #89
Thanks for the link. Again, if we had resources to consider alternatives, we probably would but this might be difficult and until the threat got real, I guess we'll stick to GitHub.
cc @oliviaguest and @benoit-girard (editors in chief)

[2020-05-23 16:37] oliviaguest commented on #89
I respect the issues with any platform, but see no huge reason to move from GitHub at the time being. Nothing stops us from relocating in the future, of course.

[2020-05-25 06:39] rougier commented on #48
I claim Volume 6, Issue 3, Number 1 for https://github.com/ReScience/submissions/issues/9

[2020-06-03 16:11] #89 closed

[2020-06-04 07:17] khinsen commented on #48
I claim Volume 6, Issue 1, Number 3 for https://github.com/ReScience/submissions/issues/12

[2020-06-08 16:11] khinsen commented on #48
I claim Volume 6, Issue 1, Number 5 for https://github.com/ReScience/submissions/issues/14

[2020-06-08 21:07] oliviaguest commented on #48
I claim Volume 6, Issue 3, Number 2 for ReScience/submissions#29

[2020-06-09 05:58] ilemhadri commented on #27
[Ismael Lemhadri](https://github.com/ilemhadri)
Statistics, Applied Statistics, Statistical Learning, Machine learning, Data Science - R, bash/shell, Python
ORCID: [0000-0001-7371-6761](https://orcid.org/0000-0001-7371-6761)

[2020-06-09 13:39] otizonaizit commented on #48
I claim Volume 6, Issue 1, Number 6 for https://github.com/ReScience/submissions/issues/32

[2020-06-11 09:02] otizonaizit commented on #48
I claim Volume 6, Issue 1, Number 7 for https://github.com/ReScience/submissions/issues/20

[2020-06-19 09:00] rougier commented on #48
I claim Volume 6, issue 1, Number 8 for https://github.com/ReScience/submissions/issues/19

[2020-06-19 12:22] pantale commented on #27
[Olivier Pantalé](https://github.com/pantale)
Finite Elements, Non-linear behavior laws, Metal forming,  - C/C++, Python, Linux OS
ORCID: [0000-0001-7367-5453](https://orcid.org/0000-0001-7367-5453)

[2020-06-22 11:47] pdebuyl commented on #48
I claim Volume 6, issue 1, Number 9 for https://github.com/ReScience/submissions/issues/33

[2020-06-23 15:27] rougier commented on #48
I claim Volume 6, issue 1, Number 10 for https://github.com/ReScience/submissions/issues/23#issuecomment-646762988

[2020-06-30 17:47] pdebuyl opened #90 "Archive github auxiliary data"
As mentioned in https://github.com/ReScience/submissions/issues/41 (and probably discussed earlier, I can't find links though), at some point ReScience should archive all repositories *and* the extra data, specifically issues and pull request discussions.

[2020-06-30 18:14] labarba commented on #90
We're doing that at JOSS. Can you brief here @arfon?

[2020-06-30 18:25] rougier commented on #90
Probably we need to switch to the JOSS  framework at some point, it will make things easier for everyone (especially me). However, we have some specificities and I don't know if  this is compatible:

1. We have volume / issue / special issue
2. We have different type of articles
3. We (now ) use software heritage instead of Zenodo

There are probably some other specificities that I don't remember

[2020-06-30 19:24] labarba commented on #90
None of the things you mention have any impact on adopting the JOSS framework. JOSS has volume/issue as well. Special issue sounds like a minor tweak (but we're adopting theme tracks in JOSS soon, so could be related). To link a paper to the archive, be it Zenodo or another one, all you need is the global identifier and a command: `@whedon add <id> as archive`. This embeds the identifier in the `r

[2020-06-30 20:36] rougier commented on #90
Ok great. For software heritage, I meant for the source code. For the article we still use Zenodo but we can switch to crossref.

[2020-06-30 20:42] labarba commented on #90
Gah. Yes, I was talking about the _software_ archive: we use Zenodo, you use Software Archive... it doesn't matter because all we need is a global identifier. The bot `whedon` makes sure that ID goes into the XML file that is deposited with Crossref.

Note that Crossref is only a registry. What is deposited there is the metadata of the paper only.

JOSS makes permanent archival of the paper using

[2020-07-03 13:11] khinsen opened #91 "Corrections to published articles"
@ReScience/editors Do we have a policy for corrections to already published articles? I don't remember if this has already happened. I am pretty sure we don't publish separate errata, 20th century style.

Context: @rdicosmo has corrected two links in his contribution to the ten-year challenge (the commit is https://gitlab.inria.fr/dicosmo/ocamlp3l-rescience/-/commit/4c2831bd724c0ac13d145482b01f79e

[2020-07-03 13:15] oliviaguest commented on #91
One perhaps radical idea that springs to mind is to also contact anybody who has cited the paper, just to let them know if the change too.

[2020-07-03 16:40] labarba commented on #91
If a paper to ReScience was peer-reviewed, I don't think it's proper to simply update the link on ReScience to a new version of the paper (new DOI, or new version of the DOI). The new version could be shown with a new link, perhaps, along with the old, with an "UPDATE <date>" note.

[2020-07-05 12:59] arfon commented on #90
Not quite. We archive a JSON representation of the JOSS review thread once the paper has been accepted and published. This archive is deposited with the paper PDF and the Crossref metadata with Portico. As @labarba mentioned, the software is archived with Zenodo (typically) but that is usually only the software and not the rest of the repository activity (issues, pull requests etc.)

I suspect thi

[2020-07-05 14:11] labarba commented on #90
I want to add as a prospective author (we have a draft in near-ready state) I would be much happier if ReScience made the hop to Open Journals, and adopted that system—in particular the Crossref DOI and Portico archive. In the current ReScience publication flow, I'm iffy about the Zenodo DOI for a _paper_ and the fact it is not captured by Google Scholar.

[2020-07-05 15:31] oliviaguest commented on #90
Thank you for all the info! I really struggle to do stuff without a @whedon-like bot. Very excited to move to something more JOSS-like.

[2020-07-05 19:38] rougier commented on #91
We can publish an errata (with a special section for this) and I can check how to make it appear on the original entry.